.grid-row
  .column-full
    %h2.heading-medium= t('schools.no_vacancies.heading')

    %p
      = "To"
      = link_to 'create a good vacancy listing', new_school_job_path(school)
      = 'for your school, you will need the following information:'

  .column-one-half
    %h2.heading-small Required
    %ul.list.list-bullet
      - t('schools.no_vacancies.bullets.mandatory').each do |bullet|
        %li= bullet

  .column-one-half
    %h2.heading-small Optional
    %ul.list.list-bullet
      - t('schools.no_vacancies.bullets.optional').each do |bullet|
        %li= bullet
