.govuk-grid-row
  .govuk-grid-column-full
    %h2.govuk-heading-m= t('schools.no_jobs.heading')

    %p
      = "To"
      = link_to 'create a good job listing', new_school_job_path(school)
      = 'for your school, you will need the following information:'

  .govuk-grid-column-one-half
    %h2.govuk-heading-s Required
    %ul.govuk-list.govuk-list--bullet
      - t('schools.no_jobs.bullets.mandatory').each do |bullet|
        %li= bullet

  .govuk-grid-column-one-half
    %h2.govuk-heading-s Optional
    %ul.govuk-list.govuk-list--bullet
      - t('schools.no_jobs.bullets.optional').each do |bullet|
        %li= bullet
