.govuk-tabs
  %h2.govuk-tabs__title
    = t('aria_labels.content')
  %ul.govuk-tabs__list.tab-list{ class: 'govuk-!-margin-top-6' }
    - OrganisationVacanciesPresenter.valid_types.each do |t|
      %li{ class: "govuk-tabs__list-item #{@vacancies_presenter.vacancy_type == t ? 'govuk-tabs__list-item--selected' : ''}" }
        - if t == :awaiting_feedback
          = link_to jobs_with_type_school_path(t), class: "govuk-tabs__tab" do
            = t("jobs.#{t}_jobs")
            = awaiting_feedback_badge(@awaiting_feedback_count)
        - else
          = link_to t("jobs.#{t}_jobs"), jobs_with_type_school_path(t), class: "govuk-tabs__tab"

  = render partial: "vacancies_#{@vacancies_presenter.vacancy_type}", locals: { presenter: @vacancies_presenter }
