%section.govuk-tabs__panel
    %h2.govuk-heading-m= t("jobs.published_jobs")

    - if presenter.vacancies.any?
        %table{class: 'vacancies govuk-table govuk-!-margin-top-4'}
            %thead.govuk-table__head
                %tr.govuk-table__row
                    %th.govuk-table__header= t('jobs.job_title')
                    %th.govuk-table__header= t('jobs.publish_on')
                    %th.govuk-table__header= t('jobs.expires_on')
                    %th.govuk-table__header= t('jobs.page_views')
                    %th.govuk-table__header= t('jobs.get_more_info_clicks')
                    %th.govuk-table__header{ colspan: 3}= t('jobs.actions')
            %tbody.govuk-table__body
                - presenter.vacancies.each do |vacancy|
                    = render partial: 'vacancy_published', locals: { vacancy: vacancy, school: presenter.school }
    - else
        %p= t("jobs.no_published_jobs")
