%table.vacancies
  %th= t('jobs.job_title')
  %th= t('jobs.publish_on')
  %th= t('jobs.expires_on')
  %th= t('jobs.status')
  %th{ colspan: 2}= t('jobs.actions')
  - vacancies.each do |vacancy|
    = render partial: 'vacancy', locals: { vacancy: vacancy, school: school }
