
%section.govuk-tabs__panel
  %h2.govuk-heading-m= t('jobs.awaiting_feedback')

  %p.govuk-body=t('jobs.awaiting_feedback_intro')

  - if presenter.vacancies.any?

    %table{class: 'vacancies govuk-table govuk-!-margin-top-4', id: 'awaiting_feedback'}
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header= table_header_sort_by(t('jobs.job_title'), 'expired', column: 'job_title', sort: @sort)
          %th.govuk-table__header= table_header_sort_by(t('jobs.publish_on'), 'expired', column: 'publish_on', sort: @sort)
          %th.govuk-table__header= table_header_sort_by(t('jobs.expired_on'), 'expired', column: 'expires_on', sort: @sort)
          %th.govuk-table__header= t('jobs.job_filled')
          %th.govuk-table__header= t('jobs.listed_elsewhere')
          %th.govuk-table__header= t('jobs.actions')
      %tbody.govuk-table__body
        - presenter.vacancies.each do |vacancy|
          = render partial: 'vacancy_awaiting_feedback', locals: { vacancy: vacancy, school: presenter.school }

  - else
    %p.govuk-body-l= t("jobs.no_awaiting_feedback_jobs")

