%section.govuk-tabs__panel
    %h2.govuk-heading-m= t("jobs.draft_jobs")

    - if presenter.vacancies.any?
        %table{ class: 'vacancies govuk-table govuk-!-margin-top-4' }
            %thead.govuk-table__head
                %tr.govuk-table__row
                    %th.govuk-table__header= table_header_sort_by(t('jobs.job_title'), 'draft', column: 'job_title', sort: @sort)
                    %th.govuk-table__header= table_header_sort_by(t('jobs.draft.time_created'), 'draft', column: 'created_at', sort: @sort)
                    %th.govuk-table__header= table_header_sort_by(t('jobs.draft.time_updated'), 'draft', column: 'updated_at', sort: @sort)
                    %th.govuk-table__header{ colspan: 2}= t('jobs.actions')
            %tbody.govuk-table__body
                - presenter.vacancies.each do |vacancy|
                    = render partial: 'vacancy_draft', locals: { vacancy: vacancy, organisation: presenter.organisation }
    - else
        %p= t("jobs.no_draft_jobs")
