%table{class: 'vacancies govuk-table govuk-!-margin-top-4'}
    %thead.govuk-table__head
        %tr.govuk-table__row
            %th.govuk-table__header= t('jobs.job_title')
            %th.govuk-table__header= t('jobs.date_to_be_posted')
            %th.govuk-table__header= t('jobs.expires_on')
            %th.govuk-table__header{ colspan: 2}= t('jobs.actions')
    %tbody.govuk-table__body
        - vacancies.each do |vacancy|
            = render partial: 'vacancy_pending', locals: { vacancy: vacancy, school: school }