%table.vacancies
  %th= t('vacancies.job_title')
  %th= t('vacancies.publish_on')
  %th= t('vacancies.expires_on')
  %th= t('vacancies.status')
  %th= t('vacancies.actions')
  - @school.vacancies.each do |vacancy|
    = render partial: 'vacancy', locals: { vacancy: vacancy, school: @school }