%h1.heading-large
  Edit description for
  = @school.name

= form_for @school do |form|

  - if @school.errors.any?
    %div.error-summary{role: "alert", 'aria-labelledby' => "school-error-heading", tabindex: '-1'}
      %h2.heading-medium.error-summary-heading#school-error-heading
        There was an error saving the description

  - description_class = 'form-group-error' if @school.errors[:description].any?
  %div.form-group{class: description_class}
    = form.label :description, class: 'form-label' do
      Description
      = content_tag 'span', @school.errors[:description].join(', '), class: 'error-message' if @school.errors[:description].any?
    = form.text_area :description, class: 'form-control form-control-3-4', rows: 5

  %button.button{type: 'submit'} Save