.school.grid-row
  .column-full
    %h1.heading-large
      = t('schools.jobs.index', school: @school.name)

.grid-row
  .column-full
    - if @school.vacancies.active.any?
      .overflow-scroll
        = render partial: 'vacancies', locals: { school: @school, vacancies: @vacancies }
    - else
      = render partial: 'no_vacancies', locals: { school: @school }
    .form-group.mt1
      = link_to t('buttons.create_job'), new_school_job_path(@school), class: 'button'

.grid-row
  .column-full
    %h2.heading-medium
      = t('schools.info', school: @school.name)

    %dl.govuk-check-your-answers.cya-questions-short
      %div
        %dt.cya-question
          = t('schools.description')
        %dd.cya-answer
          = @school.description.presence || 'Not provided'
        %dd.cya-change
          = link_to edit_school_path(@school) do
            = t('buttons.change')
            %span.visually-hidden
              description

      %div
        %dt.cya-question
          = t('schools.address')
        %dd.cya-answer
          = @school.full_address
        %dd.cya-change

      %div
        %dt.cya-question
          = t('schools.school_age')
        %dd.cya-answer
          = @school.age_range
        %dd.cya-change

      %div
        %dt.cya-question
          = t('schools.type')
        %dd.cya-answer
          = @school.school_type.label
        %dd.cya-change

      - if @school.url.present?
        %div
          %dt.cya-question
            Website
          %dd.cya-answer
            = link_to @school.url, @school.url
          %dd.cya-change
