- content_for :page_title_prefix, @school.name

.school.grid-row
  .column-full
    %h1.heading-large
      = t('schools.jobs.index', school: @school.name)
    - if @multiple_schools
      = link_to t('sign_in.organisation.change'), auth_dfe_callback_path
      %br
      %br

.grid-row
  .column-full
    - if @school.vacancies.active.any?
      .overflow-scroll
        = render partial: 'vacancies', locals: { school: @school, vacancies: @vacancies }
    - else
      = render partial: 'no_vacancies', locals: { school: @school }
    .form-group.mt1
      = link_to t('buttons.create_job'), new_school_job_path, class: 'button'

.grid-row
  .column-full
    %table.check-your-answers
      %thead
        %tr
          %th{:colspan => "2"}
            %h2.heading-medium
              = t('schools.info', school: @school.name)
          %th
      %tbody
        %tr
          %td
            %strong.strong= t('schools.description')
          %td
            = @school.description.presence || 'Not provided'
          %td.change-answer
            = link_to edit_school_path do
              = t('buttons.change')
              %span.visually-hidden
                description
        %tr
          %td
            %strong.strong= t('schools.address')
          %td
            = @school.full_address
          %td
        %tr
          %td
            %strong.strong= t('schools.school_age')
          %td
            = @school.age_range
          %td
        %tr
          %td
            %strong.strong= t('schools.type')
          %td
            = @school.school_type.label
          %td
        %tr
          %td
            %strong.strong Website
          %td
            = link_to("#{@school.name} website (opens in a new window)", @school.url, class: 'wordwrap', target: '_blank')
          %td
