- content_for :page_title_prefix, t(".page_title")

= render partial: 'account_header'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-l= t(".page_title")

    - if @subscriptions.any?
      %table.govuk-table
        %thead.govuk-table__head
          %th.govuk-table__header{ class: 'govuk-!-width-two-thirds' }= t(".heading.criteria")
          %th.govuk-table__header= t(".heading.frequency")
          %th.govuk-table__header.govuk-table__header--numeric= t(".heading.actions")
        - @subscriptions.each do |subscription|
          %tr.govuk-table__row
            %td.govuk-table__cell
              %ul.govuk-list
                - subscription.filtered_search_criteria.each_pair do |filter, value|
                  %li
                    %span{ class: 'govuk-!-font-weight-bold' } #{filter.humanize}:
                    = value

            %td.govuk-table__cell= t(".frequency.#{subscription.frequency}")
            %td.govuk-table__cell.govuk-table__header--numeric
              %ul.govuk-list
                %li= govuk_link_to(t('.link_manage'), edit_subscription_path(subscription.token))
                %li= govuk_link_to(t('.link_unsubscribe'), unsubscribe_subscription_path(subscription.token))
    - else
      = render(Shared::NotificationComponent.new(content: { title: t('.zero_subscriptions_title'), body: t('.zero_subscriptions_body_html') }, style: 'empty', links: nil, dismiss: false, background: true, alert: false))
