= render partial: '/feedback/head'
= render partial: '/feedback/errors', locals: { feedback: @feedback }

= simple_form_for @feedback, action: :post, url: feedback_path do |f|
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      .govuk-form-group.feedback-form-group
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
            %h2.govuk-fieldset__heading
              = t('general_feedback.visit_purpose_legend')
          = f.collection_radio_buttons :visit_purpose, visit_purpose_options, :last, :first,
                                       collection_wrapper_tag: 'div',
                                       collection_wrapper_class: 'govuk-radios',
                                       item_wrapper_class: 'govuk-radios__item',
                                       item_wrapper_tag: 'div' do |field|
            = field.radio_button(class: 'govuk-radios__input') + field.label(:class => "govuk-label govuk-radios__label")

      = f.input :visit_purpose_comment, as: :text,
                wrapper: :textarea,
                label: false,
                hint: t('general_feedback.visit_purpose_hint_text').html_safe,
                input_html: { class: 'form-control form-control-4-4', rows: '5' }

      .govuk-form-group.feedback-form-group
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
            %h2.govuk-fieldset__heading
              = t('feedback.comment_label')

        = f.input :comment, as: :text,
                    wrapper: :textarea,
                    label: false,
                    input_html: { class: 'form-control form-control-4-4', rows: '5' }

      .govuk-form-group.feedback-form-group
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
            %h2.govuk-fieldset__heading
              = t('general_feedback.user_participation_legend')
          = f.collection_radio_buttons :user_participation_response, participation_options, :last, :first,
                                       collection_wrapper_tag: 'div',
                                       collection_wrapper_class: 'govuk-radios',
                                       item_wrapper_class: 'govuk-radios__item',
                                       item_wrapper_tag: 'div' do |field|
            = field.radio_button(class: 'govuk-radios__input') + field.label(:class => "govuk-label govuk-radios__label")

      = f.submit t('feedback.submit'), class: 'govuk-button'
