- content_for :page_title_prefix, t('general_feedback.page_title')

%h1.govuk-heading-l
  = t('general_feedback.heading')

- if @feedback.errors.any?
  #errors.govuk-error-summary{role: 'alert', tabindex: '-1'}
    %h2.govuk-heading-m.govuk-error-summary-heading
      = t('errors.feedback.errors_present')
    %ul.govuk-error-summary-list
      - @feedback.errors.each do |attribute, error|
        %li= @feedback.errors.full_message(attribute, error)

= simple_form_for @feedback, action: :post, url: feedback_path do |f|
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      .govuk-form-group.general-feedback-group
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
            %h2.govuk-fieldset__heading
              = t('general_feedback.visit_purpose_legend')
          = f.collection_radio_buttons :visit_purpose, visit_purpose_options, :last, :first,
                                       collection_wrapper_tag: 'div',
                                       collection_wrapper_class: 'govuk-radios',
                                       item_wrapper_class: 'govuk-radios__item',
                                       item_wrapper_tag: 'div' do |field|
            = field.radio_button(class: 'govuk-radios__input') + field.label(:class => "govuk-label govuk-radios__label")

      = f.input :visit_purpose_comment, as: :text,
                wrapper: :textarea,
                label: false,
                hint: t('general_feedback.visit_purpose_hint_text'),
                input_html: { class: 'form-control form-control-4-4', rows: '5' }

      .govuk-form-group.general-feedback-group
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
            %h2.govuk-fieldset__heading
              = t('feedback.legend')
          = f.collection_radio_buttons :rating, rating_options, :last, :first,
                                       collection_wrapper_tag: 'div',
                                       collection_wrapper_class: 'govuk-radios',
                                       item_wrapper_class: 'govuk-radios__item',
                                       item_wrapper_tag: 'div' do |field|
            = field.radio_button(class: 'govuk-radios__input') + field.label(:class => "govuk-label govuk-radios__label")


      = f.input :comment, as: :text,
                wrapper: :textarea,
                label: t('feedback.label'),
                hint: t('feedback.hint_text'),
                input_html: { class: 'form-control form-control-4-4', rows: '5' }

      .govuk-form-group.general-feedback-group
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
            %h2.govuk-fieldset__heading
              = t('general_feedback.improve_service_legend')
          = f.input :email,
                    label: t('general_feedback.email_label'),
                    hint: t('general_feedback.improve_service_hint'),
                    input_html: { class: 'form-control form-control-4-4', type: 'email', autocomplete: 'email' }

      = f.submit t('feedback.submit'), class: 'govuk-button'
