- content_for :page_title_prefix, t('feedback.page_title')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @feedback, url: feedback_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f|
      = f.govuk_error_summary t('jobs.errors_present')

      %h2.govuk-heading-l
        = t('feedback.heading')

      = f.govuk_radio_buttons_fieldset(:visit_purpose, legend: { size: 'm', text: t('general_feedback.visit_purpose_legend_html') }) do
        - visit_purpose_options.each_with_index do |visit_purpose, idx|
          - if visit_purpose.last == :other_purpose
            = f.govuk_radio_button :visit_purpose, visit_purpose.last, label: { text: visit_purpose.first }, link_errors: idx == 0 do
              = f.govuk_text_area :visit_purpose_comment,
                label: { text: t('general_feedback.visit_purpose_legend_html'), hidden: true },
                hint_text: t('general_feedback.visit_purpose_hint_text'),
                rows: 5,
                max_chars: 1200
          - else
            = f.govuk_radio_button :visit_purpose, visit_purpose.last, label: { text: visit_purpose.first }, link_errors: idx == 0

      = render '/feedback/fields', f: f

      = recaptcha_v3(action: 'feedback')

      = f.govuk_submit t('feedback.submit')
