%h2.govuk-heading-m.mb0
  = t('jobs.job_details')
  - unless @vacancy.job_roles&.any?
    .notification-tag
      %strong.govuk-tag.app-task-list__task-completed
        = t('jobs.notification_labels.new')

.govuk-body-s.mb1
  = link_to job_specification_school_job_path, class: 'govuk-link', 'aria-label': 'Change job specification' do
    Change
    %span.govuk-visually-hidden the job specification

%dl.app-check-your-answers.app-check-your-answers--short

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#job_title
      = t('jobs.job_title')
    %dd.app-check-your-answers__answer
      = @vacancy.job_title
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'job_title'), 'aria-label': t('jobs.aria_labels.change_job_title'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#job_role
      = t('jobs.job_roles')
    %dd.app-check-your-answers__answer
      = @vacancy.show_job_roles
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'job_role'), 'aria-label': t('jobs.aria_labels.change_job_role'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#description
      = t('jobs.job_description')
    %dd.app-check-your-answers__answer
      = @vacancy.job_description
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'job_description'), 'aria-label': t('jobs.aria_labels.change_job_description'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#main_subject
      = t('jobs.main_subject')
    %dd.app-check-your-answers__answer
      = @vacancy.main_subject
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'main_subject'), 'aria-label': t('jobs.aria_labels.change_main_subject'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.other_subjects')
    %dd.app-check-your-answers__answer
      = @vacancy.other_subjects
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'other_subjects'), 'aria-label': t('jobs.aria_labels.change_other_subjects'), class: 'govuk-link'

  - if @vacancy.working_patterns?
    .app-check-your-answers__contents
      %dt.app-check-your-answers__question#working_patterns
        = t('jobs.working_patterns')
      %dd.app-check-your-answers__answer
        = @vacancy.working_patterns
      %dd.app-check-your-answers__change
        = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'working_patterns'), 'aria-label': t('jobs.aria_labels.change_working_patterns'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#starts_on
      = t('jobs.starts_on')
    %dd.app-check-your-answers__answer
      = format_date @vacancy.starts_on
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'starts_on'), 'aria-label': t('jobs.aria_labels.change_expected_start_date'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#ends_on
      = t('jobs.ends_on')
    %dd.app-check-your-answers__answer
      = format_date @vacancy.ends_on
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'ends_on'), 'aria-label': t('jobs.aria_labels.change_end_date'), class: 'govuk-link'
