%h2.govuk-heading-m.mb0
  = t('jobs.candidate_specification')

.govuk-body-s.mb1
  = link_to candidate_specification_school_job_path, class: 'govuk-link', 'aria-label': 'Change candidate specification' do
    Change
    %span.govuk-visually-hidden the candidate specification

%dl.app-check-your-answers.app-check-your-answers--short

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#education
      = t('jobs.education')
    %dd.app-check-your-answers__answer
      = @vacancy.education
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), candidate_specification_school_job_path(anchor: 'education'), 'aria-label': t('jobs.aria_labels.change_essential_educational_requirements'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#qualifications
      = t('jobs.qualifications')
    %dd.app-check-your-answers__answer
      = @vacancy.qualifications
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), candidate_specification_school_job_path(anchor: 'qualifications'), 'aria-label': t('jobs.aria_labels.change_essential_qualifications'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#experience
      = t('jobs.experience')
    %dd.app-check-your-answers__answer
      = @vacancy.experience
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), candidate_specification_school_job_path(anchor: 'experience'), 'aria-label': t('jobs.aria_labels.change_essential_skills_and_experience'), class: 'govuk-link'
