%h2.govuk-heading-m.mb0
  = t('jobs.supporting_documents')

.govuk-body-s.mb1#change-supporting-documents
  = link_to documents_school_job_path, class: 'govuk-link', 'aria-label': 'Change supporting documents' do
    Change
    %span.govuk-visually-hidden the supporting documents

%dl.app-check-your-answers.app-check-your-answers--short
  - @vacancy.documents.each_with_index do |document, index|
    - index_from_one = index + 1
    .app-check-your-answers__contents
      %dt.app-check-your-answers__question#supporting_documents
        = "Document #{index_from_one}"
      %dd.app-check-your-answers__answer
        = document[:name]
