%h2.govuk-heading-m.mb0
  = t('jobs.application_details')

.govuk-body-s.mb1
  = link_to application_details_school_job_path, class: 'govuk-link', 'aria-label': 'Change application details' do
    Change
    %span.govuk-visually-hidden the application details

%dl.app-check-your-answers.app-check-your-answers--short

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#contact_email
      = t('jobs.contact_email')
    %dd.app-check-your-answers__answer
      - if @vacancy.contact_email.present?
        =mail_to 'Job contact email', @vacancy.contact_email, class: 'govuk-link', 'aria-label': t('jobs.aria_labels.contact_email_link', email: @vacancy.contact_email)
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), application_details_school_job_path(anchor: 'contact_email'), 'aria-label': t('jobs.aria_labels.change_job_contact_email'), class: 'govuk-link'
      - else
        %span= t('jobs.no_contact_email')

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#application_link
      = t('jobs.application_link')
    %dd.app-check-your-answers__answer
      - if @vacancy.application_link.present?
        = link_to @vacancy.application_link, class: 'govuk-link', 'aria-label': t('jobs.aria_labels.application_link_url', url: @vacancy.application_link) do
          %span.govuk-body-m.govuk-link= t('jobs.application_link_url')
          %br
          %span.govuk-body-s.govuk-link= @vacancy.application_link
      - else
        %span= t('jobs.no_application_link')

    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), application_details_school_job_path(anchor: 'application_link'), 'aria-label': t('jobs.aria_labels.change_application_link_URL'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#publish_on
      = t('jobs.publication_date')
    %dd.app-check-your-answers__answer
      = format_date @vacancy.publish_on
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), application_details_school_job_path(anchor: 'publish_on'), 'aria-label': t('jobs.aria_labels.change_date_role_will_be_listed'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#expires_on
      = t('jobs.application_deadline')
    %dd.app-check-your-answers__answer
      = format_date @vacancy.expires_on
      = t('jobs.time_at') unless @vacancy.expiry_time.nil?
      = format_time @vacancy.expiry_time
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), application_details_school_job_path(anchor: 'expires_on'), 'aria-label': t('jobs.aria_labels.change_application_deadline'), class: 'govuk-link'
