= render(Shared::DashboardComponent.new(heading: t('schools.jobs.index_html', organisation: @organisation.name), navigation_items: vacancy_links, panel: true, link: organisation_jobs_path))

.govuk-grid-row{ class: 'govuk-!-margin-top-7' }
  .govuk-grid-column-full-width
    .moj-filter-sidebar{ class: 'govuk-!-margin-bottom-5' }
      - if @organisation.is_a?(SchoolGroup)
        .govuk-grid-column-one-quarter
          = form_for @filters_form, url: organisation_managed_organisations_path(anchor: 'search-results'), html: { method: "patch", data: { 'auto-submit': true } } do |f|
            = render 'shared/components/filters', form: f, options: { remove_buttons: true, mobile_variant: true }, filters: { total_count: @filters[:managed_school_ids]&.count, title: t('jobs.filters.job_filters') }, items: [{ title: 'Locations', key: 'locations', search: true, scroll: true, attribute: :managed_school_ids, selected: @filters[:managed_school_ids], options: @organisation_options, value_method: :id, text_method: :label, selected_method: :name, small: true }]

            = f.hidden_field :jobs_type, value: @selected_type

    .moj-filter-layout__content{ class: grid_column_class }
      .moj-scrollable-pane.moj-scrollable-pane-shadow
        .moj-scrollable-pane__wrapper
          %section#search-results
            = render "publishers/organisations/vacancies_#{@selected_type}", selected_type: @selected_type, organisation: @organisation, vacancies: @vacancies, sort: @sort
