= render(Shared::DashboardComponent.new(heading: t('schools.jobs.index_html', organisation: @organisation.name), navigation_items: vacancy_links, panel: @organisation.is_a?(SchoolGroup), link: organisation_jobs_path))

.govuk-grid-row{ class: 'govuk-!-margin-top-7' }
  .govuk-grid-column-full
    %h2.govuk-heading-l{ class: 'govuk-!-margin-bottom-4' }= t("jobs.#{@selected_type}_jobs_with_count_html", count: @vacancies.count)

.govuk-grid-row
  .govuk-grid-column-full-width
    .moj-filter-sidebar{ class: 'govuk-!-margin-bottom-5' }
      - if @organisation.is_a?(SchoolGroup)
        .govuk-grid-column-one-third
          = form_for @filters_form, url: organisation_managed_organisations_path(anchor: 'search-results'), html: { method: "patch", data: { 'auto-submit': true } } do |f|
            = render(Shared::FiltersComponent.new(filters: { total_count: @filters[:managed_school_ids]&.count, title: t('jobs.filters.job_filters') }, form: f, items: [{ title: 'Locations', key: 'locations', search: true, scroll: true, attribute: :managed_school_ids, selected: @filters[:managed_school_ids], options: @organisation_options, value_method: :id, text_method: :label, selected_method: :name, small: true }], options: { remove_buttons: true, mobile_variant: true }))

            = f.hidden_field :jobs_type, value: @selected_type

    .moj-filter-layout__content{ class: grid_column_class }
      %section
        = render "publishers/organisations/vacancies_#{@selected_type}", selected_type: @selected_type, organisation: @organisation, vacancies: @vacancies, sort: @sort
