%section#job-details.govuk-tabs__panel.no-border-override
  %h3.govuk-heading-l
    = t('jobs.job_details')
  %table.govuk-table{ ariadescribedby: "Job details" }
    %tbody.govuk-table__body
      - if @vacancy.job_roles&.any?
        %tr.govuk-table__row
          %th.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
            = t('jobs.job_roles')
          %td.govuk-table__cell
            = @vacancy.show_job_roles
      - if @vacancy.subjects&.any?
        %tr.govuk-table__row
          %th.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
            = t('jobs.subject', count: @vacancy.subjects&.count)
          %td.govuk-table__cell
            = @vacancy.show_subjects
      %tr.govuk-table__row
        %th.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
          = t('jobs.working_patterns')
        %td.govuk-table__cell
          = @vacancy.working_patterns
      %tr.govuk-table__row
        %th.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
          = t('jobs.salary')
        %td.govuk-table__cell
          = @vacancy.salary

  %h4.govuk-heading-s= t('jobs.job_summary')
  %p= @vacancy.job_summary

  - if @vacancy.documents.none? && @vacancy.any_candidate_specification?
    - if @vacancy.education?
      %h4.govuk-heading-s= t('jobs.education')
      %p= @vacancy.education

    - if @vacancy.qualifications?
      %h4.govuk-heading-s= t('jobs.qualifications')
      %p= @vacancy.qualifications

    - if @vacancy.experience?
      %h4.govuk-heading-s= t('jobs.experience')
      %p= @vacancy.experience

  - if @vacancy.benefits.present?
    %h4.govuk-heading-s= t('jobs.benefits')
    %p= @vacancy.benefits

  - if @vacancy.how_to_apply.present?
    %h4.govuk-heading-s= t('jobs.applying_for_the_job')
    %p= @vacancy.how_to_apply

  - if @vacancy.application_link.present?
    = link_to t('jobs.apply'), new_job_interest_path(@vacancy.id), target: '_blank', class: 'govuk-button vacancy-apply-link govuk-!-margin-bottom-5', 'aria-label': t('jobs.aria_labels.apply_link')

  - if @vacancy.documents.any?
    %h4.govuk-heading-s= t('jobs.supporting_documents')
    .supporting-docs
      %ul
        - @vacancy.documents.each do |document|
          %li
            .document-link
              %svg{xmlns:"http://www.w3.org/2000/svg", width:"12", height:"18", viewBox:"0 0 16 22", fill:"none"}
                %path{d:"M2 0C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V6L10 0H2ZM10 7H9V2L14 7H10Z", fill:"#0b0c0c"}
                  %image{src: asset_pack_path("media/images/icon-document.png")}
            %a.govuk-link.document-link{ href: document[:download_url], target: '_blank' } #{document[:name]}
            &nbsp#{number_with_precision(document[:size] / 1024.0 / 1024.0, precision: 2)} MB
