- content_for :page_title_prefix, "#{@republish_form.errors.present? ? t('errors.error')  : ''}#{t('jobs.edit_dates')}"

%h1.govuk-heading-l
  = t('jobs.republish_heading', school: @school.name)
.vacancy
  .govuk-grid-row
    .govuk-grid-column-full
      .banner-warning
        = t('jobs.republish_instructions')
= render 'hiring_staff/vacancies/error_messages', errors: @republish_form.errors
= simple_form_for @republish_form, html: { class: 'vacancy-form' }, method: :post, url: school_job_republish_path(@republish_form.id) do |f|
  %h2.govuk-heading-m
    = t('jobs.application_details')

  .govuk-grid-row
    .govuk-grid-column-one-half
      %div.govuk-form-group#publish_on
        = f.gov_uk_date_field :publish_on,
          legend_text: t('jobs.publication_date'),
          legend_class: 'govuk-label',
          form_hint_text: t('jobs.form_hints.publication_date',
                          date: l(Date.today, format: :hinttext))

      %div.govuk-form-group#deadline
        = f.gov_uk_date_field :expires_on,
                              legend_text: t('jobs.deadline_date'),
                              legend_class: 'govuk-label',
                              form_hint_text: t('jobs.form_hints.deadline_date',
                                                date: l(Date.today + 2.months, format: :hinttext))

      %div.govuk-form-group#starts_on
        = f.gov_uk_date_field :starts_on,
              legend_text: "#{t('jobs.starts_on')} (optional)",
              legend_class: 'govuk-label',
              form_hint_text: t('jobs.form_hints.start_date',
                                date: l(Date.today + 3.months, format: :hinttext))


      %div.govuk-form-group#ends_on
        = f.gov_uk_date_field :ends_on,
              legend_text: "#{t('jobs.ends_on')} (optional)",
              legend_class: 'govuk-label',
              form_hint_text: t('jobs.form_hints.end_date',
                                date: l(Date.today + 6.months, format: :hinttext))

      = f.button :submit, t('buttons.save_and_continue')
