= render 'publishers/vacancies/new_attributes_tag', attributes: %i[job_location organisation_id organisation_ids], section: 'job_location'
= render 'publishers/vacancies/error_tag', attributes: %i[job_location organisation_id organisation_ids], section: 'job_location'

%h2.govuk-heading-m.app-task-list__section#job_location_heading
  %span.app-task-list__section-number= edit_vacancy_section_number(:job_location, current_organisation)
  = t('jobs.job_location')
  = govuk_link_to(t('buttons.change'), organisation_job_build_path(@vacancy.id, :job_location), class: 'change-button', 'aria-label': t('jobs.aria_labels.change_job_location'))

%dl.app-check-your-answers.app-check-your-answers--short

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question.first-question#job_location
      %h4.govuk-heading-s= vacancy_job_location_heading(@vacancy)

    %dd.app-check-your-answers__answer.first-question.schools-review-list
      - @vacancy.organisations.each do |organisation|
        .school-in-review-list
          %div{ class: 'govuk-!-font-weight-bold' }= organisation.name
          = full_address(organisation)
