- content_for :page_title_prefix, t('hiring_staff.managed_organisations.page_title')

.govuk-grid-row
  .govuk-grid-column-full
    .interruption-card
      %h1.interruption-card__title= t('hiring_staff.managed_organisations.panel.title', organisation: current_organisation.name)
      .interruption-card__body= t('hiring_staff.managed_organisations.panel.body')
  .govuk-grid-column-two-thirds
    = form_for @managed_organisations_form, url: organisation_managed_organisations_path, html: { method: "patch" } do |f|
      = f.govuk_error_summary

      = f.govuk_check_boxes_fieldset :managed_organisations,
        legend: { text: t('hiring_staff.managed_organisations.labels.select_organisations_html') },
        hint_text: t('hiring_staff.managed_organisations.hints.select_organisations'),
        classes: 'bold-checkbox-labels govuk-!-margin-top-5' do

        = f.govuk_check_box :managed_organisations,
          'all',
          label: { text: t('hiring_staff.managed_organisations.options.all') },
          link_errors: true

        .govuk-body{ class: 'govuk-!-margin-left-2 govuk-!-margin-bottom-2' } Or

        = f.govuk_check_box :managed_organisations,
          'school_group',
          label: { text: t('hiring_staff.managed_organisations.options.school_group') },
          hint_text: full_address(current_organisation)

        = f.govuk_collection_check_boxes :managed_school_urns,
          @managed_organisations_form.school_options,
          :urn,
          :name,
          :address,
          legend: { text: t('hiring_staff.managed_organisations.labels.select_organisations'), hidden: true },
          classes: 'bold-checkbox-labels'

      = f.govuk_submit
      = f.govuk_submit t('buttons.skip_this_step'), secondary: true, classes: 'button-link'
