%aside.filter-vacancies
  %h2.govuk-heading-m
    =t('jobs.filters.title')

  = form_for VacancyAlgoliaSearchBuilder.new({}), as: '', url: jobs_path, method: :get, html: { class: 'filters-form', role: 'search' } do |f|
    = f.govuk_text_field :keyword,
      label: { text: t('jobs.filters.keyword') },
      placeholder: t('jobs.filters.keyword_hint'),
      value: @vacancies_search.keyword,
      id: 'keyword'

    // This partial does not yet use GDS Formbuilder.
    = render 'shared/location_search_tag', extra_label_class: nil

    // This select does not yet use GDS Formbuilder.
    // We are currently unable to apply attributes (such as class
    // and disabled) directly to GovUK Design Formbuilder select elements.
    // Issue: https://github.com/DFE-Digital/govuk_design_system_formbuilder/issues/153
    // I have added a draft of the eventual code to this issue.
    .govuk-form-group.govuk-inset-text#location-radius-select
      = label_tag 'radius', t('jobs.filters.within_radius'), class: 'govuk-label'
      = select_tag 'radius', options_for_select(radius_filter_options, @vacancies_search.radius), disabled: @vacancies_search.disable_radius?, class: 'govuk-select govuk-!-width-full'

    = f.hidden_field :jobs_sort, value: @vacancies_search.sort_by

    = f.govuk_submit t('buttons.search'), classes: 'govuk-button mb0 govuk-!-width-full'
