%aside.filter-vacancies
  %h2.govuk-heading-m
    =t('jobs.filters.title')

  = form_tag jobs_path, class: 'filters-form', method: :get do
    .govuk-form-group
      = label_tag 'location', t('jobs.filters.location'), class: 'govuk-label'
      = search_field_tag :location, location, class: 'govuk-input form-control form-control-block', placeholder: t('jobs.filters.location_hint')
    .govuk-form-group
      = label_tag 'radius', t('jobs.filters.radius'), class: 'govuk-label'
      = select_tag 'radius', options_for_select(radius_filter_options, radius), class: 'govuk-select form-control form-control-block'
    .govuk-form-group
      = label_tag 'subject', t('jobs.filters.subject'), class: 'govuk-label'
      = search_field_tag :subject, subject, class: 'govuk-input form-control form-control-block', placeholder: t('jobs.filters.subject_hint')
    .govuk-form-group
      = label_tag 'job_title', t('jobs.filters.job_title'), class: 'govuk-label'
      = search_field_tag :job_title, job_title, class: 'govuk-input form-control form-control-block', placeholder: t('jobs.filters.job_title_hint')
    .govuk-form-group
      = label_tag 'minimum_salary', t('jobs.filters.minimum_salary'), class: 'govuk-label'
      = select_tag 'minimum_salary', options_for_select(VacanciesHelper::SALARY_OPTIONS, minimum_salary), class: 'govuk-select form-control form-control-block', include_blank: 'None'
    .govuk-form-group
      = label_tag 'working_pattern', t('jobs.filters.working_pattern'), class: 'govuk-label'
      = select_tag 'working_pattern', options_for_select(working_pattern_options, working_pattern), class: 'govuk-select form-control form-control-block', include_blank: 'Any'
    .govuk-form-group
      %fieldset.govuk-fieldset
        = label_tag 'phases', t('jobs.filters.education_phase'), class: 'govuk-label'
        .govuk-checkboxes
          - school_phase_options.each_with_index do |phase, i|
            .govuk-checkboxes__item
              = check_box_tag 'phases[]', phase[1], phase_checked?(phase[1]), id: 'phases_' + phase[1]
              = label_tag 'phases[]', phase[0], for: 'phases_' + phase[1]
    .govuk-form-group
      %fieldset.govuk-fieldset
        .govuk-checkboxes
          .govuk-checkboxes__item
            = check_box_tag 'newly_qualified_teacher', 'true', nqt_suitable_checked?(newly_qualified_teacher), class: 'govuk-checkboxes__input'
            = label_tag 'newly_qualified_teacher', t('jobs.filters.nqt_suitable'), class: 'govuk-label govuk-checkboxes__label'

    = hidden_field_tag :sort_column, sort_column
    = hidden_field_tag :sort_order, sort_order

    = submit_tag @vacancies.apply_filters_button_text, class: 'govuk-button mb0'
