%aside.filter-vacancies
  %h2.govuk-heading-m
    =t('jobs.filters.title')

  = form_tag jobs_path(anchor: 'vacancy-results'), class: 'filters-form', method: :get do
    .govuk-form-group
      = label_tag 'keyword', t('jobs.filters.keyword'), class: 'govuk-label'
      = search_field_tag :keyword, @vacancies_search.keyword, class: 'govuk-input', placeholder: t('jobs.filters.keyword_hint')

    = render 'shared/location_search_tag', extra_label_class: nil

    .govuk-form-group.govuk-inset-text#location-radius-select
      = label_tag 'radius', t('jobs.filters.within_radius'), class: 'govuk-label'
      = select_tag 'radius', options_for_select(radius_filter_options, @vacancies_search.radius), disabled: @vacancies_search.disable_radius?, class: 'govuk-select govuk-!-width-full'

    = hidden_field_tag :jobs_sort, @vacancies_search.sort_by

    = submit_tag t('buttons.search'), class: 'govuk-button mb0'
