%aside.filter-vacancies
  %h2.govuk-heading-m
    =t('jobs.filters.title')

  = form_tag jobs_path(anchor: 'vacancy-results'), class: 'filters-form', method: :get do
    .govuk-form-group
      = label_tag 'keyword', t('jobs.filters.keyword'), class: 'govuk-label'
      = search_field_tag :keyword, keyword, class: 'govuk-input', placeholder: t('jobs.filters.keyword_hint')

    = render 'shared/location_search_tag', extra_label_class: nil

    .govuk-form-group
      = label_tag 'radius', t('jobs.filters.radius'), class: 'govuk-label'
      = select_tag 'radius', options_for_select(radius_filter_options, radius), disabled: @filters.location_category_search?, class: 'govuk-select govuk-!-width-full'

    = hidden_field_tag :sort_column, sort_column
    = hidden_field_tag :sort_order, sort_order

    = submit_tag @vacancies.apply_filters_button_text, class: 'govuk-button mb0'
