%aside.filter-vacancies
  %h2.heading-medium
    =t('jobs.filters.title')

  = form_tag jobs_path, class: 'filters-form', method: :get do
    .form-group
      = label_tag 'location', t('jobs.filters.location'), class: 'form-label'
      = search_field_tag :location, location, class: 'form-control form-control-block', placeholder: t('jobs.filters.location_hint')
    .form-group
      = label_tag 'keyword', t('jobs.filters.keyword'), class: 'form-label'
      = search_field_tag :keyword, keyword, class: 'form-control form-control-block', placeholder: t('jobs.filters.keyword_hint')
    .form-group
      = label_tag 'minimum_salary', t('jobs.filters.minimum_salary'), class: 'form-label'
      = select_tag 'minimum_salary', options_for_select(salary_options, minimum_salary), class: 'form-control form-control-block', include_blank: 'None'
    .form-group
      = label_tag 'maximum_salary', t('jobs.filters.maximum_salary'), class: 'form-label'
      = select_tag 'maximum_salary', options_for_select(salary_options, maximum_salary), class: 'form-control form-control-block', include_blank: 'None'
    .form-group
      = label_tag 'working_pattern', t('jobs.filters.working_pattern'), class: 'form-label'
      = select_tag 'working_pattern', options_for_select(working_pattern_options, working_pattern), class: 'form-control form-control-block', include_blank: 'Any'
    .form-group
      = label_tag 'phase', t('jobs.filters.education_phase'), class: 'form-label'
      = select_tag 'phase', options_for_select(school_phase_options, phase), class: 'form-control form-control-block', include_blank: 'Any'

    = hidden_field_tag :sort_column, sort_column
    = hidden_field_tag :sort_order, sort_order

    = submit_tag t('buttons.apply_filters'), class: 'button'
