%aside.filter-vacancies
  %h2.govuk-heading-m= t('jobs.filters.title')

  = form_for @jobs_search_form, as: 'jobs_search_form', url: jobs_path(anchor: 'vacancy-results'), method: :get, html: { class: 'filters-form', role: 'search', aria: { label: 'Search criteria' } } do |f|

    = f.govuk_text_field :keyword,
      label: { text: t('jobs.filters.keyword'), size: 's' },
      placeholder: t('jobs.filters.keyword_hint'),
      value: @vacancies_search.keyword

    = f.govuk_text_field :location,
      label: { text: t('jobs.filters.location'), size: 's' },
      placeholder: t('jobs.filters.location_hint'),
      class: 'govuk-input js-location-finder__input',
      form_group_classes: 'js-location-finder location-search',
      'autocomplete': 'off',
      'aria-expanded': 'false',
      'aria-owns': 'location_listbox',
      'aria-autocomplete': 'list',
      'aria-describedby': 'js-location-finder__error',
      'role': 'combobox',
      'data-coordinates': @vacancies_search&.point_coordinates

    .js-location-finder__link.govuk-body-s
      or
      = link_to t('jobs.filters.use_current_location'), '#', id: 'current-location', class: 'govuk-link govuk-link--no-visited-state'

    = f.govuk_collection_select :radius,
      radius_filter_options,
      :last,
      :first,
      label: { text: t('jobs.filters.within_radius'), size: 's' },
      html_options: { class: 'govuk-!-width-full' },
      form_group_classes: 'govuk-inset-text location-radius-select location-radius-select-block'

    = f.hidden_field :jobs_sort, value: @vacancies_search.sort_by

    = f.govuk_submit t('buttons.search'), classes: 'govuk-button mb0 govuk-!-width-full'
