%aside.filter-vacancies
  %h2.govuk-heading-m= t('jobs.filters.title')

  = form_for @jobs_search_form, as: 'jobs_search_form', url: jobs_path(anchor: 'vacancy-results'), method: :get, html: { class: 'filters-form', role: 'search', aria: { label: 'Search criteria' } } do |f|

    = render 'shared/search/keyword', f: f
    = render 'shared/search/location', f: f
    = render 'shared/search/current_location'
    = render 'shared/search/radius', f: f, filters: true

    = f.hidden_field :jobs_sort, value: @vacancies_search&.sort_by
    = f.govuk_submit t('buttons.search'), classes: 'govuk-button mb0 govuk-!-width-full'
