%section#job-details.govuk-tabs__panel.no-border-override
  %h2.govuk-heading-m 
    = t('jobs.job_details')
  %table.govuk-table
    %tbody.govuk-table__body
      %tr.govuk-table__row
        %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" } 
          = t('jobs.subject')
        %td.govuk-table__cell
          - if @vacancy.other_subjects.nil? || @vacancy.other_subjects == ''
            = @vacancy.main_subject
          - else 
            = @vacancy.main_subject + ', ' + @vacancy.other_subjects
      %tr.govuk-table__row
        %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" } 
          = t('jobs.working_patterns')
        %td.govuk-table__cell
          = @vacancy.working_patterns
      %tr.govuk-table__row
        %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" } 
          = t('jobs.salary')
        %td.govuk-table__cell
          = @vacancy.salary_range
      - if @vacancy.pay_scale_range.present?
        %tr.govuk-table__row
          %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" } 
            = t('jobs.pay_scale_range')
          %td.govuk-table__cell
            = @vacancy.pay_scale_range
      - if @vacancy.newly_qualified_teacher?               
        %tr.govuk-table__row
          %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" } 
            = t('jobs.newly_qualified_teacher')
          %td.govuk-table__cell
            = @vacancy.newly_qualified_teacher
  
  %h2.govuk-heading-m= t('jobs.description')
  %p= @vacancy.job_description

  - if @vacancy.education?
    %h2.govuk-heading-m= t('jobs.education')
    %p= @vacancy.education

  - if @vacancy.qualifications?
    %h2.govuk-heading-m= t('jobs.qualifications')
    %p= @vacancy.qualifications

  - if @vacancy.experience?
    %h2.govuk-heading-m= t('jobs.experience')
    %p= @vacancy.experience

  -if @vacancy.benefits.present?
    %h2.govuk-heading-m= t('jobs.benefits')
    %p= @vacancy.benefits
  
  -# TODO:
  -# - Create yaml key for supporting documents title (jobs.supporting_documents)
  -# - Add code to display supporting documents

  -# %h2.govuk-heading-m= t('jobs.supporting_documents')
  -# %p= [insert document code here]
  
  %h2.govuk-heading-m.share-this-job
    = t('jobs.share_this_job')
  
  = render partial: '/shared/vacancy/share_buttons'
