%section#job-details.govuk-tabs__panel.no-border-override
  %h2.govuk-heading-m
    = t('jobs.job_details')
  %table.govuk-table
    %tbody.govuk-table__body
      %tr.govuk-table__row
        %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
          = t('jobs.subject')
        %td.govuk-table__cell
          - if @vacancy.other_subjects.nil? || @vacancy.other_subjects == ''
            = @vacancy.main_subject
          - else
            = @vacancy.main_subject + ', ' + @vacancy.other_subjects
      %tr.govuk-table__row
        %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
          = t('jobs.working_patterns')
        %td.govuk-table__cell
          = @vacancy.working_patterns
      %tr.govuk-table__row
        %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
          = t('jobs.salary')
        %td.govuk-table__cell
          = @vacancy.salary_range
      - if @vacancy.pay_scale_range.present?
        %tr.govuk-table__row
          %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
            = t('jobs.pay_scale_range')
          %td.govuk-table__cell
            = @vacancy.pay_scale_range
      - if @vacancy.newly_qualified_teacher?
        %tr.govuk-table__row
          %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
            = t('jobs.newly_qualified_teacher')
          %td.govuk-table__cell
            = @vacancy.newly_qualified_teacher

  %h2.govuk-heading-m= t('jobs.description')
  %p= @vacancy.job_description

  - if !@vacancy.show_supporting_documents? && @vacancy.any_candidate_specification?
    - if @vacancy.education?
      %h2.govuk-heading-m= t('jobs.education')
      %p= @vacancy.education

    - if @vacancy.qualifications?
      %h2.govuk-heading-m= t('jobs.qualifications')
      %p= @vacancy.qualifications

    - if @vacancy.experience?
      %h2.govuk-heading-m= t('jobs.experience')
      %p= @vacancy.experience

  -if @vacancy.benefits.present?
    %h2.govuk-heading-m= t('jobs.benefits')
    %p= @vacancy.benefits

  - if @vacancy.leadership.present?
    %h2.govuk-heading-m= t('jobs.leadership_level')
    %p= @vacancy.leadership.title

  - if @vacancy.show_supporting_documents? && @vacancy.documents.any?
    %h2.govuk-heading-m= t('jobs.supporting_documents')
    .supporting-docs
      %ul
        - @vacancy.documents.each do |document|
          %li
            .document-link
              %svg{xmlns:"http://www.w3.org/2000/svg", width:"12", height:"18", viewBox:"0 0 16 22", fill:"none"}
                %path{d:"M2 0C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V6L10 0H2ZM10 7H9V2L14 7H10Z", fill:"#0b0c0c"}
                %image{src: asset_pack_path("media/images/icon-document.png")}
            %a.govuk-link.document-link{ href: document[:download_url], target: '_blank' } #{document[:name]}
            &nbsp#{number_with_precision(document[:size] / 1024.0 / 1024.0, precision: 2)} MB

  %h2.govuk-heading-m.share-this-job
    = t('jobs.share_this_job')

  = render partial: '/shared/vacancy/share_buttons'
