%dl.school--details
  %dt= t('schools.address')
  %dd= full_address(@vacancy.school)

  - if @vacancy.school.phase.present?
    %dt= t('schools.phase')
    %dd= @vacancy.school.phase.titleize

  - if @vacancy.school.school_type.present?
    %dt= t('schools.type')
    %dd= @vacancy.school.school_type.label

  - if @vacancy.school.url.present?
    %dt= t('schools.website')
    %dd
      = link_to("#{@vacancy.school.name} website (opens in a new window)", @vacancy.school.url, class: 'govuk-link wordwrap', target: '_blank')
