%dl.school--details
  %dt= t('schools.address')
  %dd= full_address(@vacancy.organisation)

  - if @vacancy.organisation.phase.present?
    %dt= t('schools.phase')
    %dd= @vacancy.organisation.phase.titleize

  - if @vacancy.organisation.school_type.present?
    %dt= t('schools.type')
    %dd= @vacancy.organisation.school_type.label

  - if @vacancy.organisation.url.present?
    %dt= t('schools.website')
    %dd
      = link_to("#{@vacancy.organisation.name} website (opens in a new window)", @vacancy.organisation.url, class: 'govuk-link wordwrap', target: '_blank')
