- content_for :page_title_prefix do
  #{@vacancy.job_title} — #{@vacancy.school_name}

.vacancy.govuk-grid-row
  - if @vacancy.expired?
    .govuk-column-full
      .banner-warning
        = t('jobs.expired')

  .govuk-column-one-third
    %h1.govuk-heading-l
      = @vacancy.job_title
      %span.govuk-caption-l
        = @vacancy.location

    %h2.govuk-heading-m
      = t('schools.about')
      = @vacancy.school.name
    %p= @vacancy.school.description

    = render partial: 'school_details'

    - if @vacancy.school.geolocation
      #map_zoom{style: 'height: 200px; margin-bottom: 20px;'}
      = render partial: '/vacancies/school', formats: [:js], locals: { name: @vacancy.school.name,
                                                            lat: @vacancy.school_geolocation.x,
                                                            lng: @vacancy.school_geolocation.y }

      %script{async: true, defer: true, src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap"}

    %h2.mt1.govuk-heading-m= t('jobs.key_info')

    %table.check-your-answers.cya-questions-short
      %tbody
        %tr
          %td.cya-question= t('jobs.salary')
          %td.cya-answer= @vacancy.salary_range
        %tr
          %td.cya-question= t('jobs.working_pattern')
          %td.cya-answer= @vacancy.working_pattern
        - if @vacancy.part_time? && @vacancy.weekly_hours
          %tr
            %td.cya-question= t('jobs.weekly_hours')
            %td.cya-answer= @vacancy.weekly_hours
        - if @vacancy.flexible_working?
          %tr
            %td.cya-question= t('jobs.flexible_working')
            %td.cya-answer= @vacancy.flexible_working
        - if @vacancy.starts_on.present?
          %tr
            %td.cya-question= t('jobs.starts_on')
            %td.cya-answer= format_date(@vacancy.starts_on)
        - if @vacancy.ends_on.present?
          %tr
            %td.cya-question= t('jobs.ends_on')
            %td.cya-answer= format_date(@vacancy.ends_on)
        %tr
          %td.cya-question= t('jobs.publish_on')
          %td.cya-answer= format_date(@vacancy.publish_on)
        %tr
          %td.cya-question= t('jobs.expires_on')
          %td.cya-answer= format_date(@vacancy.expires_on)
        - if @vacancy.main_subject.present?
          %tr
            %td.cya-question= t('jobs.main_subject')
            %td.cya-answer= @vacancy.main_subject

        - if @vacancy.pay_scale_range.present?
          %tr
            %td.cya-question= t('jobs.pay_scale_range')
            %td.cya-answer= @vacancy.pay_scale_range

        - if @vacancy.leadership.present?
          %tr
            %td.cya-question= t('jobs.leadership_level')
            %td.cya-answer= @vacancy.leadership.title

        - if @vacancy.contact_email.present?
          %tr
            %td.cya-question= t('jobs.contact_email')
            %td.cya-answer.wordwrap= mail_to @vacancy.contact_email, @vacancy.contact_email, subject: t('jobs.contact_email_subject', job: @vacancy.job_title), body: t('jobs.contact_email_body', url: url_for(only_path: false))


    %h2.govuk-heading-m= t('jobs.description')
    %p= @vacancy.job_description

    - if @vacancy.education?
      %h2.govuk-heading-m= t('jobs.education')
      %p= @vacancy.education

    - if @vacancy.qualifications?
      %h2.govuk-heading-m= t('jobs.qualifications')
      %p= @vacancy.qualifications

    - if @vacancy.experience?
      %h2.govuk-heading-m= t('jobs.experience')
      %p= @vacancy.experience

    - if @vacancy.benefits?
      %h2.govuk-heading-m= t('jobs.benefits')
      %p= @vacancy.benefits

    %aside.vacancy--metadata
      - if @vacancy.application_link.present?
        %p.govuk-body-s=t('jobs.aria_labels.apply_link')
        = link_to t('jobs.apply'), new_job_interest_path(@vacancy.id), target: '_blank', class: 'button vacancy-apply-link', 'aria-label': t('jobs.aria_labels.apply_link')

= render partial: 'shared/beta_banner'