.govuk-grid-row.sortable-links
  .govuk-grid-column-one-half
    = form_tag('', method: :get) do
      - search_criteria.each do |filter, value|
        = hidden_field_tag filter, value
      = label_tag 'jobs_sort', t('jobs.sort_by.label'), class: "govuk-label inline"
      = select_tag 'jobs_sort', options_for_select(job_sorting_options, @vacancies_search.sort_by), class: 'govuk-select govuk-input--width-10'
      = submit_tag t('jobs.sort_by.submit'), class: 'govuk-button', id: 'submit_job_sort'
