%li.vacancy
  %h2.govuk-heading-m.mb0= link_to vacancy.job_title, job_path(vacancy), class: 'govuk-link view-vacancy-link'
  %p.govuk-body= vacancy.location
  %dl
    %dt= t('jobs.salary')
    %dd.double
      = vacancy.salary_range
    %dt= t('jobs.publish_on')
    %dd.double
      = format_date(vacancy.publish_on)
    %dt= t('jobs.expires_on')
    - if vacancy.expiry_time.nil?
      %dd= format_date(vacancy.expires_on)
    - else 
      %dd= format_date(vacancy.expires_on) + " at " + vacancy.expiry_time.strftime('%-l:%M%P')
    %dt= t('jobs.starts_on')
    %dd= format_date(vacancy.starts_on)
    - if vacancy.working_patterns?
      %dt= t('jobs.working_patterns')
      %dd.double
        = vacancy.working_patterns
