%li.vacancy
  %h2= link_to vacancy.job_title, job_path(vacancy), class: 'view-vacancy-link'
  %p= vacancy.location
  %dl
    %dt= t('vacancies.salary')
    %dd.double
      = vacancy.salary_range
      = t('vacancies.per_year')
    %dt= t('vacancies.publish_on')
    %dd= format_date(vacancy.publish_on)
    %dt= t('vacancies.expires_on')
    %dd= format_date(vacancy.expires_on)
    %dt= t('vacancies.working_pattern')
    %dd= vacancy.working_pattern
    %dt= t('vacancies.starts_on')
    %dd= format_date(vacancy.starts_on)
