%li.vacancy
  %h2.govuk-heading-m= link_to vacancy.job_title, job_path(vacancy), class: 'govuk-link view-vacancy-link'
  %p.govuk-body= vacancy.location
  %dl
    %dt= t('jobs.salary')
    %dd.double
      = vacancy.salary_range
      = t('jobs.per_year')
    %dt= t('jobs.publish_on')
    %dd= format_date(vacancy.publish_on)
    %dt= t('jobs.expires_on')
    %dd= format_date(vacancy.expires_on)
    %dt= t('jobs.working_pattern')
    %dd= vacancy.working_pattern
    %dt= t('jobs.starts_on')
    %dd= format_date(vacancy.starts_on)
