%li.vacancy{ 'role': 'listitem'}
  %h2.govuk-heading-m.mb0= link_to vacancy.job_title, job_path(vacancy), class: 'govuk-link view-vacancy-link'
  %p.govuk-body= vacancy.location
  %dl
    %dt= t('jobs.salary')
    %dd.double
      = vacancy.salary
    %dt= t('jobs.school_type')
    %dd.double
      = vacancy.school.school_type_with_religious_character
    - if vacancy.working_patterns?
      %dt= t('jobs.working_patterns')
      %dd.double
        = vacancy.working_patterns
    %dt= t('jobs.expires_on')
    - if vacancy.expiry_time.nil?
      %dd.double
        = format_date(vacancy.expires_on)
    - else
      %dd.double
        = format_date(vacancy.expires_on) + " at " + vacancy.expiry_time.strftime('%-l:%M %P')
