%h1.heading-large
  Publish a vacancy for
  = @vacancy.school.name
  %span.heading-secondary
    Step 3 of 3
= render 'error_messages', errors: @vacancy.errors
= simple_form_for @vacancy do |f|
  = hidden_field_tag :from, :application_details
  = hidden_field_tag :next, :review
  = render partial: 'vacancy_details', locals: { f: f }

  = f.button :submit, 'Save and continue'