%h1.heading-large
  Publish a vacancy for
  = @vacancy.school.name
  %span.heading-secondary
    Step 2 of 3
= render 'error_messages', errors: @vacancy.errors
= simple_form_for @vacancy, html: { class: 'vacancy-form' } do |f|
  = hidden_field_tag :from, :candidate_specification
  = hidden_field_tag :next, (params[:next] || :application_details)
  %h2.heading-medium
    Candidate specification

  .grid-row
    .column-one-half
      = f.input :essential_requirements,
                as: :text,
                hint: 'Qualifications, experience, and/or professional registrations',
                input_html: {rows: 10},
                required: true
      = f.input :education,
                as: :text,
                hint: 'Educational background needed for the position',
                input_html: {rows: 5},
                required: false
      = f.input :qualifications,
                as: :text,
                hint: 'Specific qualifications required for this role',
                input_html: {rows: 5},
                required: false
      = f.input :experience,
                as: :text,
                hint: 'Expected teaching or other experience',
                input_html: {rows: 5},
                required: false

      = f.input :school_id, as: :hidden
      = f.button :submit, 'Save and continue'