%h1.heading-large
  Publish a vacancy for
  = @vacancy.school.name
  %span.heading-secondary
    Step 2 of 3
- if @vacancy.errors.any?
  .error-summary{role: 'alert', tabindex: '-1'}
    %h2.heading-medium.error-summary-heading
      = pluralize(@vacancy.errors.count, 'error')
      prevented this vacancy from being saved:
    %ul
      - @vacancy.errors.full_messages.each do |message|
        %li= message
= simple_form_for @vacancy do |f|
  = hidden_field_tag :from, :candidate_specification
  = hidden_field_tag :next, (params[:next] || :application_details)
  = render partial: 'candidate_specification', locals: { f: f }

  = f.input :school_id, as: :hidden
  = f.button :submit, 'Save and continue'