- content_for :page_title_prefix, t('jobs.heading')

%h1.govuk-heading-xl
  = t('jobs.heading')
.govuk-grid-row

  .govuk-grid-column-two-thirds
    %p.govuk-heading-m.mt0
      %p.govuk-heading-m.mb0= @vacancies.total_count_message
      - if @vacancies.searched
        %span.clear-search.nobreak= link_to t('jobs.filters.clear_filters'), root_path, class: 'govuk-link'
      .mt1
        = link_to 'Refine your search?', '#filters', class: 'govuk-link'
    - if @vacancies.any?
      %div.sortable-links
        = t('jobs.sort_by')
        = link_to_sort_by t('jobs.expires_on'), column: 'expires_on', order: 'asc', sort: @sort
        = link_to_sort_by t('jobs.publish_on'), column: 'publish_on', order: 'desc', sort: @sort

      %ul.vacancies
        - @vacancies.each do |vacancy|
          = render partial: 'vacancy', locals: { vacancy: vacancy }

  .govuk-grid-column-one-third#filters
    = render 'filters'

= paginate @vacancies

= render partial: 'shared/beta_banner'