%h1.heading-large
  There are
  = pluralize @vacancies.count, 'vacancy'
  matching your search
.grid-row
  .column-one-third
    = render 'filters'
  .column-two-thirds
    - if @vacancies.any?
      %div.sortable-links
        Sort by:
        = link_to_sort_by  'Closing date', column: 'expires_on', order: 'asc', sort: @sort
        = link_to_sort_by  'Published date', column: 'publish_on', order: 'desc', sort: @sort

      %ul.vacancies
        - @vacancies.each do |vacancy|
          = render partial: 'vacancy', locals: { vacancy: vacancy }

    - else
      %div.empty
        No vacancies found. Try expanding your search.


= paginate @vacancies
