= render partial: 'shared/beta_banner'

%h1.heading-xlarge
  = t('vacancies.heading')
.grid-row
  .column-one-third
    = render 'filters'
  .column-two-thirds
    %p.heading-medium.mt0= @vacancies.total_count
    - if @vacancies.any?
      %div.sortable-links
        = t('vacancies.sort_by')
        = link_to_sort_by t('vacancies.expires_on'), column: 'expires_on', order: 'asc', sort: @sort
        = link_to_sort_by t('vacancies.publish_on'), column: 'publish_on', order: 'desc', sort: @sort

      %ul.vacancies
        - @vacancies.each do |vacancy|
          = render partial: 'vacancy', locals: { vacancy: vacancy }

    - else
      %div.empty
        = t('vacancies.no_vacancies')

= paginate @vacancies
