- content_for :page_title_prefix, t('jobs.heading')

= render partial: 'shared/beta_banner'

%h1.govuk-heading-xl
  = t('jobs.heading')
.govuk-grid-row
  .govuk-grid-column-one-third
    = render 'filters'
  .govuk-grid-column-two-thirds
    %p.govuk-heading-m.mt0.mb1.inline-block= @vacancies.total_count_message
    - if @vacancies.searched
      %span.clear-search.nobreak= link_to t('jobs.filters.clear_filters'), root_path, class: 'govuk-link'
    - if @vacancies.any?
      %div.sortable-links
        = t('jobs.sort_by')
        = link_to_sort_by t('jobs.expires_on'), column: 'expires_on', order: 'asc', sort: @sort
        = link_to_sort_by t('jobs.publish_on'), column: 'publish_on', order: 'desc', sort: @sort

      %ul.vacancies
        - @vacancies.each do |vacancy|
          = render partial: 'vacancy', locals: { vacancy: vacancy }

    - elsif @vacancies.searched
      %div.empty
        - t('jobs.no_jobs').each do |list_item|
          %p= list_item

    - else
      %div.empty
        - t('jobs.none_listed', count: Vacancy.listed.count).each do |sentence|
          %p= sentence

= paginate @vacancies
