%h1.heading-large
  There are
  = pluralize @vacancies.count, 'vacancy'
  matching your search
.grid-row
  .column-one-third
    = render 'filters'
  .column-two-thirds
    - if @vacancies.any?
      %div.sortable-links
        Sort by:
        = link_to_sort_by  'Closing date', column: 'expires_on', order: 'asc', sort: @sort
        = link_to_sort_by  'Published date', column: 'publish_on', order: 'desc', sort: @sort

      %ul.vacancies
        - @vacancies.each do |vacancy|
          %li.vacancy{itemscope: '', itemtype: 'http://schema.org/JobPosting'}
            %h2= link_to vacancy.job_title, vacancy_path(vacancy)
            %p= vacancy.location
            %dl
              %dt Salary
              %dd.double
                = vacancy.salary_range
                per annum
              %dt Closing date
              %dd= format_date(vacancy.expires_on)
              %dt Posted on
              %dd= format_date(vacancy.publish_on)
              %dt Contract
              %dd= vacancy.working_pattern&.titleize
              %dt Job ref
              %dd= vacancy.reference
            =render partial: 'job_schema_properties', locals: { vacancy: vacancy }

    - else
      %div.empty
        No vacancies found. Try expanding your search.


= paginate @vacancies
