- content_for :page_title_prefix, t('jobs.heading')
= render partial: 'head_links'

%h1.govuk-heading-xl
  = t('jobs.heading')
.govuk-grid-row
  .govuk-grid-column-one-third
    = render 'filters', collapsible?: true

  .govuk-grid-column-two-thirds
    .govuk-grid-column-full.vacancies-count{class: @vacancies.user_search? ? 'search-made' : ''}
      %p.govuk-heading-l.mb0= @vacancies.total_count_message
      - if @vacancies.user_search?
        %span.clear-search.nobreak= link_to t('jobs.filters.clear_filters'), root_path, class: 'govuk-link'
        = render(partial: 'subscribe_link', locals: { search_criteria: @filters.only_active_to_hash }) if EmailAlertsFeature.enabled?
    - if @vacancies.any?
      = render partial: 'sorting_options', locals: { search_criteria: @filters.only_active_to_hash, sort: @sort }

      %ul.vacancies
        - @vacancies.each do |vacancy|
          = render partial: 'vacancy', locals: { vacancy: vacancy }

    = paginate @vacancies, window: 2
