- if @filters.location_category_search?
  = content_for :page_title_prefix, t('jobs.location_search_heading', location: format_location_name(@filters.location))
  = content_for :page_description,  t('jobs.location_description', location: format_location_name(@filters.location))
- else
  = content_for :page_title_prefix, t('jobs.heading')
= render partial: 'head_links'

%h1.govuk-heading-xl
  = t('jobs.heading')
.govuk-grid-row
  .govuk-grid-column-one-third
    = render 'filters'
  .govuk-grid-column-two-thirds
    .govuk-grid-column-full.vacancies-count
      %p.govuk-heading-l.mb0.inline-block#vacancy-results= location_category_content?(@filters) ? @vacancies.total_count_message_with_location(format_location_name(@filters.location)) : @vacancies.total_count_message
      - if @vacancies.user_search?
        %span.clear-search.nobreak= link_to t('jobs.filters.clear_filters'), root_path, class: 'govuk-link'
        = render(partial: 'subscribe_link', locals: { search_criteria: @filters.only_active_to_hash }) if EmailAlertsFeature.enabled? && !ReadOnlyFeature.enabled?
    - if @vacancies.any?
      = render partial: 'sorting_options', locals: { search_criteria: @filters.only_active_to_hash, sort: @sort }

      %ul.vacancies
        - @vacancies.each do |vacancy|
          = render partial: 'vacancy', locals: { vacancy: vacancy }

    - elsif @vacancies.user_search?
      %p
        = t('jobs.no_jobs.intro')
        %ul.govuk-list.govuk-list--bullet
          - t('jobs.no_jobs.suggestions').each do |list_item|
            %li= list_item

    - else
      %div.empty
        - t('jobs.none_listed', count: Vacancy.listed.count).each do |sentence|
          %p= sentence

= paginate @vacancies
