- if @vacancies_search.location_search.location_category_search?
  = content_for :page_title_prefix, t('jobs.location_search_heading', location: format_location_name(@vacancies_search.location_search.location_category), keyword: @vacancies_search.keyword)
  = content_for :page_description,  t('jobs.location_description', location: format_location_name(@vacancies_search.location_search.location_category))
- else
  = content_for :page_title_prefix, t('jobs.heading')
= render 'head_links'

= render(Jobseekers::SearchResults::HeadingComponent.new(vacancies_search: @vacancies_search))
= render(Jobseekers::SearchResults::JobAlertsLinkComponent.new(vacancies_search: @vacancies_search))

.govuk-grid-row{ class: 'govuk-!-margin-top-9' }
  .govuk-grid-column-one-third
    = render 'filters'
  .govuk-grid-column-two-thirds
    %section.sort-results.sortable-links{ role: "search",  aria: { label: "Sort vacancies"} }
      = render partial: 'sorting_options', locals: { search_criteria: @vacancies_search.only_active_to_hash, sort: @vacancies_search.sort_by }
      %p.govuk-body#vacancies-stats-top{ 'aria-label': 'Number of results' }= t('jobs.number_of_results_html', first: @vacancies_search.stats[0], last: @vacancies_search.stats[1], count: @vacancies_search.stats[2])
    #vacancies-hits{ 'aria-label': 'Search results' }
      - if @vacancies.any?
        %ul.vacancies{ 'role': 'list' }
          - @vacancies.each do |vacancy|
            = render(Jobseekers::VacancySummaryComponent.new(vacancy: vacancy))

      - elsif @vacancies_search.any?
        .divider-bottom
          %p.govuk-heading-m
            = t('jobs.no_jobs.intro')
            %ul.govuk-list.govuk-list--bullet
              - t('jobs.no_jobs.suggestions').each do |list_item|
                %li= list_item
        %span.govuk-heading-m
          = t('subscriptions.link.no_search_results_html', link_href: new_subscription_path(search_criteria: @vacancies_search.only_active_to_hash), class: 'govuk-link', id: 'job-alert-link-search')
        %p{ class: 'govuk-!-margin-1' }
          = t('subscriptions.benefits.title')
          %ul.govuk-list.govuk-list--bullet
            - t('subscriptions.benefits.list').each do |list_item|
              %li= list_item

      - else
        %div.empty
          - t('jobs.none_listed', count: Vacancy.listed.count).each do |sentence|
            %p= sentence

    .pagination-and-stats
      .pagination-results
        = paginate @vacancies_search.vacancies
      %p.govuk-body#vacancies-stats-bottom{ 'aria-label': 'Number of results' }
