- if @vacancies_search.location_category_search?
  = content_for :page_title_prefix, t('jobs.location_search_heading', location: format_location_name(@vacancies_search.location_category), keyword: @vacancies_search.keyword)
  = content_for :page_description,  t('jobs.location_description', location: format_location_name(@vacancies_search.location_category))
- else
  = content_for :page_title_prefix, t('jobs.heading')
= render partial: 'head_links'

%h1#job-count{ class: 'govuk-!-margin-bottom-2 govuk-heading-xl govuk-!-font-weight-regular', role: 'heading', 'aria-level': '1' }
  = raw @vacancies.search_heading(location: @vacancies_search.location, keyword: @vacancies_search.keyword)
- if @vacancies.user_search?
  = render(partial: 'subscribe_link', locals: { search_criteria: @vacancies_search.only_active_to_hash }) if EmailAlertsFeature.enabled? && !ReadOnlyFeature.enabled?
.govuk-grid-row{ class: 'govuk-!-margin-top-9' }
  .govuk-grid-column-one-third
    = render 'filters'
  .govuk-grid-column-two-thirds
    .govuk-grid-column-full.vacancies-count
    .location-info-message.govuk-info-summary
      .govuk-info-summary__body
        %h3.govuk-heading-s{ class: 'govuk-!-margin-bottom-1' } We are having some problems with search
        Location search is not working properly so you may see some unexpected results.
        %br
        If you searched using a postcode, you might get more relevant results using the name of a place instead.
    .sort-results.sortable-links
      = render partial: 'sorting_options', locals: { search_criteria: @vacancies_search.only_active_to_hash, sort: @vacancies_search.sort_by }
    #vacancies-hits{ 'aria-label': 'Search results' }
      - if @vacancies.any?
        %ul.vacancies{ 'role': 'list' }
          - @vacancies.each do |vacancy|
            = render partial: 'vacancy', locals: { vacancy: vacancy }

      - elsif @vacancies.user_search?
        %p
          = t('jobs.no_jobs.intro')
          %ul.govuk-list.govuk-list--bullet
            - t('jobs.no_jobs.suggestions').each do |list_item|
              %li= list_item

      - else
        %div.empty
          - t('jobs.none_listed', count: Vacancy.listed.count).each do |sentence|
            %p= sentence

= paginate @vacancies_search.vacancies
= javascript_pack_tag 'search'
