- content_for :page_title_prefix, t('jobs.heading')

= render partial: 'shared/beta_banner'

%h1.heading-xlarge
  = t('jobs.heading')
.grid-row
  .column-one-third
    = render 'filters'
  .column-two-thirds
    %p.heading-medium.mt0= @vacancies.total_count_message
    - if @vacancies.any?
      %div.sortable-links
        = t('jobs.sort_by')
        = link_to_sort_by t('jobs.expires_on'), column: 'expires_on', order: 'asc', sort: @sort
        = link_to_sort_by t('jobs.publish_on'), column: 'publish_on', order: 'desc', sort: @sort

      %ul.vacancies
        - @vacancies.each do |vacancy|
          = render partial: 'vacancy', locals: { vacancy: vacancy }

    - elsif @vacancies.searched
      %div.empty
        = t('jobs.no_jobs')
    - else
      %div.empty
        - t('jobs.none_listed').each do |sentence|
          %p= sentence

= paginate @vacancies
