%h1.heading-large
  Publish a vacancy for
  = @vacancy.school.name
  %span.heading-secondary
    Step 1 of 3
= render 'error_messages', errors: @vacancy.errors
= simple_form_for @vacancy do |f|
  = hidden_field_tag :from, :job_specification
  = hidden_field_tag :next, (params[:next] || :candidate_specification)
  = render partial: 'job_specification', locals: { f: f }

  = f.input :school_id, as: :hidden, if: :new_record?
  = f.button :submit, 'Save and continue'