.vacancy.grid-row
  .column-two-thirds
    .govuk-box-highlight.margin-bottom-large
      %h1.heading-large.margin-top
        = t('vacancies.submitted')
      %p
        The system reference number is
        %br
        %strong.heading-medium=@vacancy.reference

    - if @vacancy.publish_today?
      %p
        = t('vacancies.view_posted_vacancy')
      %p
        = link_to vacancy_url(@vacancy), vacancy_path(@vacancy)
    - else
      %p
        = t('vacancies.preview_posted_vacancy', date: @vacancy.publish_on)
      %p
        = link_to vacancy_url(@vacancy), vacancy_path(@vacancy)
