%h1.heading-large
  Publish a vacancy for
  = @vacancy.school.name
  %span.heading-secondary
    Confirm details before you submit

.vacancy.grid-row
  .column-two-thirds

    %h2.heading-medium Job specification
    %dl.govuk-check-your-answers.cya-questions-short
      %div
        %dt.cya-question
          Job title
        %dd.cya-answer
          = @vacancy.job_title
        %dd.cya-change
          = link_to 'Change', vacancy_job_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Headline
        %dd.cya-answer
          = @vacancy.headline
        %dd.cya-change
          = link_to 'Change', vacancy_job_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Job description
        %dd.cya-answer
          = @vacancy.job_description
        %dd.cya-change
          = link_to 'Change', vacancy_job_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Main Subject
        %dd.cya-answer
          = @vacancy.main_subject
        %dd.cya-change
          = link_to 'Change', vacancy_job_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Salary range
        %dd.cya-answer
          = @vacancy.salary_range("to")
        %dd.cya-change
          = link_to 'Change', vacancy_job_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Working pattern
        %dd.cya-answer
          = @vacancy.working_pattern.humanize
        %dd.cya-change
          = link_to 'Change', vacancy_job_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Benefits
        %dd.cya-answer
          = @vacancy.benefits
        %dd.cya-change
          = link_to 'Change', vacancy_job_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Pay scale
        %dd.cya-answer
          =@vacancy.pay_scale
        %dd.cya-change
          = link_to 'Change', vacancy_job_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Weekly hours
        %dd.cya-answer
          = @vacancy.weekly_hours
        %dd.cya-change
          = link_to 'Change', vacancy_job_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Start date
        %dd.cya-answer
          = format_date @vacancy.starts_on
        %dd.cya-change
          = link_to 'Change', vacancy_job_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          End date
        %dd.cya-answer
          = format_date @vacancy.ends_on
        %dd.cya-change
          = link_to 'Change', vacancy_job_specification_path(@vacancy, next: :review)

    %h2.heading-medium Candidate specification
    %dl.govuk-check-your-answers.cya-questions-short
      %div
        %dt.cya-question
          Essential requirements
        %dd.cya-answer
          = @vacancy.essential_requirements
        %dd.cya-change
          = link_to 'Change', vacancy_candidate_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Education
        %dd.cya-answer
          = @vacancy.education
        %dd.cya-change
          = link_to 'Change', vacancy_candidate_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Qualifications
        %dd.cya-answer
          = @vacancy.qualifications
        %dd.cya-change
          = link_to 'Change', vacancy_candidate_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Experience
        %dd.cya-answer
          = @vacancy.experience
        %dd.cya-change
          = link_to 'Change', vacancy_candidate_specification_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Leadership level
        %dd.cya-answer
          - if @vacancy.leadership
            = @vacancy.leadership.title
        %dd.cya-change
          = link_to 'Change', vacancy_candidate_specification_path(@vacancy, next: :review)

    %h2.heading-medium Application details
    %dl.govuk-check-your-answers.cya-questions-short
      %div
        %dt.cya-question
          Vacancy contact email
        %dd.cya-answer
          = @vacancy.contact_email
        %dd.cya-change
          = link_to 'Change', vacancy_application_details_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Vacancy deadline date
        %dd.cya-answer
          = format_date @vacancy.expires_on
        %dd.cya-change
          = link_to 'Change', vacancy_application_details_path(@vacancy, next: :review)
      %div
        %dt.cya-question
          Vacancy publication date
        %dd.cya-answer
          = format_date @vacancy.publish_on
        %dd.cya-change
          = link_to 'Change', vacancy_application_details_path(@vacancy, next: :review)

    %h2.heading-medium Now submit your vacancy
    %p You can preview your vacancy to see how it will look for potential applicants.
    %p By submitting you are confirming that, to the best of your knowledge, the details you are providing are correct.

    = link_to "Confirm and submit vacancy", publish_vacancy_path(@vacancy), method: :put, class: "button"
