%details.govuk-details.filter-group__container{ "data-module": "govuk-details" }
  %summary.govuk-details__summary
    %span.govuk-details__summary-text
      =t('jobs.filters.add_more_filters')
  -# TODO: add 'education_phases' to array once the list of options has been reduced
  - ['job_roles', 'working_patterns'].each do |filter_type|
    %legend.govuk-fieldset__legend.govuk-fieldset__legend--s
      %h3.govuk-label.govuk-label--s{ id: "checkbox-group-heading-#{filter_type}" }
        = t("jobs.filters.#{filter_type}")

    .checkbox-group__container{ aria: { labelledby: "checkbox-group-heading-#{filter_type}" } }
      = render 'shared/checkbox_group', search: false, f: f, attribute_name: filter_type.to_sym, options: @jobs_search_form.send("#{filter_type.chop}_options".to_sym), value_method: :first, text_method: :last, small: true

