%h2.govuk-heading-m= t('.title')

- if authenticated?
  %div.manage-vacancies
    %p= "#{t('pages.home.signed_in.description')} #{current_organisation.name}"
    = link_to t('pages.home.signed_in.manage_link'), organisation_path, class: 'govuk-button govuk-button--secondary manage-vacancies'

- else
  %p= t('.description')
  - if AuthenticationFallback.enabled?
    = link_to t('sign_in.link'), new_identifications_path, class: 'govuk-button govuk-button--secondary govuk-!-margin-bottom-0 identifications-button'
  - else
    = render 'hiring_staff/identifications/signin', home: true

  %p= t('.signin_guidance_html', link: link_to(t('.signin_link'), new_identifications_path, class: 'govuk-link'))

