%h2.govuk-heading-m= t('.title')

- if authenticated?
  %div.manage-vacancies
    %p= "#{t('pages.home.signed_in.description')} #{current_school.name}"
    = simple_form_for :identifications, url: identifications_path, defaults: { input_html: { class: 'text' } }, method: :post do |f|
      = f.submit t('pages.home.signed_in.manage_link'), class: 'govuk-button'

- else
  %p= t('.description')
  = link_to t('sign_in.link'), new_identifications_path, class: 'govuk-button identifications-button'
  %p= t('.signin_guidance_html', link: link_to(t('.signin_link'), new_identifications_path))




