%h2.govuk-heading-m= t('.title')

- if authenticated?
  %div.manage-vacancies
    %p= "#{t('pages.home.signed_in.description')} #{current_school.name}"
    = link_to t('pages.home.signed_in.manage_link'), school_path, class: 'govuk-button manage-vacancies'

- else
  %p= t('.description')
  - if ENV['FEATURE_SIGN_IN_ALERT'].to_s == 'true' || AuthenticationFallback.enabled?
    = link_to t('sign_in.link'), new_identifications_path, class: 'govuk-button identifications-button'
  - else
    = render 'hiring_staff/identifications/signin', home: true

  %p= t('.signin_guidance_html', link: link_to(t('.signin_link'), new_identifications_path))

