- content_for :page_title_prefix, t('hiring_staff.temp_login.choose_organisation.page_title')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    - if @reason_for_failing_sign_in
      .govuk-notification.govuk-notification--notice{ aria: { labelledby: "govuk-notification__title" }, role: "alert", tabindex: "-1" }
        %h2.govuk-notification__title
          =t('hiring_staff.temp_login.choose_organisation.denial.title')
        .govuk-notification__body
          =t("hiring_staff.temp_login.choose_organisation.denial.#{@reason_for_failing_sign_in}_html",
            try_again: (link_to 'try again', new_identifications_path, class: 'govuk-link'))
    - else
      %h1.govuk-heading-l= t('hiring_staff.temp_login.choose_organisation.heading')

      %p= t('hiring_staff.temp_login.choose_organisation.please_select')

      - @schools.each do |school|
        = link_to(location(school), auth_email_create_session_path(urn: school.urn), class: 'govuk-link')
        %br

      - @school_groups.each do |school_group|
        = link_to(school_group.name, auth_email_create_session_path(uid: school_group.uid), class: 'govuk-link')
        %br
