- content_for :page_title_prefix, "#{@application_details_form.errors.present? ? 'Error: ' : ''}Edit the Application details"

%h1.govuk-heading-l
  = t('jobs.edit_heading', school: @school.name)
= render 'hiring_staff/vacancies/error_messages', errors: @application_details_form.errors
= simple_form_for @application_details_form, html: { class: 'vacancy-form' }, method: :put, url: school_job_application_details_path(@application_details_form.id) do |f|
  %h2.govuk-heading-m
    = t('jobs.application_details')

  .govuk-grid-row
    .govuk-grid-column-one-half
      = f.input :contact_email,
                label: t('jobs.contact_email'),
                hint: t('jobs.form_hints.contact_email'),
                as: :email,
                wrapper_html: {id: 'contact_email'},
                required: true

      = f.input :application_link,
                label: t('jobs.application_link'),
                hint: t('jobs.form_hints.application_link'),
                wrapper_html: {id: 'application_link'},
                required: true

      - if @application_details_form.disable_editing_publish_on?
        #publish_on
          %label.govuk-label= t('jobs.publication_date')
          %p= format_date @application_details_form.publish_on
        %br
      - else
        %div.govuk-form-group#publish_on
          = f.gov_uk_date_field :publish_on,
                                legend_options: { page_heading: false, class: "govuk-label" }

      %div.govuk-form-group#deadline
        = f.gov_uk_date_field :expires_on,
                              legend_options: { page_heading: false, class: "govuk-label" }

      %div.govuk-form-group#expiry_time{:class => ("govuk-form-group--error" if @application_details_form.errors[:expiry_time].present?)}
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend
            = t('jobs.deadline_time')
          %span.govuk-hint
            = t('jobs.form_hints.application_deadline_time')
          = f.error :expiry_time 
          %govuk-date-input
            .govuk-date-input__item
              .govuk-form-group
                = f.input :expiry_time_hh, label: t('jobs.application_deadline_hour'), required: true, as: :integer,
                    input_html: {class: 'govuk-input govuk-date-input__input govuk-input--width-2'}
            .govuk-date-input__item
              .govuk-form-group
                = f.input :expiry_time_mm, label: t('jobs.application_deadline_min'), required: true, as: :integer,
                    input_html: {class: 'govuk-input govuk-date-input__input govuk-input--width-2'}
            .govuk-date-input__item
              .govuk-form-group
                = f.input :expiry_time_meridian,
                          collection: ['am', 'pm'], 
                          label: t('jobs.application_deadline_meridian'), 
                          input_html: {class: 'govuk-input govuk-date-input__input govuk-input--width-2'},
                          required: true

      = f.button :submit, t('buttons.update_job')
