%h1.heading-large
  = t('vacancies.publish_heading', school: @application_details_form.school.name)
  %span.heading-secondary
    Step 3 of 3
= render 'hiring_staff/vacancies/error_messages', errors: @application_details_form.errors
= simple_form_for @application_details_form, html: { class: 'vacancy-form' }, action: :post, url: application_details_school_job_path(school_id: @school.id) do |f|
  %h2.heading-medium
    = t('vacancies.application_details')

  .grid-row
    .column-one-half
      = f.input :contact_email,
                label: t('vacancies.contact_email'),
                hint: t('vacancies.form_hints.contact_email'),
                as: :email,
                wrapper_html: {id: 'contact_email'},
                required: true

      = f.input :application_link,
                label: t('vacancies.application_link'),
                hint: t('vacancies.form_hints.application_link'),
                wrapper_html: {id: 'application_link'},
                required: true

      %div.form-group#publish_on
        = f.gov_uk_date_field :publish_on,
                              legend_text: t('vacancies.publication_date'),
                              legend_class: 'form-label-bold',
                              form_hint_text: t('vacancies.form_hints.publication_date',
                                              date: l(Date.today, format: :hinttext))

      %div.form-group#deadline
        = f.gov_uk_date_field :expires_on,
                              legend_text: t('vacancies.deadline_date'),
                              legend_class: 'form-label-bold',
                              form_hint_text: t('vacancies.form_hints.deadline_date',
                                                date: l(Date.today + 2.months, format: :hinttext))

      = f.button :submit, t('buttons.save_and_continue')
