- content_for :page_title_prefix, "#{@application_details_form.errors.present? ? 'Error: ' : ''}Application details — Publish a job for #{@school.name}"

%h1.govuk-heading-l
  = t('jobs.publish_heading', school: @application_details_form.school.name)
  %span.govuk-caption-l
    Step 3 of 3
= render 'hiring_staff/vacancies/error_messages', errors: @application_details_form.errors
= simple_form_for @application_details_form, html: { class: 'vacancy-form' }, action: :post, url: application_details_school_job_path(school_id: @school.id) do |f|
  %h2.govuk-heading-m
    = t('jobs.application_details')

  .govuk-grid-row
    .govuk-grid-column-one-half
      = f.input :contact_email,
                label: t('jobs.contact_email'),
                hint: t('jobs.form_hints.contact_email'),
                as: :email,
                wrapper_html: {id: 'contact_email'},
                required: true

      = f.input :application_link,
                label: t('jobs.application_link'),
                hint: t('jobs.form_hints.application_link'),
                wrapper_html: {id: 'application_link'},
                required: true

      %div.govuk-form-group#publish_on
        = f.gov_uk_date_field :publish_on,
                              legend_options: { page_heading: false, class: "govuk-label" }

      %div.govuk-form-group#expires_on
        = f.gov_uk_date_field :expires_on,
                              legend_options: { page_heading: false, class: "govuk-label" } 
        
      %div.govuk-form-group#expiry_time{:class => ("govuk-form-group--error" if @application_details_form.errors[:expiry_time].present?)}
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend
            = t('jobs.deadline_time')
          %span.govuk-hint
            = t('jobs.form_hints.application_deadline_time')
          = f.error :expiry_time, error_class: 'govuk-input--error'
          .govuk-date-input
            .govuk-date-input__item.colon-position-support
              = f.input :expiry_time_hh, label: t('jobs.application_deadline_hour'), required: true,
                  input_html: {class:'govuk-input govuk-date-input__input govuk-input--width-2 ' + (@application_details_form.errors[:expiry_time].present? ? "govuk-input--error" : '' )}
            .govuk-date-input__item
              = f.input :expiry_time_mm, label: t('jobs.application_deadline_min'), required: true,
                  input_html: {class:'govuk-input govuk-date-input__input govuk-input--width-2 ' + (@application_details_form.errors[:expiry_time].present? ? "govuk-input--error" : '' )}
            .govuk-date-input__item
              = f.input :expiry_time_meridian,
                        as: :select,
                        wrapper: :select,
                        collection: ['am', 'pm'], 
                        label: t('jobs.application_deadline_meridian'), 
                        required: true,
                        include_blank: '- -',
                        input_html: {class: ("govuk-input--error" if @application_details_form.errors[:expiry_time].present?)}

      = f.button :submit, t('buttons.save_and_continue')
      