- content_for :page_title_prefix, "#{@application_details_form.errors.present? ? 'Error: ' : ''}#{t('jobs.application_details')} — #{t('jobs.create_a_job', school: current_school.name)}"
= render 'hiring_staff/vacancies/vacancy_form_partials/title'

= simple_form_for @application_details_form, action: :post, url: application_details_school_job_path(school_id: current_school.id) do |f|

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render 'hiring_staff/vacancies/error_messages', errors: @application_details_form.errors

      %h2.govuk-heading-l
        = t('jobs.application_details')

      = f.input :contact_email,
                label: t('jobs.contact_email'),
                hint: t('jobs.form_hints.contact_email'),
                as: :email,
                wrapper_html: { id: 'contact_email' },
                required: true

      = f.input :application_link,
                label: t('jobs.application_link'),
                hint: t('jobs.form_hints.application_link'),
                wrapper_html: { id: 'application_link' },
                required: true

      %div.govuk-form-group#publish_on
        = f.gov_uk_date_field :publish_on,
                              legend_options: { page_heading: false, class: "govuk-label" }

      %div.govuk-form-group#expires_on
        = f.gov_uk_date_field :expires_on,
                              legend_options: { page_heading: false, class: "govuk-label" }

      = render 'hiring_staff/vacancies/expiry_time_field', f: f, form: @application_details_form

      = f.button :submit, t('buttons.save_and_continue')

    .govuk-grid-column-one-third
      = render 'hiring_staff/vacancies/sidebar'
