- content_for :page_title_prefix, page_title_prefix(@vacancy, @application_details_form, t('jobs.application_details'))
= render 'hiring_staff/vacancies/vacancy_form_partials/title'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @application_details_form, url: school_job_application_details_path(@vacancy.id), html: { method: "patch" }, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f|
      = f.govuk_error_summary t('jobs.errors_present')

      %h2.govuk-heading-l
        = t('jobs.application_details')

      = render 'hiring_staff/vacancies/vacancy_form_partials/hidden_state_input', f: f

      = f.govuk_email_field :contact_email,
        label: { text: t('helpers.fieldset.application_details_form.contact_email_html'), size: 's' },
        hint_text: t('helpers.hint.application_details_form.contact_email'),
        required: true

      = f.govuk_text_area :school_visits,
        label: { text: t('helpers.fieldset.application_details_form.school_visits'), size: 's' },
        hint_text: t('helpers.hint.application_details_form.school_visits'),
        rows: 10

      = f.govuk_text_area :how_to_apply,
        label: { text: t('helpers.fieldset.application_details_form.how_to_apply'), size: 's' },
        hint_text: t('helpers.hint.application_details_form.how_to_apply'),
        rows: 10

      = f.govuk_url_field :application_link,
        label: { text: t('helpers.fieldset.application_details_form.application_link'), size: 's' },
        hint_text: t('helpers.hint.application_details_form.application_link')

      = render 'hiring_staff/vacancies/vacancy_form_partials/submit', f: f

  .govuk-grid-column-one-third
    - unless @vacancy.published?
      = render 'hiring_staff/vacancies/sidebar'
