-# Usage to include filter group
-#
-# = render 'shared/filter_group', :f => <FormBuilder form>,
-#   filters: {
-#     :title => <String>,
-#     :removeButtons => <Boolean>,
-#     :totalCount => <Integer>,
-#     :items => [
-#       { :options => <Array>, :title => <String>, :search => <Boolean>, :key => <String> }
-#     ]
-#   }

- if filters.present?
  .moj-filter
    .moj-filter__header
      .selected-filters__heading
        %span.moj-filter__heading-title
          %h2.govuk-heading-s
            = filters[:title]
        %a.govuk-link.govuk-link--no-visited-state{ href: '', id: 'close-all-accordion' }
          = 'Close all'

    - if filters[:totalCount] > 0 && filters[:removeButtons]
      .moj-filter__content
        .moj-filter__selected
          .selected-filters__heading{ class: 'govuk-!-margin-bottom-2' }
            .govuk-body{ class: 'govuk-!-margin-bottom-0' }
              = 'Selected filters'
            %a.govuk-link.govuk-link--no-visited-state{ href: '', id: 'clear-filters-button' }
              = 'Clear filters'

          - filters[:items].each do |group|
            .govuk-heading-s{ class: 'govuk-!-margin-bottom-0' }
              = group[:title]

            %ul.moj-filter-tags
              - group[:options].each do |school|
                - if group[:selected].include? school.id
                  %li
                    %button.moj-filter__tag{ data: { group: group[:key], key: school.id } }
                      %span.govuk-visually-hidden
                        = 'Remove this filter'
                      = school.name
                      %i.fa.fa-close

.accordion-group.govuk-accordion{ id: 'accordion-default', data: { module: "govuk-accordion"} }

  - filters[:items].each_with_index do |group, index|
    .govuk-accordion__section.accordion-content__group.filter-group__container
      .govuk-accordion__section-header
        %h3.govuk-accordion__section-heading
          %span.govuk-accordion__section-button{ id: "accordion-default-heading-#{index}" }
            = group[:title]

      .govuk-accordion__section-content.filter-group__checkboxes{ id: "accordion-default-content-#{index}", aria: { labelledby: "accordion-default-heading-#{index}" }, data: { group: group[:key] } }
        = render 'shared/checkbox_group', f: f,
          search: group[:search],
          attribute_name: group[:attribute],
          options: group[:options],
          value_method: group[:value_method],
          text_method: group[:text_method],
          hint_method: group[:hint_method],
          small: group[:small]
