- flash.each do |style, message|
  .govuk-notification.js-dismissable{role: 'alert', tabindex: '-1', class: "govuk-notification--#{style}"}
    - unless style == 'danger'
      %a.govuk-link.govuk-link--no-visited-state.dismiss-link.js-dismissable__link{ href: '#' }
        = t('buttons.dismiss')

    - if message.is_a?(Hash) && message.key?(:title) && message.key?(:body)
      .govuk-notification__title= message[:title]
      .govuk-notification__body= raw message[:body]
    - else
      .govuk-notification__body= raw message
