%nav
  %ul.govuk-header__navigation.mobile-header-menu-item{id: "navigation", "aria-label": "Top Level Navigation"}
    - if authenticated?
      %li{class: active_link_class(school_path)}= link_to t('nav.school_page_link'), school_path, class: 'govuk-header__link'
      %li{class: active_link_class(root_path)}= link_to t('nav.jobseekers_index_link'), root_path, class: 'govuk-header__link'
      %li{class: active_link_class(sessions_path)}= link_to t('nav.sign_out'), sessions_path, method: :delete, class: 'govuk-header__link'
    - else
      %label.govuk-label.mobile-display-only
        = I18n.t('footer.for_job_seekers')
      %li{class: active_link_class(root_path)}= link_to t('nav.find_job'), root_path, class: 'govuk-header__link mobile-header-text'
      %label.govuk-label.mobile-display-only
        = I18n.t('footer.for_schools')
      %li{class: active_link_class(new_identifications_path)}= link_to t('nav.sign_in'), new_identifications_path, class: 'govuk-header__link mobile-header-text'