.govuk-form-group.feedback-form-group#user_participation_response
  %fieldset.govuk-fieldset
    %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
      %h2.govuk-fieldset__heading
        = t('general_feedback.user_participation_legend_html')

    .govuk-radios.govuk-radios--conditional{ 'data-module': 'govuk-radios' }
      .govuk-radios__item
        = f.radio_button(:user_participation_response, :interested, class: 'govuk-radios__input', "data-aria-controls": 'conditional_email')
        = f.label(t('general_feedback.user_participation_options.interested'), class: "govuk-label govuk-radios__label")

      #conditional_email.govuk-radios__conditional.govuk-radios__conditional--hidden
        = f.input :email, as: :email,
            label: t('general_feedback.user_interested_email_heading'),
            hint: { text: t('general_feedback.user_interested_email_text') },
            wrapper_html: { id: 'email' },
            required: true

      .govuk-radios__item
        = f.radio_button(:user_participation_response, :not_interested, class: 'govuk-radios__input')
        = f.label(t('general_feedback.user_participation_options.not_interested'), class: "govuk-label govuk-radios__label")
