= render 'hiring_staff/vacancies/vacancy_form_partials/title', form_section_title: I18n.t('jobs.pay_package')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @pay_package_form, url: school_job_pay_package_path(@vacancy.id), html: { method: "patch" }, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f|
      = render 'hiring_staff/vacancies/error_messages', errors: @pay_package_form.errors

      %h2.govuk-heading-m
        = t('jobs.pay_package')

      = f.govuk_text_field :salary,
        label: { text: t('helpers.fieldset.pay_package_form.salary_html'), size: 's' },
        hint_text: t('helpers.hint.pay_package_form.salary'),
        required: true

      = f.govuk_text_area :benefits,
        label: { text: t('jobs.benefits'), size: 's' },
        hint_text: t('helpers.hint.pay_package_form.benefits')

      = render 'hiring_staff/vacancies/vacancy_form_partials/submit', f: f
  .govuk-grid-column-one-third
    - unless @vacancy.published?
      = render 'hiring_staff/vacancies/sidebar'
