- content_for :page_title_prefix, page_title_prefix(@vacancy, @pay_package_form, t('jobs.pay_package'))
= render HiringStaff::VacancyFormPageHeadingComponent.new(@vacancy, session[:vacancy_attributes])
- if @vacancy.present? && @vacancy&.state != 'create'
  = render 'hiring_staff/vacancies/vacancy_form_partials/cancel_and_return_link'
- else
  = link_to t('buttons.back'), job_specification_organisation_job_path, class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @pay_package_form, url: organisation_job_pay_package_path(@vacancy.id), html: { method: "patch" } do |f|
      = f.govuk_error_summary

      %h2.govuk-heading-l= t('jobs.pay_package')

      = render 'hiring_staff/vacancies/vacancy_form_partials/hidden_state_input', f: f

      = f.govuk_text_field :salary, label: { size: 's' }, required: true

      = f.govuk_text_area :benefits, label: { size: 's' }

      = render 'hiring_staff/vacancies/vacancy_form_partials/submit', f: f

  .govuk-grid-column-one-third
    = render(HiringStaff::SidebarComponent.new(vacancy: @vacancy))
