- content_for :page_title_prefix, page_title_prefix(@vacancy, @pay_package_form, t('jobs.pay_package'))
= render 'hiring_staff/vacancies/vacancy_form_partials/heading'

- if @vacancy.present? && @vacancy&.state != 'create'
  = link_to t('buttons.cancel_and_return'), edit_organisation_job_path(@vacancy.id), class: 'govuk-back-link'
- else
  = link_to t('buttons.back'), job_specification_organisation_job_path, class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @pay_package_form, url: organisation_job_pay_package_path(@vacancy.id), html: { method: "patch" } do |f|
      = f.govuk_error_summary

      %h2.govuk-heading-l
        = t('jobs.pay_package')

      = render 'hiring_staff/vacancies/vacancy_form_partials/hidden_state_input', f: f

      = f.govuk_text_field :salary,
        label: { text: t('helpers.fieldset.pay_package_form.salary_html'), size: 's' },
        hint_text: t('helpers.hint.pay_package_form.salary'),
        required: true

      = f.govuk_text_area :benefits,
        label: { text: t('jobs.benefits'), size: 's' },
        hint_text: t('helpers.hint.pay_package_form.benefits')

      = render 'hiring_staff/vacancies/vacancy_form_partials/submit', f: f

  .govuk-grid-column-one-third
    = render(CreateAJobSidebarComponent.new(vacancy: @vacancy))
