.govuk-grid-row
  .govuk-grid-column-one-half
    %h3.govuk-heading-s= t('.cities')
    %ul.govuk-list.two-column-list{ aria: { label: "#{t('.cities')} list" } }
      - @cities_facets.each do |city, count|
        %li
          = govuk_link_to(city, location_category_path(city))
          = "(#{count})"

  .govuk-grid-column-one-half
    %h3.govuk-heading-s= t('.counties')
    %ul.govuk-list.two-column-list{ aria: { label: "#{t('.counties')} list" } }
      - @counties_facets.each do |county, count|
        %li
          = govuk_link_to(county, location_category_path(county))
          = "(#{count})"

.govuk-grid-row
  .govuk-grid-column-one-half
    %h3.govuk-heading-s= t('.subjects')
    %ul.govuk-list.two-column-list{ aria: { label: "#{t('.subjects')} list" } }
      - @subjects_facets.each do |subject, count|
        %li
          = govuk_link_to(subject, jobs_path(keyword: subject))
          = "(#{count})"

  .govuk-grid-column-one-half
    %h3.govuk-heading-s= t('.job_roles')
    %ul.govuk-list.two-column-list{ aria: { label: "#{t('.job_roles')} list" } }
      - @job_roles_facets.each do |job_role, count|
        %li
          = govuk_link_to(t("helpers.label.job_details_form.job_roles_options.#{job_role.to_s}"), jobs_path(job_roles: job_role))
          = "(#{count})"
