- content_for :page_title_prefix, "#{@candidate_specification_form.errors.present? ? 'Error: ' : ''}Candidate specification — Publish a job for #{@school.name}"

%h1.govuk-heading-l
  = t('jobs.publish_heading', school: @school.name)
  %span.govuk-caption-l
    Step 2 of 3
= render 'hiring_staff/vacancies/error_messages', errors: @candidate_specification_form.errors
= simple_form_for @candidate_specification_form, html: { class: 'vacancy-form' }, action: :post, url: candidate_specification_school_job_path(school_id: @school.id)  do |f|
  %h2.govuk-heading-m
    = t('jobs.candidate_specification')

  .govuk-grid-row
    .govuk-grid-column-one-half
      = f.input :education,
                label: t('jobs.education'),
                as: :text,
                hint: t('jobs.form_hints.education'),
                input_html: {rows: 5},
                wrapper_html: {id: 'education'},
                required: true
      = f.input :qualifications,
                label: t('jobs.qualifications'),
                as: :text,
                hint: t('jobs.form_hints.qualifications'),
                input_html: {rows: 5},
                wrapper_html: {id: 'qualifications'},
                required: true
      = f.input :experience,
                label: t('jobs.experience'),
                as: :text,
                hint: t('jobs.form_hints.experience'),
                input_html: {rows: 5},
                wrapper_html: {id: 'experience'},
                required: true

      = f.button :submit, t('buttons.save_and_continue')
