%h1.heading-large
  = t('vacancies.publish_heading', school: @school.name)
  %span.heading-secondary
    Step 2 of 3
= render 'hiring_staff/vacancies/error_messages', errors: @candidate_specification_form.errors
= simple_form_for @candidate_specification_form, html: { class: 'vacancy-form' }, action: :post, url: candidate_specification_school_vacancy_path(school_id: @school.id)  do |f|
  = hidden_field_tag :from, :candidate_specification
  = hidden_field_tag :next, (params[:next] || :application_details)
  %h2.heading-medium
    = t('vacancies.candidate_specification')

  .grid-row
    .column-one-half
      = f.input :education,
                label: t('vacancies.education'),
                as: :text,
                hint: t('vacancies.form_hints.education'),
                input_html: {rows: 5},
                required: true
      = f.input :qualifications,
                label: t('vacancies.qualifications'),
                as: :text,
                hint: t('vacancies.form_hints.qualifications'),
                input_html: {rows: 5},
                required: true
      = f.input :experience,
                label: t('vacancies.experience'),
                as: :text,
                hint: t('vacancies.form_hints.experience'),
                input_html: {rows: 5},
                required: true

      = f.input :school_id, as: :hidden
      = f.button :submit, t('buttons.save_and_continue')
