- content_for :page_title_prefix, t('.title')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= t('.heading')

    = form_for @feedback_form, url: subscription_job_alert_feedback_path, method: :patch do |f|
      = f.govuk_error_summary

      = f.govuk_text_area :comment,
        label: { text: t('.form.labels.comment'), size: 's' },
        hint_text: t('.form.hints.comment'),
        max_chars: 1200,
        rows: 11

      = recaptcha_v3(action: 'job_alert_feedback')

      = f.govuk_submit t('buttons.submit'), classes: 'govuk-!-padding-left-8 govuk-!-padding-right-8'
