- content_for :page_title_prefix, t('.title')

.search-panel-banner
  .govuk-width-container
    .govuk-grid-row
      .govuk-grid-column-two-thirds
        .search-panel.location-search= render 'pages/home/search'
      .govuk-grid-column-one-third
        .signin
          - if ReadOnlyFeature.enabled?
            = render 'pages/home/read_only'
          - elsif JobseekerAccountsFeature.enabled?
            = render 'pages/home/signin_jobseekers'
          - else
            = render 'pages/home/signin_publishers'

.govuk-grid-row
  .govuk-grid-column-full
    = render 'pages/home/vacancy_facets'

.govuk-grid-row{ class: 'govuk-!-margin-top-2'}
  .govuk-grid-column-full
    = link_to t('.browse_all'), jobs_path, class: 'govuk-link govuk-!-font-size-19'
