- content_for :page_title_prefix  do
  = t('static_pages.privacy_policy.page_title')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-l= t('static_pages.privacy_policy.title')

    %h2.govuk-heading-m= t('static_pages.privacy_policy.who_we_are.title')
    %p= t('static_pages.privacy_policy.who_we_are.about')

    %h2.govuk-heading-m=t('static_pages.privacy_policy.when_we_collect.title')
    %p.govuk-body
      = t('static_pages.privacy_policy.when_we_collect.about')
      %ul.govuk-list.govuk-list--bullet
        - t('static_pages.privacy_policy.when_we_collect.list').each do |li|
          %li=li.html_safe

    %h2.govuk-heading-m= t('static_pages.privacy_policy.what_we_collect.title')
    %p.govuk-body
      = t('static_pages.privacy_policy.what_we_collect.about')
      %ul.govuk-list.govuk-list--bullet
        - t('static_pages.privacy_policy.what_we_collect.list').each do |li|
          %li= li

    %p.govuk-body
      = link_to(t('static_pages.privacy_policy.what_we_collect.cookies_link'), cookies_preferences_path, class: 'govuk-link')

    %h2.govuk-heading-m= t('static_pages.privacy_policy.how_we_use.title')
    - t('static_pages.privacy_policy.how_we_use.text').each do |p|
      %p.govuk-body= p

    %h2.govuk-heading-m= t('static_pages.privacy_policy.why_its_lawful.title')
    - t('static_pages.privacy_policy.why_its_lawful.about').each do |p|
      %p.govuk-body= p

    %h2.govuk-heading-m= t('static_pages.privacy_policy.how_long.title')
    - t('static_pages.privacy_policy.how_long.text').each do |p|
      %p.govuk-body= p

    %h2.govuk-heading-m=t('static_pages.privacy_policy.your_rights.title')
    %p.govuk-body
      = t('static_pages.privacy_policy.your_rights.line_1')
      %ul.govuk-list.govuk-list--bullet
        - t('static_pages.privacy_policy.your_rights.list').each do |li|
          %li= li

    %p.govuk-body
      = t('static_pages.privacy_policy.your_rights.line_2_html', contact_the_dfe_url: link_to(t('static_pages.privacy_policy.your_rights.contact_the_dfe'), 'https://www.gov.uk/contact-dfe', target: '_blank', class: 'govuk-link'))
    %p.govuk-body
      = t('static_pages.privacy_policy.your_rights.line_3_html', gdpr_url: link_to(t('static_pages.privacy_policy.your_rights.gdpr'), 'https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/', target: '_blank', class: 'govuk-link'))

    %h2.govuk-heading-m= t('static_pages.privacy_policy.withdrawal_of_consent.title')
    %p.govuk-body= t('static_pages.privacy_policy.withdrawal_of_consent.line_1_html', mailto: mail_to(t('help.email'), t('help.email'), class: 'govuk-link'))
    %p.govuk-body= t('static_pages.privacy_policy.withdrawal_of_consent.line_2_html', ico_url: link_to(t('static_pages.privacy_policy.withdrawal_of_consent.ico'), 'https://ico.org.uk/concerns/', target: '_blank', class: 'govuk-link'))

    %h2.govuk-heading-m=t('static_pages.privacy_policy.last_updated.title')
    %p.govuk-body= t('static_pages.privacy_policy.last_updated.text')
