- content_for :page_title_prefix, t('feedback.page_title')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @feedback, url: school_job_feedback_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f|
      = f.govuk_error_summary t('jobs.errors_present')

      %h2.govuk-heading-l
        = t('feedback.heading')

      = render '/feedback/fields', f: f

      = f.govuk_submit t('feedback.submit')
