\# #{t("job_alerts.alert.email.#{@subscription.frequency}.summary", count: @vacancies.count)}
\
\---
\
- @vacancies.each do |vacancy|
  = notify_link(vacancy.share_url(source: 'subscription', medium: 'email', campaign: "#{@subscription.frequency}_alert"), vacancy.job_title).html_safe
  = location(vacancy.parent_organisation, job_location: vacancy.job_location)
  \
  = "Salary: #{vacancy.salary}"
  - if vacancy.working_patterns?
    = "Working pattern: #{vacancy.working_patterns}"
  = "Closing date: #{format_date(vacancy.expires_on)}"
  \
  \---
  \
\
Visit #{notify_link('https://teaching-vacancies.service.gov.uk', t('app.title'))} - Teaching Vacancies is a free job-listing service from the Department for Education. It helps schools to save money on recruitment and you to take the next step in your career.

\---

= t('job_alerts.alert.email.daily.unsubscribe', unsubscribe_link: unsubscribe_link(@subscription.token))
