\# #{t("job_alerts.alert.email.#{@subscription.frequency}.summary", count: @vacancies.count)}
\
\---
\
- @vacancies.each do |vacancy|
  = notify_link(vacancy.share_url(source: 'subscription', medium: 'email', campaign: 'daily_alert'), vacancy.job_title).html_safe
  = location(vacancy.parent_organisation, job_location: vacancy.job_location)
  \
  = "Salary: #{vacancy.salary}"
  - if vacancy.working_patterns?
    = "Working pattern: #{vacancy.working_patterns}"
  = "Closing date: #{format_date(vacancy.expires_on)}"
  \
  \---
  \
\
\# #{t('subscriptions.title')}
= t('subscriptions.intro')
- @subscription.filtered_search_criteria.each_pair do |filter, value|
  = "#{filter.humanize}: #{value}"
= t('subscriptions.frequency.alert_text', frequency: @subscription.frequency)
= t('subscriptions.link.home_page', home_page_link: notify_link('https://teaching-vacancies.service.gov.uk', t('app.title')))
= - t('subscriptions.footer')

\---

= t('job_alerts.alert.email.daily.unsubscribe', unsubscribe_link: unsubscribe_link(@subscription.token))
