\# #{t('app.title')}
\# #{t('alerts.email.daily.summary', count: @vacancies.count)}
\
\---
\
- @vacancies.each do |vacancy|
  = notify_link(vacancy.share_url(source: 'subscription', medium: 'email', campaign: 'daily_alert'), vacancy.job_title).html_safe
  = vacancy.school_name
  = "Salary: #{vacancy.salary_range}"
  \---
\
Visit #{notify_link('https://teaching-vacancies.service.gov.uk', t('app.title'))}

\---

= t('subscriptions.email.unsubscribe_text_html', link: unsubscribe_link(@unsubscribe_token))