\# #{t('app.title')}
\## #{t('job_alerts.alert.email.daily.summary', count: @vacancies.count, reference: @subscription.reference)}
\
\---
\
- @vacancies.each do |vacancy|
  = notify_link(vacancy.share_url(source: 'subscription', medium: 'email', campaign: 'daily_alert'), vacancy.job_title).html_safe
  = location(vacancy.school_or_school_group)
  \
  = "Salary: #{vacancy.salary}"
  - if vacancy.working_patterns?
    = "Working pattern: #{vacancy.working_patterns}"
  = "Closing date: #{format_date(vacancy.expires_on)}"
  \
  \---
  \
\
Visit #{notify_link('https://teaching-vacancies.service.gov.uk', t('app.title'))} - the free service for schools in England to list teaching roles and for jobseekers to find them.

\---

= t('job_alerts.alert.email.daily.unsubscribe', unsubscribe_link: unsubscribe_link(@subscription.token))
