- content_for :page_title_prefix, page_title_prefix(@vacancy, @job_summary_form, t('jobs.job_summary'))
= render 'hiring_staff/vacancies/vacancy_form_partials/heading'

- if @vacancy.present? && @vacancy&.state != 'create'
  = link_to t('buttons.cancel_and_return'), edit_organisation_job_path(@vacancy.id), class: 'govuk-back-link'
- else
  = link_to t('buttons.back'), organisation_job_application_details_path(@vacancy.id), class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @job_summary_form, url: organisation_job_job_summary_path(@vacancy.id), html: { method: "patch" } do |f|
      = f.govuk_error_summary

      %h2.govuk-heading-l
        = t('jobs.job_summary')

      = render 'hiring_staff/vacancies/vacancy_form_partials/hidden_state_input', f: f

      = f.govuk_text_area :job_summary,
        label: { text: t('helpers.fieldset.job_summary_form.job_summary_html'), size: 's' },
        hint_text: t('helpers.hint.job_summary_form.job_summary'),
        rows: 10,
        required: true

      = f.govuk_text_area :about_school,
        label: { text: t('helpers.fieldset.job_summary_form.about_organisation_html', organisation: @vacancy.school_or_school_group.name), size: 's' },
        hint_text: t('helpers.hint.job_summary_form.about_organisation', organisation: organisation_type_basic(@vacancy.school_or_school_group).capitalize ),
        value: @vacancy.about_school.presence || @vacancy.school_or_school_group.description.presence.to_s,
        rows: 10,
        required: true

      = render 'hiring_staff/vacancies/vacancy_form_partials/submit', f: f

  .govuk-grid-column-one-third
    - unless @vacancy.published? || @vacancy.state == 'copy'
      = render 'hiring_staff/vacancies/sidebar'
