= form.input :search_criteria, as: :hidden
%div.govuk-inset-text
  %ul.govuk-list
    - subscription.filtered_search_criteria.each_pair do |filter, value|
      %li
        - if filter.present?
          %span{ class: 'govuk-!-font-weight-bold'} #{filter.humanize}:
        = value
= form.input :email, as: :email, input_html: { class: 'govuk-input' }, required: true
= form.input :reference, as: :string, input_html: { class: 'govuk-input', placeholder: 'e.g. Maths jobs within 20 miles of Oxford' }