- content_for :page_title_prefix, 'Subscription confirmation'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    .govuk-panel.govuk-panel--confirmation
      %span.hod-checkmark
        %svg{ xmlns: "http://www.w3.org/2000/svg", role: "presentation", focusable: "false", viewBox: "0 0 25 25", height: "40", width: "40" }
          %path{ fill: "currentColor", d: "M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" }
      %h1.govuk-panel__title{ class: 'govuk-!-font-size-24' }= t('subscriptions.confirmation.header')
      .govuk-panel__body
        %h2{ class: 'govuk-!-font-size-24' }=t('subscriptions.confirmation.receipt_confirmation', email: @subscription.email)

    %h2.govuk-heading-m=t('subscriptions.confirmation.next_step')
    %p.govuk-body=t('subscriptions.confirmation.next_step_details')
    %div.govuk-inset-text
      %ul.govuk-list
        - @subscription.filtered_search_criteria.each_pair do |filter, value|
          %li
            - if filter.present?
              %span{ class: 'govuk-!-font-weight-bold' } #{filter.humanize}:
            = value

    %p.govuk-body=t('subscriptions.next_steps')
    %p.govuk-body= t('subscriptions.confirmation.unsubscribe')
    %p.govuk-body
      = link_to t('subscriptions.back_to_search_results'), jobs_path(@subscription.search_criteria_to_h), class: 'govuk-link'
