- content_for :page_title_prefix, t('.title')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    .govuk-panel.tvs-panel.govuk-panel--confirmation
      = render partial: 'shared/checkmark'

      %h1.govuk-panel__title{ class: 'govuk-!-font-size-36' }= t('.header')

      .govuk-panel__body
        %p= t('.body', email: @subscription.email)

    %h2.govuk-heading-m=t('.next_step')
    %p.govuk-body=t('.next_step_details')
    .grouped-text-block
      %ul.govuk-list
        - @subscription.filtered_search_criteria.each_pair do |filter, value|
          %li
            - if filter.present?
              %span{ class: 'govuk-!-font-weight-bold' } #{filter.humanize}:
            = value
        %li{ class: 'govuk-!-margin-top-2 govuk-!-margin-bottom-0' }
          %span
            = t('.frequency_label')
          = t("subscriptions.frequency.downcase.#{@subscription.frequency}")

    %p.govuk-body= t('.unsubscribe')
    %p.govuk-body
      = link_to t('.back_to_search_results'), jobs_path(@subscription.search_criteria_to_h), class: 'govuk-link'
