- content_for :page_title_prefix, t('.title')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = render GovukComponent::Panel.new(title: t('.header'), body: t('.body', email: @subscription.email))

    %h2.govuk-heading-m=t('.next_step')
    %p.govuk-body=t('.next_step_details')
    .grouped-text-block
      %ul.govuk-list
        - @subscription.filtered_search_criteria.each_pair do |filter, value|
          %li
            - if filter.present?
              %span{ class: 'govuk-!-font-weight-bold' } #{filter.humanize}:
            = value
        %li{ class: 'govuk-!-margin-top-2 govuk-!-margin-bottom-0' }
          %span
            = t('.frequency_label')
          = t(".frequency.#{@subscription.frequency}")

    %p.govuk-body= t('.unsubscribe')
    %p.govuk-body
      = govuk_link_to(t('.back_to_search_results'), jobs_path(@subscription.search_criteria_to_h))
