- content_for :page_title_prefix, 'Subscription confirmation'

.govuk-grid-row
  .govuk-grid-column-three-quarters
    .govuk-panel.tvs-panel.govuk-panel--confirmation
      = render partial: 'shared/checkmark'

      %h1.govuk-panel__title{ class: 'govuk-!-font-size-36' }= t('subscriptions.confirmation.header')

      .govuk-panel__body
        %p= t('subscriptions.confirmation.body', email: @subscription.email)

    %h2.govuk-heading-m=t('subscriptions.confirmation.next_step')
    %p.govuk-body=t('subscriptions.confirmation.next_step_details')
    .grouped-text-block
      %ul.govuk-list
        - @subscription.filtered_search_criteria.each_pair do |filter, value|
          %li
            - if filter.present?
              %span{ class: 'govuk-!-font-weight-bold' } #{filter.humanize}:
            = value
        %li{ class: 'govuk-!-margin-top-2 govuk-!-margin-bottom-0' }
          %span
            = t('subscriptions.confirmation.frequency_label')
          = t("subscriptions.frequency.#{@subscription.frequency}")

    %p.govuk-body= t('subscriptions.confirmation.unsubscribe')
    %p.govuk-body
      = link_to t('subscriptions.back_to_search_results'), jobs_path(@subscription.search_criteria_to_h), class: 'govuk-link'
