- content_for :page_title_prefix, t('subscriptions.new.page_description')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @subscription, url: subscriptions_path do |f|
      = f.govuk_error_summary

      %h1.govuk-heading-xl
        = t('subscriptions.new.page_description')

      %p.govuk-body-l=t('subscriptions.intro')

      = f.hidden_field :search_criteria

      .govuk-inset-text
        %ul.govuk-list
          - @subscription.filtered_search_criteria.each_pair do |filter, value|
            %li
              - if filter.present?
                %span{ class: 'govuk-!-font-weight-bold' } #{filter.humanize}:
              = value

      %p.govuk-body-l=t('subscriptions.next_steps')

      = f.govuk_email_field :email,
        label: { text: t('subscriptions.email.label_html'), size: 's' },
        hint_text: t('subscriptions.email.hint'),
        required: true

      = f.govuk_text_field :reference,
        label: { text: t('subscriptions.reference.label_html'), size: 's' },
        hint_text: t('subscriptions.reference.hint'),
        required: true

      = recaptcha_v3(action: 'subscription')

      .govuk-warning-text
        %span.govuk-warning-text__icon{'aria-hidden': "true"}
          = '!'
        %strong.govuk-warning-text__text
          %span.govuk-warning-text__assistive Warning
          = t('subscriptions.info')

      = f.govuk_submit t('buttons.subscribe')
