- content_for :page_title_prefix, t('subscriptions.new.page_description')

- if @origin
  = link_to t('buttons.back'), job_path(@origin)
- else
  = link_to t('buttons.back'), jobs_path(@subscription.search_criteria_to_h), class: 'govuk-back-link govuk-!-margin-top-0'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @subscription, url: subscriptions_path do |f|
      = f.govuk_error_summary

      %h1.govuk-heading-xl
        = t('subscriptions.new.page_description')

      %p.govuk-body-l=t('subscriptions.intro')

      = f.hidden_field :search_criteria

      .grouped-text-block
        %ul.govuk-list
          - @subscription.filtered_search_criteria.each_pair do |filter, value|
            %li
              - if filter.present?
                %span{ class: 'govuk-!-font-weight-bold' } #{filter.humanize}:
              = value

      = f.govuk_email_field :email,
        label: { text: t('subscriptions.labels.email_html'), size: 's' },
        hint_text: t('subscriptions.hints.email'),
        required: true

      = f.govuk_collection_radio_buttons :frequency,
        frequency_options,
        :first,
        :last,
        legend: { text: t('subscriptions.labels.frequency_html') }

      = recaptcha_v3(action: 'subscription')

      = render(NotificationComponent.new(content: { body: t('subscriptions.info') }, style: 'notice', background: true, dismiss: false, alert: 'info'))

      = f.govuk_submit t('buttons.subscribe'), classes: 'govuk-!-padding-left-8 govuk-!-padding-right-8'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = link_to t('buttons.cancel'), jobs_path(@subscription.search_criteria_to_h), class: 'govuk-link govuk-!-font-size-19'

.govuk-grid-row
  .govuk-grid-column-two-thirds.govuk-body{ class: 'govuk-!-margin-top-4' }
    = t('terms_and_conditions.read_html')
