- content_for :page_title_prefix, 'Subscription updated'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    .govuk-panel.govuk-panel--confirmation
      %h1.govuk-panel__title= t('subscriptions.update.header')
      .govuk-panel__body
        = t('subscriptions.reference')
        %br
        %strong= @subscription.reference

    %h3.govuk-heading-m=t('subscriptions.update.next_step')
    %p.govuk-body=t('subscriptions.update.next_step_details', email: @subscription.email, date: l(@subscription.expires_on))

    = render partial: 'criteria', locals: { subscription: @subscription }

    %p.govuk-body= t('subscriptions.update.what_to_expect')

    %p.govuk-body= t('subscriptions.update.unsubscribe', date: @subscription.expires_on.to_s(:default))