- content_for :page_title_prefix, "#{@supporting_documents_form.errors.present? ? 'Error: ' : ''}Supporting documents — Publish a job for #{current_school.name}"

%h1.govuk-heading-l
  = t('jobs.publish_heading', school: current_school.name)
  %span.govuk-caption-l
    Step 3 of 4

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @supporting_documents_form, action: :post, url: supporting_documents_school_job_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f|
      = f.govuk_error_summary 'Please correct the following errors'

      %h2.govuk-heading-m
        = t('jobs.supporting_documents')

      = f.govuk_collection_radio_buttons :supporting_documents,
        %w[yes no],
        :to_s,
        :capitalize,
        legend: { text: t('helpers.fieldset.supporting_documents_form.supporting_documents_html'), size: 's' },
        hint_text: t('helpers.hint.supporting_documents_form.supporting_documents')
      = f.govuk_submit t('buttons.save_and_continue')
