- content_for :page_title_prefix, page_title_prefix(@vacancy, @supporting_documents_form, t('jobs.supporting_documents'))
= render 'hiring_staff/vacancies/vacancy_form_partials/title'

- if @vacancy.present? && @vacancy&.state != 'create'
  = link_to t('buttons.cancel_and_return'), edit_school_job_path(@vacancy.id), class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @supporting_documents_form, url: school_job_supporting_documents_path(@vacancy.id), html: { method: "patch" }, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f|
      = f.govuk_error_summary t('jobs.errors_present')

      %h2.govuk-heading-l
        = t('jobs.supporting_documents')

      = render 'hiring_staff/vacancies/vacancy_form_partials/hidden_state_input', f: f

      = f.govuk_collection_radio_buttons :supporting_documents,
        %w[yes no],
        :to_s,
        :capitalize,
        legend: { text: t('helpers.fieldset.supporting_documents_form.supporting_documents_html'), size: 's' },
        hint_text: t('helpers.hint.supporting_documents_form.supporting_documents')

      = render 'hiring_staff/vacancies/vacancy_form_partials/submit', f: f
  .govuk-grid-column-one-third
    = render 'hiring_staff/vacancies/sidebar'
