\# #{t('app.title')}
\## #{t('subscriptions.email.confirmation.subject', reference: @subscription_reference)}
\
= t('subscriptions.email.confirmation.subheading', email: @subscription.email)
\
- @search_criteria.each_pair do |k, v|
  * #{[k&.titleize, v].reject(&:blank?).join(': ')}
\
= t('subscriptions.email.confirmation.expiry_text_html', date: l(@expires_on))

\---

= t('subscriptions.email.unsubscribe_text_html', unsubscribe_link: unsubscribe_link(@unsubscribe_token))