\# #{t('app.title')}
\## #{t('subscriptions.email.confirmation.heading', reference: @subscription.reference)}
\
= t('subscriptions.email.confirmation.subheading', email: @subscription.email)
\
- @subscription.filtered_search_criteria.each_pair do |k, v|
  * #{[k&.titleize, v].reject(&:blank?).join(': ')}
\
= t('subscriptions.next_steps')
\
= t('subscriptions.email.unsubscribe_text_html')
\
= t('subscriptions.email.your_feedback')
\---

= unsubscribe_link(@subscription.token)
