- content_for :page_title_prefix, t('nqt_job_alerts.page_title')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = render GovukComponent::Panel.new(title: t('nqt_job_alerts.confirm.splash.heading'), body: t('nqt_job_alerts.confirm.splash.message', email: @nqt_job_alerts_form.email))

    %h2.govuk-heading-l= t('nqt_job_alerts.confirm.heading')
    %p.govuk-body= t('nqt_job_alerts.confirm.intro')

    .grouped-text-block
      %ul.govuk-list
        %li
          %span{ class: 'govuk-!-font-weight-bold'}= t('nqt_job_alerts.confirm.keywords')
          = @nqt_job_alerts_form.keywords
        %li
          %span{ class: 'govuk-!-font-weight-bold'}= t('nqt_job_alerts.confirm.location')
          = @nqt_job_alerts_form.location_reference

    %p.govuk-body= t('nqt_job_alerts.confirm.unsubscribe')

    %p= link_to t('buttons.go_to_teaching_vacancies'), jobs_path(keyword: "nqt #{@nqt_job_alerts_form.keywords}", location: @nqt_job_alerts_form.location), class: 'govuk-link govuk-link--no-visited-state'
