\# #{t(".heading")}
\
= t(".intro")
\
\# #{t(".what_to_do")}
\
= notify_link(confirmation_url(@jobseeker, confirmation_token: @token), t(".link"))
\
\---
\
\# #{t(".not_requested.heading")}
\
= t(".not_requested.body", mail_to: notify_link("mailto:#{t('help.email')}", t("help.email")))
