<h1 class="heading-large"><%= @school.name %></h1>

<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question">Description</dt>
    <dd class="cya-answer"><%= @school.description.presence || 'Not provided' %></dd>
    <dd class="cya-change">
      <%= link_to edit_school_path(@school) do %>
        Change <span class="visually-hidden">description</span>
      <% end %>
    </dd>
  </div>
  <div>
    <dt class="cya-question">Address</dt>
    <dd class="cya-answer"><%= @school.full_address %></dd>
    <dd class="cya-change"></dd>
  </div>
  <div>
    <dt class="cya-question">School age</dt>
    <dd class="cya-answer"><%= @school.minimum_age %> to <%= @school.maximum_age %></dd>
    <dd class="cya-change"></dd>
  </div>
  <div>
    <dt class="cya-question">Type</dt>
    <dd class="cya-answer"><%= @school.school_type.label %></dd>
    <dd class="cya-change"></dd>
  </div>
  <% if @school.url.present? %>
    <div>
      <dt class="cya-question">Website</dt>
      <dd class="cya-answer"><%= link_to @school.url, @school.url %></dd>
      <dd class="cya-change"></dd>
    </div>
  <% end %>

</dl>