- if @vacancy.expired?
  .govuk-grid-row
    .govuk-grid-column-full
      .banner-warning= t('jobs.expired')

.govuk-grid-row.govuk-grid-column-full
  %h1.govuk-heading-xl{ class: 'govuk-!-margin-bottom-2' }
    = @vacancy.job_title
  %h2.govuk-caption-l.job-caption{ class: 'govuk-!-margin-top-0' }
    = location(@vacancy.school_or_school_group)

.govuk-grid-row

  = render '/vacancies/key_dates_sidebar'

  .govuk-grid-column-two-thirds

    .govuk-tabs{"data-module": "govuk-tabs"}
      %h2.govuk-tabs__title
        = t('jobs.key_info')
      %ul.govuk-tabs__list
        %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
          %a.govuk-tabs__tab.tab-links-override{ href: "#job-details" }
            = t('jobs.job_details')
        %li.govuk-tabs__list-item
          %a.govuk-tabs__tab.tab-links-override{ href: "#school-overview" }
            - if @vacancy.school_group
              = t('school_groups.trust_overview')
            - else
              = t('schools.school_overview')

      = render(Jobseekers::VacancyDetailsComponent.new(vacancy: @vacancy))

      - if @vacancy.school_group
        = render(Jobseekers::SchoolGroupOverviewComponent.new(vacancy: @vacancy))
      - else
        = render(Jobseekers::SchoolOverviewComponent.new(vacancy: @vacancy))

    %section
      %h4.govuk-heading-s.share-this-job
        = t('jobs.share_this_job')

      = render '/shared/vacancy/share_buttons'
