- if @vacancy.expired?
  .govuk-grid-row
    .govuk-grid-column-full
      .banner-warning= t('jobs.expired')

.jobs-banner
  .govuk-width-container
    = render(Shared::BreadcrumbComponent.new(collapse_on_mobile: false,
                                             crumbs: [{ link_path: root_path, link_text: t('breadcrumbs.home') },
                                                      { link_path: referred_from_host? ? request.referrer : jobs_path, link_text: t('breadcrumbs.jobs') },
                                                      { link_path: '#', link_text: @vacancy.job_title }]))
    .govuk-grid-row
      .govuk-grid-column-full
        %h1.govuk-heading-xl{ class: 'govuk-!-margin-bottom-2 govuk-!-margin-top-5' }
          = @vacancy.job_title
        %h2.govuk-caption-l.job-caption{ class: 'govuk-!-margin-bottom-5 govuk-!-margin-top-0' }
          = vacancy_job_location(@vacancy)
    .govuk-grid-row
      %ul.actions{ class: 'govuk-!-padding-left-0' }
        .govuk-grid-column-one-third
          %li
            %svg{ xmlns: "http://www.w3.org/2000/svg", width: "21", height: "22", viewBox: "0 0 21 22", fill: "none" }
              %path{ fill: "#005EA5", d: "M10.7019 20.8214C10.7019 20.6905 10.6346 20.625 10.5 20.625C10.0036 20.625 9.57662 20.4511 9.21905 20.1032C8.86148 19.7554 8.68269 19.34 8.68269 18.8571C8.68269 18.7262 8.61538 18.6607 8.48077 18.6607C8.34615 18.6607 8.27885 18.7262 8.27885 18.8571C8.27885 19.4546 8.49549 19.9641 8.92879 20.3856C9.36208 20.8071 9.88582 21.0179 10.5 21.0179C10.6346 21.0179 10.7019 20.9524 10.7019 20.8214ZM2.29687 17.2857H18.7031C16.4651 14.8304 15.3462 11.4256 15.3462 7.07143C15.3462 6.65402 15.2452 6.22433 15.0433 5.78237C14.8413 5.3404 14.5511 4.9189 14.1725 4.51786C13.7939 4.11682 13.2828 3.78739 12.6391 3.52958C11.9955 3.27176 11.2825 3.14286 10.5 3.14286C9.71755 3.14286 9.00451 3.27176 8.36088 3.52958C7.71725 3.78739 7.20613 4.11682 6.82752 4.51786C6.44892 4.9189 6.15865 5.3404 5.95673 5.78237C5.75481 6.22433 5.65385 6.65402 5.65385 7.07143C5.65385 11.4256 4.53486 14.8304 2.29687 17.2857ZM21 17.2857C21 17.7113 20.8401 18.0796 20.5204 18.3906C20.2007 18.7016 19.8221 18.8571 19.3846 18.8571H13.7308C13.7308 19.7247 13.4153 20.4654 12.7843 21.0792C12.1532 21.6931 11.3918 22 10.5 22C9.60817 22 8.84675 21.6931 8.21575 21.0792C7.58474 20.4654 7.26923 19.7247 7.26923 18.8571H1.61538C1.17788 18.8571 0.799279 18.7016 0.479567 18.3906C0.159856 18.0796 0 17.7113 0 17.2857C0.420673 16.942 0.803486 16.5818 1.14844 16.2054C1.49339 15.8289 1.85096 15.3398 2.22115 14.7383C2.59135 14.1367 2.90475 13.4881 3.16136 12.7924C3.41797 12.0967 3.62831 11.2537 3.79237 10.2634C3.95643 9.27307 4.03846 8.20908 4.03846 7.07143C4.03846 5.82738 4.53065 4.67132 5.51502 3.60324C6.4994 2.53516 7.79087 1.88653 9.38942 1.65737C9.32212 1.50186 9.28846 1.34226 9.28846 1.17857C9.28846 0.85119 9.40625 0.572917 9.64183 0.34375C9.8774 0.114583 10.1635 0 10.5 0C10.8365 0 11.1226 0.114583 11.3582 0.34375C11.5937 0.572917 11.7115 0.85119 11.7115 1.17857C11.7115 1.34226 11.6779 1.50186 11.6106 1.65737C13.2091 1.88653 14.5006 2.53516 15.485 3.60324C16.4694 4.67132 16.9615 5.82738 16.9615 7.07143C16.9615 8.20908 17.0436 9.27307 17.2076 10.2634C17.3717 11.2537 17.582 12.0967 17.8386 12.7924C18.0953 13.4881 18.4087 14.1367 18.7788 14.7383C19.149 15.3398 19.5066 15.8289 19.8516 16.2054C20.1965 16.5818 20.5793 16.942 21 17.2857Z" }
              %image{ src: asset_pack_path("media/images/job-seeker-alert-icon.png") }
            = link_to t('jobs.alert.similar.terse'), new_subscription_path(search_criteria: @concocted_job_alert_search_criteria), class: 'govuk-link'

.govuk-grid-row

  = render '/vacancies/key_dates_sidebar'

  .govuk-grid-column-two-thirds

    - if @vacancy.organisations.many?
      = render(NotificationComponent.new(content: t('jobs.notifications.content.multi_school_job_notification_html'), style: 'notice', background: true, dismiss: false, alert: true))

    .content-pills{ class: 'govuk-!-margin-bottom-6' }
      %h3.govuk-heading-s{ class: 'govuk-!-margin-bottom-3' } Contents
      .govuk-grid-row
        -# Up to four half columns in one row so that they automatically wrap depending on how many are present
        .govuk-grid-column-one-half
          = render(Jobseekers::PillLinkComponent.new(link_path: '#job-details', link_text: 'Job details'))
        - if @vacancy.documents.any?
          .govuk-grid-column-one-half
            = render(Jobseekers::PillLinkComponent.new(link_path: '#supporting-documents', link_text: 'Supporting documents'))
        .govuk-grid-column-one-half
          - if @vacancy.at_one_school?
            = render(Jobseekers::PillLinkComponent.new(link_path: '#school-overview', link_text: t('schools.school_overview')))
          - elsif @vacancy.at_multiple_schools?
            = render(Jobseekers::PillLinkComponent.new(link_path: '#school-overview', link_text: t('schools.schools_overview')))
          - elsif @vacancy.central_office?
            = render(Jobseekers::PillLinkComponent.new(link_path: '#school-overview', link_text: t('school_groups.trust_overview')))
        .govuk-grid-column-one-half
          - if @vacancy.at_one_school?
            = render(Jobseekers::PillLinkComponent.new(link_path: '#school-location', link_text: t('schools.school_location.one')))
          - elsif @vacancy.at_multiple_schools?
            = render(Jobseekers::PillLinkComponent.new(link_path: '#school-overview', link_text: t('schools.school_location.many')))
          - elsif @vacancy.central_office?
            = render(Jobseekers::PillLinkComponent.new(link_path: '#school-overview', link_text: t('school_groups.school_group_location')))

    = render(Jobseekers::VacancyDetailsComponent.new(vacancy: @vacancy))
    = render(Jobseekers::OrganisationOverviews::SchoolGroupComponent.new(vacancy: @vacancy))
    = render(Jobseekers::OrganisationOverviews::SchoolComponent.new(vacancy: @vacancy))
    = render(Jobseekers::OrganisationOverviews::SchoolsComponent.new(vacancy: @vacancy))
    %section
      %p#similar-jobs-alert-page-end-gtm{ class: 'govuk-!-margin-top-5' }
        %svg{ xmlns: "http://www.w3.org/2000/svg", width: "20", height: "21", viewBox: "0 0 21 22", fill: "none" }
          %path{ fill: "#005EA5", d: "M10.7019 20.8214C10.7019 20.6905 10.6346 20.625 10.5 20.625C10.0036 20.625 9.57662 20.4511 9.21905 20.1032C8.86148 19.7554 8.68269 19.34 8.68269 18.8571C8.68269 18.7262 8.61538 18.6607 8.48077 18.6607C8.34615 18.6607 8.27885 18.7262 8.27885 18.8571C8.27885 19.4546 8.49549 19.9641 8.92879 20.3856C9.36208 20.8071 9.88582 21.0179 10.5 21.0179C10.6346 21.0179 10.7019 20.9524 10.7019 20.8214ZM2.29687 17.2857H18.7031C16.4651 14.8304 15.3462 11.4256 15.3462 7.07143C15.3462 6.65402 15.2452 6.22433 15.0433 5.78237C14.8413 5.3404 14.5511 4.9189 14.1725 4.51786C13.7939 4.11682 13.2828 3.78739 12.6391 3.52958C11.9955 3.27176 11.2825 3.14286 10.5 3.14286C9.71755 3.14286 9.00451 3.27176 8.36088 3.52958C7.71725 3.78739 7.20613 4.11682 6.82752 4.51786C6.44892 4.9189 6.15865 5.3404 5.95673 5.78237C5.75481 6.22433 5.65385 6.65402 5.65385 7.07143C5.65385 11.4256 4.53486 14.8304 2.29687 17.2857ZM21 17.2857C21 17.7113 20.8401 18.0796 20.5204 18.3906C20.2007 18.7016 19.8221 18.8571 19.3846 18.8571H13.7308C13.7308 19.7247 13.4153 20.4654 12.7843 21.0792C12.1532 21.6931 11.3918 22 10.5 22C9.60817 22 8.84675 21.6931 8.21575 21.0792C7.58474 20.4654 7.26923 19.7247 7.26923 18.8571H1.61538C1.17788 18.8571 0.799279 18.7016 0.479567 18.3906C0.159856 18.0796 0 17.7113 0 17.2857C0.420673 16.942 0.803486 16.5818 1.14844 16.2054C1.49339 15.8289 1.85096 15.3398 2.22115 14.7383C2.59135 14.1367 2.90475 13.4881 3.16136 12.7924C3.41797 12.0967 3.62831 11.2537 3.79237 10.2634C3.95643 9.27307 4.03846 8.20908 4.03846 7.07143C4.03846 5.82738 4.53065 4.67132 5.51502 3.60324C6.4994 2.53516 7.79087 1.88653 9.38942 1.65737C9.32212 1.50186 9.28846 1.34226 9.28846 1.17857C9.28846 0.85119 9.40625 0.572917 9.64183 0.34375C9.8774 0.114583 10.1635 0 10.5 0C10.8365 0 11.1226 0.114583 11.3582 0.34375C11.5937 0.572917 11.7115 0.85119 11.7115 1.17857C11.7115 1.34226 11.6779 1.50186 11.6106 1.65737C13.2091 1.88653 14.5006 2.53516 15.485 3.60324C16.4694 4.67132 16.9615 5.82738 16.9615 7.07143C16.9615 8.20908 17.0436 9.27307 17.2076 10.2634C17.3717 11.2537 17.582 12.0967 17.8386 12.7924C18.0953 13.4881 18.4087 14.1367 18.7788 14.7383C19.149 15.3398 19.5066 15.8289 19.8516 16.2054C20.1965 16.5818 20.5793 16.942 21 17.2857Z" }
          %image{ src: asset_pack_path("media/images/job-seeker-alert-icon.png") }
        = (link_to t('jobs.alert.similar.verbose.link_text'), new_subscription_path(search_criteria: @concocted_job_alert_search_criteria), class: 'govuk-link')
        = t('jobs.alert.similar.verbose.remainder')

    %section{ class: 'govuk-!-margin-top-3' }
      %h4.govuk-heading-s.share-this-job= t('jobs.share_this_job')
      = render '/shared/vacancy/share_buttons'
