- if @vacancy.expired?
  .govuk-grid-row
    .govuk-grid-column-full
      .banner-warning= t('jobs.expired')

.jobs-banner
  .govuk-width-container
    = render 'vacancies/back_link'
    .govuk-grid-row
      .govuk-grid-column-full
        %h1.govuk-heading-xl{ class: 'govuk-!-margin-bottom-2 govuk-!-margin-top-5' }
          = @vacancy.job_title
        %h2.govuk-caption-l.job-caption{ class: 'govuk-!-margin-top-0' }
          = vacancy_job_location(@vacancy)

.govuk-grid-row

  = render '/vacancies/key_dates_sidebar'

  .govuk-grid-column-two-thirds

    - if @vacancy.organisations.many?
      = render(NotificationComponent.new(content: t('jobs.notifications.content.multi_school_job_notification_html'), style: 'notice', background: true, dismiss: false, alert: true))

    .govuk-tabs{"data-module": "govuk-tabs"}
      %h2.govuk-tabs__title
        = t('jobs.key_info')
      %ul.govuk-tabs__list
        %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
          %a.govuk-tabs__tab.tab-links-override{ href: "#job-details" }
            = t('jobs.job_details')
        %li.govuk-tabs__list-item
          %a.govuk-tabs__tab.tab-links-override{ href: "#school-overview" }
            - if @vacancy.at_one_school?
              = t('schools.school_overview')
            - elsif @vacancy.at_multiple_schools?
              = t('schools.schools_overview')
            - elsif @vacancy.central_office?
              = t('school_groups.trust_overview')

      = render(Jobseekers::VacancyDetailsComponent.new(vacancy: @vacancy))
      = render(Jobseekers::SchoolGroupOverviewComponent.new(vacancy: @vacancy))
      = render(Jobseekers::SchoolOverviewComponent.new(vacancy: @vacancy))
      = render(Jobseekers::SchoolsOverviewComponent.new(vacancy: @vacancy))

    %section
      %h4.govuk-heading-s.share-this-job
        = t('jobs.share_this_job')

      = render '/shared/vacancy/share_buttons'
