- if @vacancy.expired?
  .govuk-grid-row
    .govuk-grid-column-full
      .banner-warning= t('jobs.expired')

.jobs-banner
  .govuk-width-container
    = render 'vacancies/back_link'
    .govuk-grid-row
      .govuk-grid-column-full
        %h1.govuk-heading-xl{ class: 'govuk-!-margin-bottom-2 govuk-!-margin-top-5' }
          = @vacancy.job_title
        %h2.govuk-caption-l.job-caption{ class: 'govuk-!-margin-bottom-5 govuk-!-margin-top-0' }
          = vacancy_job_location(@vacancy)

.govuk-grid-row

  = render '/vacancies/key_dates_sidebar'

  .govuk-grid-column-two-thirds

    - if @vacancy.organisations.many?
      = render(NotificationComponent.new(content: t('jobs.notifications.content.multi_school_job_notification_html'), style: 'notice', background: true, dismiss: false, alert: true))

    .content-pills{ class: 'govuk-!-margin-bottom-6' }
      %h3.govuk-heading-s{ class: 'govuk-!-margin-bottom-3' } Contents
      .govuk-grid-row
        .govuk-grid-column-one-half
          = render(Jobseekers::PillLinkComponent.new(link_path: '#job-details', link_text: 'Job details'))
        - if @vacancy.documents.any?
          .govuk-grid-column-one-half
            = render(Jobseekers::PillLinkComponent.new(link_path: '#supporting-documents', link_text: 'Supporting documents'))
        .govuk-grid-column-one-half
          - if @vacancy.at_one_school?
            = render(Jobseekers::PillLinkComponent.new(link_path: '#school-overview', link_text: t('schools.school_overview')))
          - elsif @vacancy.at_multiple_schools?
            = render(Jobseekers::PillLinkComponent.new(link_path: '#school-overview', link_text: t('schools.schools_overview')))
          - elsif @vacancy.central_office?
            = render(Jobseekers::PillLinkComponent.new(link_path: '#school-overview', link_text: t('school_groups.trust_overview')))
        .govuk-grid-column-one-half
          - if @vacancy.at_one_school?
            = render(Jobseekers::PillLinkComponent.new(link_path: '#school-location', link_text: t('schools.school_location.one')))
          - elsif @vacancy.at_multiple_schools?
            = render(Jobseekers::PillLinkComponent.new(link_path: '#school-overview', link_text: t('schools.school_location.many')))
          - elsif @vacancy.central_office?
            = render(Jobseekers::PillLinkComponent.new(link_path: '#school-overview', link_text: t('school_groups.school_group_location')))

    = render(Jobseekers::VacancyDetailsComponent.new(vacancy: @vacancy))
    = render(Jobseekers::SchoolGroupOverviewComponent.new(vacancy: @vacancy))
    = render(Jobseekers::SchoolOverviewComponent.new(vacancy: @vacancy))
    = render(Jobseekers::SchoolsOverviewComponent.new(vacancy: @vacancy))

    %section{ class: 'govuk-!-margin-top-3' }
      %h4.govuk-heading-s.share-this-job= t('jobs.share_this_job')
      = render '/shared/vacancy/share_buttons'
