- if @vacancy.expired?
  .govuk-grid-row
    .govuk-grid-column-full
      .banner-warning= t('jobs.expired')

.govuk-grid-row.govuk-grid-column-full
  %h1.govuk-heading-l{ class: 'govuk-!-margin-bottom-2' }
    = @vacancy.job_title
  %h4.govuk-caption-l.job-caption{ class: 'govuk-!-margin-top-0' }
    = @vacancy.location

.govuk-grid-row 

  = render '/vacancies/key_dates_sidebar'

  .govuk-grid-column-two-thirds

    .govuk-tabs{"data-module": "govuk-tabs"}
      %h2.govuk-tabs__title
        = t('jobs.key_info')
      %ul.govuk-tabs__list
        %li.govuk-tabs__list-item.govuk-tabs__list-item--selected
          %a.govuk-tabs__tab.tab-links-override{ href: "#job-details" }
            = t('jobs.job_details')
        %li.govuk-tabs__list-item
          %a.govuk-tabs__tab.tab-links-override{ href: "#school-overview" }
            = t('schools.school_overview')

      = render '/vacancies/job_details_section'

      = render '/vacancies/school_overview_section'

    %h4.govuk-heading-s.share-this-job
      = t('jobs.share_this_job')

    = render '/shared/vacancy/share_buttons'
