%table.govuk-table
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{ colspan: "2" }
        %h2.govuk-heading-l
          = current_organisation.name
      %th.govuk-table__header
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %td.govuk-table__cell
        %strong.strong= t('school_groups.description')
      %td.govuk-table__cell
        - if current_organisation.description.present?
          = truncate(current_organisation.description, length: 130)
          %br
        = link_to t('organisation.view_more_or_change'), edit_organisation_school_path(current_organisation), class: 'govuk-link govuk-link--no-visited-state'
      %td.govuk-table__cell
    - unless current_organisation.group_type == 'local_authority'
      %tr.govuk-table__row
        %td.govuk-table__cell
          %strong.strong= t('school_groups.address')
        %td.govuk-table__cell
          = full_address(current_organisation)
        %td.govuk-table__cell
    %tr.govuk-table__row
      %td.govuk-table__cell
        %strong.strong= t('school_groups.website', organisation_type: organisation_type_basic(current_organisation).humanize)
      %td.govuk-table__cell.change_answer
        - if current_organisation.website.present?
          = link_to current_organisation.website, current_organisation.website, class: 'govuk-link wordwrap', target: '_blank', rel: 'noopener'
        - elsif current_organisation.url.present?
          = link_to current_organisation.url, current_organisation.url, class: 'govuk-link wordwrap', target: '_blank', rel: 'noopener'
        - else
          = t('jobs.not_defined')
      %td.govuk-table__cell.change-answer
        = link_to edit_organisation_school_path(current_organisation), class: 'govuk-link govuk-link--no-visited-state' do
          = t('buttons.change')
          %span.govuk-visually-hidden
            = t('publishers.organisations.aria_change_website', organisation_type: organisation_type_basic(current_organisation))
    - unless current_organisation.group_type == 'local_authority'
      %tr.govuk-table__row
        %td.govuk-table__cell
          %strong.strong= t('school_groups.group_type')
        %td.govuk-table__cell
          = current_organisation.group_type
        %td.govuk-table__cell
      %tr.govuk-table__row
        %td.govuk-table__cell
          %strong.strong= t('school_groups.uid')
        %td.govuk-table__cell
          = current_organisation.uid
        %td.govuk-table__cell
