%div.govuk-form-group#expiry_time{:class => ("govuk-form-group--error" if @application_details_form.errors[:expiry_time].present?)}
  %fieldset.govuk-fieldset
    %legend.govuk-fieldset__legend
      = t('jobs.deadline_time')
    %span.govuk-hint
      = t('jobs.form_hints.application_deadline_time')
    = f.error :expiry_time 
    %govuk-date-input
      .govuk-date-input__item
        .govuk-form-group
          = f.input :expiry_time_hh, label: t('jobs.application_deadline_hour'), required: true, as: :integer,
              input_html: {class: 'govuk-input govuk-date-input__input govuk-input--width-2'}
      .govuk-date-input__item
        .govuk-form-group
          = f.input :expiry_time_mm, label: t('jobs.application_deadline_min'), required: true, as: :integer,
              input_html: {class: 'govuk-input govuk-date-input__input govuk-input--width-2'}
      .govuk-date-input__item
        .govuk-form-group
          = f.input :expiry_time_meridiem,
                    collection: ['am', 'pm'], 
                    label: t('jobs.application_deadline_meridiem'), 
                    input_html: {class: 'govuk-input govuk-date-input__input govuk-input--width-2'},
                    required: true