- content_for :page_title_prefix do
  #{@vacancy.job_title} - #{@vacancy.school_or_school_group_name}

.vacancy

  .share-url-info
    .govuk-grid-row
      .govuk-grid-column-one-half
        .share-url.mb1.display-none
          %h2.govuk-heading-m.mt0 Share this job
          #{link_to t('jobs.view_public_link'), @vacancy.share_url, class: 'govuk-link', 'aria-label': t('jobs.view_public_link')}, or #{link_to t('jobs.copy_public_url'), '#', class: 'govuk-link copy-to-clipboard', 'data-clipboard-text': @vacancy.share_url, 'aria-label': t('jobs.copy_public_url')}
        .share-url-no-js.mb1
          %h2.govuk-heading-s.mt0 Share this job
          #{link_to "#{t('jobs.view_public_link')} (#{@vacancy.share_url})", job_path(@vacancy), class: 'govuk-link'}
        = render partial: '/shared/vacancy/share_buttons'
      .govuk-grid-column-one-half
        .og-preview
          .og_image= image_pack_tag 'og_image.jpg'
          .og_text
            .og_url= t('app.title')
            .og_title #{@vacancy.job_title} - #{@vacancy.school_or_school_group_name}
            .og_description= truncate(strip_tags(@vacancy.job_summary), length: 76, separator: ' ')
        .og-caption
          Your job listing will appear on Facebook in a format similar to the above.

  = render '/shared/vacancy/jobseeker_view'
