- content_for :page_title_prefix, review_page_title_prefix(@vacancy)
= render HiringStaff::VacancyFormPageHeadingComponent.new(@vacancy)
.vacancy.govuk-grid-row
  .govuk-grid-column-two-thirds
    = render "hiring_staff/vacancies/edit_heading"
    = render "hiring_staff/vacancies/error_messages", errors: @vacancy.errors

    %ol.app-task-list
      - if current_organisation.is_a?(SchoolGroup)
        %li= render "hiring_staff/vacancies/edit_vacancy_sections/edit_job_location"
      %li= render "hiring_staff/vacancies/edit_vacancy_sections/edit_job_details"
      %li= render "hiring_staff/vacancies/edit_vacancy_sections/edit_pay_package"
      %li= render "hiring_staff/vacancies/edit_vacancy_sections/edit_important_dates"
      %li= render "hiring_staff/vacancies/edit_vacancy_sections/edit_supporting_documents"
      %li= render "hiring_staff/vacancies/edit_vacancy_sections/edit_applying_for_the_job"
      %li= render "hiring_staff/vacancies/edit_vacancy_sections/edit_job_summary"

    = render "hiring_staff/vacancies/back_to_manage_jobs"
