- content_for :page_title_prefix, "Review the job details — Publish a job for #{@school.name}"

=render partial: 'school_vacancy_breadcrumb'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-l
      = t('jobs.review_heading', school: @vacancy.school.name)
    %p.govuk-body-l
      = t('jobs.review')

.vacancy.govuk-grid-row
  .govuk-grid-column-two-thirds

    %h2.govuk-heading-m.mb0
      = t('jobs.job_specification')

    .govuk-body-s.mb1
      = link_to job_specification_school_job_path, class: 'govuk-link', 'aria-label': 'Change job specification' do
        Change
        %span.govuk-visually-hidden the job specification

    %dl.app-check-your-answers.app-check-your-answers--short

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.job_title')
        %dd.app-check-your-answers__answer
          = @vacancy.job_title
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'job_title'), 'aria-label': t('jobs.aria_labels.change_job_title'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.description')
        %dd.app-check-your-answers__answer
          = @vacancy.job_description
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'job_description'), 'aria-label': t('jobs.aria_labels.change_job_description'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.main_subject')
        %dd.app-check-your-answers__answer
          = @vacancy.main_subject
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'subject'), 'aria-label': t('jobs.aria_labels.change_main_subject'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.pay_scale')
        %dd.app-check-your-answers__answer
          =@vacancy.pay_scale_range
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'pay_scale_range'), 'aria-label': t('jobs.aria_labels.change_pay_scale'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.salary_range')
        %dd.app-check-your-answers__answer
          = @vacancy.salary_range("to")
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'salary_range'), 'aria-label': t('jobs.aria_labels.change_salary_range'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.working_pattern')
        %dd.app-check-your-answers__answer
          = @vacancy.working_pattern.humanize
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'working_pattern'), 'aria-label': t('jobs.aria_labels.change_working_pattern'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.flexible_working')
        %dd.app-check-your-answers__answer
          = @vacancy.flexible_working
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'flexible_working'), 'aria-label': t('jobs.aria_labels.change_flexible_working'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.benefits')
        %dd.app-check-your-answers__answer
          = @vacancy.benefits
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'benefits'), 'aria-label': t('jobs.aria_labels.change_employee_benefits'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.weekly_hours')
        %dd.app-check-your-answers__answer
          = @vacancy.weekly_hours
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'weekly_hours'), 'aria-label': t('jobs.aria_labels.change_weekly_hours'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.leadership_level')
        %dd.app-check-your-answers__answer
          - if @vacancy.leadership
            =@vacancy.leadership.title
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'leadership'), 'aria-label': t('jobs.aria_labels.change_leadership_level'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.starts_on')
        %dd.app-check-your-answers__answer
          = format_date @vacancy.starts_on
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'starts_on'), 'aria-label': t('jobs.aria_labels.change_expected_start_date'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.ends_on')
        %dd.app-check-your-answers__answer
          = format_date @vacancy.ends_on
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'ends_on'), 'aria-label': t('jobs.aria_labels.change_end_date'), class: 'govuk-link'


    %h2.govuk-heading-m.mb0
      = t('jobs.candidate_specification')

    .govuk-body-s.mb1
      = link_to candidate_specification_school_job_path, class: 'govuk-link', 'aria-label': 'Change candidate specification' do
        Change
        %span.govuk-visually-hidden the candidate specification

    %dl.app-check-your-answers.app-check-your-answers--short

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.education')
        %dd.app-check-your-answers__answer
          = @vacancy.education
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), candidate_specification_school_job_path(anchor: 'education'), 'aria-label': t('jobs.aria_labels.change_essential_educational_requirements'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.qualifications')
        %dd.app-check-your-answers__answer
          = @vacancy.qualifications
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), candidate_specification_school_job_path(anchor: 'qualifications'), 'aria-label': t('jobs.aria_labels.change_essential_qualifications'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.experience')
        %dd.app-check-your-answers__answer
          = @vacancy.experience
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), candidate_specification_school_job_path(anchor: 'experience'), 'aria-label': t('jobs.aria_labels.change_essential_skills_and_experience'), class: 'govuk-link'

    %h2.govuk-heading-m.mb0
      = t('jobs.application_details')

    .govuk-body-s.mb1
      = link_to application_details_school_job_path, class: 'govuk-link', 'aria-label': 'Change application details' do
        Change
        %span.govuk-visually-hidden the application details

    %dl.app-check-your-answers.app-check-your-answers--short

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.contact_email')
        %dd.app-check-your-answers__answer
          =mail_to 'Job contact email', @vacancy.contact_email, class: 'govuk-link', 'aria-label': t('jobs.aria_labels.contact_email_link', email: @vacancy.contact_email)
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), application_details_school_job_path(anchor: 'contact_email'), class: 'govuk-link', 'aria-label': t('jobs.aria_labels.change_job_contact_email')

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.application_link')
        %dd.app-check-your-answers__answer
          = link_to @vacancy.application_link, class: 'govuk-link', 'aria-label': t('jobs.aria_labels.application_link_url', url: @vacancy.application_link)  do
            %span= t('jobs.application_link_url')
            %br
            %span.govuk-body-s= @vacancy.application_link
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), application_details_school_job_path(anchor: 'application_link'), 'aria-label': t('jobs.aria_labels.change_application_link_URL'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.publication_date')
        %dd.app-check-your-answers__answer
          = format_date @vacancy.publish_on
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), application_details_school_job_path(anchor: 'publish_on'), 'aria-label': t('jobs.aria_labels.change_date_role_will_be_listed'), class: 'govuk-link'

      .app-check-your-answers__contents
        %dt.app-check-your-answers__question
          = t('jobs.deadline_date')
        %dd.app-check-your-answers__answer
          = format_date @vacancy.expires_on
        %dd.app-check-your-answers__change
          = link_to t('buttons.change'), application_details_school_job_path(anchor: 'expires_on'), 'aria-label': t('jobs.aria_labels.change_application_deadline'), class: 'govuk-link'

    %h2.govuk-heading-m Now submit your job
    %p= t('jobs.confirmation_summary')

    = link_to t('jobs.submit'), school_job_publish_path(vacancy_id: @vacancy.id), method: :post, class: "govuk-button"
