- content_for :page_title_prefix, @vacancy.review_page_title
= render partial: 'school_vacancy_breadcrumb'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-l
      = t('jobs.review_heading', school: @vacancy.school.name)
    %p.govuk-body-l
      - if @vacancy.publish_on.today?
        = t('jobs.review')
      - else
        = t('jobs.review_future')
    = render 'hiring_staff/vacancies/error_messages', errors: @vacancy.errors

.vacancy.govuk-grid-row
  .govuk-grid-column-two-thirds
    = render 'hiring_staff/vacancies/review_vacancy_sections/review_job_specification'
    - if UploadDocumentsFeature.enabled?
      = render 'hiring_staff/vacancies/edit_vacancy_sections/edit_supporting_documents'
    - else
      = render 'hiring_staff/vacancies/review_vacancy_sections/review_candidate_specification'

    = render 'hiring_staff/vacancies/review_vacancy_sections/review_application_details'

    %h2.govuk-heading-m
      - if @vacancy.publish_on.today?
        = t('jobs.publish_for') + @vacancy.job_title
      - else
        = t('jobs.publish_for_future') + @vacancy.publish_on.to_s
    %p= t('jobs.confirmation_summary_html')

    - if @vacancy.publish_on.today?
      = link_to t('jobs.submit'), school_job_publish_path(@vacancy.id), method: :post, class: "govuk-button", id: "vacancy-review-submit"
    - else
      = link_to t('jobs.submit_future'), school_job_publish_path(@vacancy.id), method: :post, class: "govuk-button", id: "vacancy-review-submit"
