- content_for :page_title_prefix, @vacancy.review_page_title
= render 'hiring_staff/vacancies/vacancy_form_partials/title'

.vacancy.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h2.govuk-heading-l
      = t('jobs.review_heading')
    %div
      - if new_sections(@vacancy).any?
        = render 'shared/section_flash_message', style: 'info', message: t('messages.jobs.new_sections.message'), heading: t('messages.jobs.new_sections.heading'), sections: new_sections(@vacancy)
    %p.govuk-body-l
      - if @vacancy.publish_on.today?
        = t('jobs.review')
      - else
        = t('jobs.review_future')

    = render 'hiring_staff/vacancies/error_messages', errors: @vacancy.errors
    = render 'hiring_staff/vacancies/review_vacancy_sections/review_job_specification'
    = render 'hiring_staff/vacancies/edit_vacancy_sections/edit_pay_package'
    = render 'hiring_staff/vacancies/edit_vacancy_sections/edit_supporting_documents'
    = render 'hiring_staff/vacancies/review_vacancy_sections/review_application_details'

    %h2.govuk-heading-m
      - if @vacancy.publish_on.today?
        = t('jobs.publish_for') + @vacancy.job_title
      - else
        = t('jobs.publish_for_future') + @vacancy.publish_on.to_s
    %p= t('jobs.confirmation_summary_html')

    - if @vacancy.publish_on.today?
      = link_to t('jobs.submit'), school_job_publish_path(@vacancy.id), method: :post, class: "govuk-button", id: "vacancy-review-submit"
    - else
      = link_to t('jobs.submit_future'), school_job_publish_path(@vacancy.id), method: :post, class: "govuk-button", id: "vacancy-review-submit"
  .govuk-grid-column-one-third
    = render 'hiring_staff/vacancies/sidebar'
