- content_for :page_title_prefix, @vacancy.review_page_title
= render 'hiring_staff/vacancies/vacancy_form_partials/title'

.vacancy.govuk-grid-row
  .govuk-grid-column-two-thirds
    = render 'hiring_staff/vacancies/edit_heading'
    
    %p.govuk-body-l
      - if @vacancy.publish_on.today?
        = t('jobs.review')
      - else
        = t('jobs.review_future')

    = render 'hiring_staff/vacancies/error_messages', errors: @vacancy.errors
    
    %ol.app-task-list
      %li= render 'hiring_staff/vacancies/edit_vacancy_sections/edit_job_specification'
      %li= render 'hiring_staff/vacancies/edit_vacancy_sections/edit_pay_package'
      %li= render 'hiring_staff/vacancies/edit_vacancy_sections/edit_supporting_documents'
      %li= render 'hiring_staff/vacancies/edit_vacancy_sections/edit_application_details'
      %li= render 'hiring_staff/vacancies/edit_vacancy_sections/edit_job_summary'

    %h3.govuk-heading-m= t('jobs.preview_listing.heading')
    %p= t('jobs.preview_listing.message')
    = link_to t('jobs.preview_listing.button'), school_job_preview_path(@vacancy.id), class: 'govuk-button', id: 'vacancy-review-preview'

    %h3.govuk-heading-m= t('jobs.submit_listing.heading', count: @vacancy.publish_on.today? ? 0 : 1, date: @vacancy.publish_on.to_s.strip)
    %p= t('jobs.submit_listing.message_html')
    = link_to t('jobs.submit_listing.button'), school_job_publish_path(@vacancy.id), method: :post, class: 'govuk-button govuk-button--secondary', id: 'vacancy-review-submit'

    %br
    = link_to t('buttons.save_and_return'), school_path, class: 'govuk-link'

  .govuk-grid-column-one-third
    = render 'hiring_staff/vacancies/sidebar'
