- content_for :page_title_prefix, "Review the job details — Publish a job for #{@school.name}"

=render partial: 'school_vacancy_breadcrumb'

.grid-row
  .column-two-thirds
    %h1.heading-large
      = t('jobs.review_heading', school: @vacancy.school.name)
    %p.lede
      = t('jobs.review')

.vacancy.grid-row
  .column-two-thirds
    %table.check-your-answers.cya-questions-short
      %thead
        %tr
          %th{:colspan => "2"}
            %h2.heading-medium.mb0
              = t('jobs.job_specification')
            .font-xsmall.mb1
              = link_to job_specification_school_job_path do
                Change
                %span.visually-hidden the job specification
          %th
      %tbody
        %tr
          %td.cya-question
            = t('jobs.job_title')
          %td.cya-answer
            = @vacancy.job_title
          %td.cya-change
            = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'job_title')
        %tr
          %td.cya-question
            = t('jobs.description')
          %td.cya-answer
            = @vacancy.job_description
          %td.cya-change
            = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'job_description')
        %tr
          %td.cya-question
            = t('jobs.main_subject')
          %td.cya-answer
            = @vacancy.main_subject
          %td.cya-change
            = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'subject')
        %tr
          %td.cya-question
            = t('jobs.pay_scale')
          %td.cya-answer
            =@vacancy.pay_scale_range
          %td.cya-change
            = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'pay_scale_range')
        %tr
          %td.cya-question
            = t('jobs.salary_range')
          %td.cya-answer
            = @vacancy.salary_range("to")
          %td.cya-change
            = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'salary_range')
        %tr
          %td.cya-question
            = t('jobs.working_pattern')
          %td.cya-answer
            = @vacancy.working_pattern.humanize
          %td.cya-change
            = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'working_pattern')
        %tr
          %td.cya-question
            = t('jobs.flexible_working')
          %td.cya-answer
            = @vacancy.flexible_working
          %td.cya-change
            = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'flexible_working')
        %tr
          %td.cya-question
            = t('jobs.benefits')
          %td.cya-answer
            = @vacancy.benefits
          %td.cya-change
            = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'benefits')
        %tr
          %td.cya-question
            = t('jobs.weekly_hours')
          %td.cya-answer
            = @vacancy.weekly_hours
          %td.cya-change
            = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'weekly_hours')
        %tr
          %td.cya-question
            = t('jobs.leadership_level')
          %td.cya-answer
            - if @vacancy.leadership
              =@vacancy.leadership.title
          %td.cya-change
            = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'leadership')
        %tr
          %td.cya-question
            = t('jobs.starts_on')
          %td.cya-answer
            = format_date @vacancy.starts_on
          %td.cya-change
            = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'starts_on')
        %tr
          %td.cya-question
            = t('jobs.ends_on')
          %td.cya-answer
            = format_date @vacancy.ends_on
          %td.cya-change
            = link_to t('buttons.change'), job_specification_school_job_path(anchor: 'ends_on')

    %table.check-your-answers.cya-questions-short
      %thead
        %tr
          %th{:colspan => "2"}
            %h2.heading-medium.mb0
              = t('jobs.candidate_specification')
            .font-xsmall.mb1
              = link_to candidate_specification_school_job_path do
                Change
                %span.visually-hidden the candidate specification
          %th
      %tbody
        %tr
          %td.cya-question
            = t('jobs.education')
          %td.cya-answer
            = @vacancy.education
          %td.cya-change
            = link_to t('buttons.change'), candidate_specification_school_job_path(anchor: 'education')
        %tr
          %td.cya-question
            = t('jobs.qualifications')
          %td.cya-answer
            = @vacancy.qualifications
          %td.cya-change
            = link_to t('buttons.change'), candidate_specification_school_job_path(anchor: 'qualifications')
        %tr
          %td.cya-question
            = t('jobs.experience')
          %td.cya-answer
            = @vacancy.experience
          %td.cya-change
            = link_to t('buttons.change'), candidate_specification_school_job_path(anchor: 'experience')

    %table.check-your-answers.cya-questions-short
      %thead
        %tr
          %th{:colspan => "2"}
            %h2.heading-medium.mb0
              = t('jobs.application_details')
            .font-xsmall.mb1
              = link_to application_details_school_job_path do
                Change
                %span.visually-hidden the application details
          %th
      %tbody
        %tr
          %td.cya-question
            = t('jobs.contact_email')
          %td.cya-answer
            = @vacancy.contact_email
          %td.cya-change
            = link_to t('buttons.change'), application_details_school_job_path(anchor: 'contact_email')
        %tr
          %td.cya-question
            = t('jobs.application_link')
          %td.cya-answer
            = @vacancy.application_link
          %td.cya-change
            = link_to t('buttons.change'), application_details_school_job_path(anchor: 'application_link')
        %tr
          %td.cya-question
            = t('jobs.publication_date')
          %td.cya-answer
            = format_date @vacancy.publish_on
          %td.cya-change
            = link_to t('buttons.change'), application_details_school_job_path(anchor: 'publish_on')
        %tr
          %td.cya-question
            = t('jobs.deadline_date')
          %td.cya-answer
            = format_date @vacancy.expires_on
          %td.cya-change
            = link_to t('buttons.change'), application_details_school_job_path(anchor: 'expires_on')

    %h2.heading-medium Now submit your job
    %p= t('jobs.confirmation_summary')

    = link_to t('jobs.submit'), school_job_publish_path(vacancy_id: @vacancy.id), method: :post, class: "button"
