- content_for :page_title_prefix, "The job listing for #{@school.name} has been completed"

=render partial: 'school_vacancy_breadcrumb'

.vacancy.grid-row
  .column-two-thirds
    .govuk-box-highlight.margin-bottom-large
      %h1.heading-large.mt0
        = t('jobs.submitted')

      - if @vacancy.publish_today?
        %p= link_to t('jobs.preview_posted_job'), job_path(@vacancy), class: 'reversed-link'
      - else
        %p= link_to t('jobs.preview_posted_job'), school_job_path(@vacancy.id), class: 'reversed-link'

      %p.mb0 You can also view, amend or delete it on #{link_to "your school's dashboard", new_sessions_path, class: 'reversed-link'}

  .column-two-thirds
    %h3.heading-medium What happens next

    %p Your job listing will be posted on #{@vacancy.publish_on}.

    %p The listing will appear on the service until #{@vacancy.expires_on}, after which it will no longer be visible to jobseekers.

    %p #{link_to 'What did you think of this service?', '#'} (takes 30 seconds)
