- content_for :page_title_prefix, t('jobs.confirmation_page.page_title', organisation: current_organisation.name)

.vacancy.govuk-grid-row
  .govuk-grid-column-two-thirds
    .govuk-panel.govuk-panel--confirmation.submit-listing-success-gtm
      %span.hod-checkmark
        %svg{ xmlns: "http://www.w3.org/2000/svg", role: "presentation", focusable: "false", viewBox: "0 0 25 25", height: "40", width: "40" }
          %path{ fill: "currentColor", d: "M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" }

      %h1.govuk-panel__title
        = t('jobs.confirmation_page.submitted')

      .govuk-panel__body
        - if @vacancy.publish_today?
          %p= link_to t('jobs.confirmation_page.view_posted_job'), job_path(@vacancy), class: 'reversed-link'
        - else
          %p= link_to t('jobs.confirmation_page.view_posted_job'), organisation_job_path(@vacancy.id), class: 'reversed-link'

        %p{ class: 'govuk-!-margin-bottom-0' }= t('jobs.confirmation_page.dashboard_link', link: link_to('your dashboard', organisation_path, class: 'reversed-link')).html_safe

  .govuk-grid-column-two-thirds
    %h3.govuk-heading-m= t('jobs.confirmation_page.next_step')
    %p= t('jobs.confirmation_page.date_posted', date: @vacancy.publish_on)
    %p= t('jobs.confirmation_page.date_expires', application_deadline: OrganisationVacancyPresenter.new(@vacancy).application_deadline)
    %p
      = link_to(t('jobs.confirmation_page.feedback_link'), new_organisation_job_feedback_path(@vacancy.id), class: 'govuk-link')
      = t('jobs.confirmation_page.feedback_time')
