=render partial: 'school_vacancy_breadcrumb'

.vacancy.grid-row
  .column-full
    .govuk-box-highlight.margin-bottom-large
      %h1.heading-large.margin-top
        = t('vacancies.submitted')
      %p
        The system reference number is
        %br
        %strong.heading-medium=@vacancy.reference

  .column-two-thirds
    - if @vacancy.publish_today?
      %p
        = t('vacancies.view_posted_vacancy')
      %p
        = link_to vacancy_url(@vacancy), vacancy_path(@vacancy)
    - else
      %p
        = t('vacancies.preview_posted_vacancy', date: @vacancy.publish_on)
      %p
        = link_to school_vacancy_url(school_id: @school.id, id: @vacancy.id), school_vacancy_path(school_id: @school.id, id: @vacancy.id)
