=render partial: 'school_vacancy_breadcrumb'

.vacancy.grid-row
  .column-full
    .govuk-box-highlight.margin-bottom-large
      %h1.heading-large.mv0
        = t('jobs.submitted')

  .column-two-thirds
    - if @vacancy.publish_today?
      %p
        = t('jobs.view_posted_job')
      %p
        = link_to job_url(@vacancy), job_path(@vacancy)
    - else
      %p
        = t('jobs.preview_posted_job', date: @vacancy.publish_on)
      %p
        = link_to school_job_url(@vacancy.id), school_job_path(@vacancy.id)
