- content_for :page_title_prefix, t(".title")

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= t(".title")

    %p.govuk-body= t(".description")

    = form_for resource, url: jobseeker_registration_path do |f|
      = f.govuk_error_summary

      = f.govuk_email_field :email, label: { size: "s" }, width: "two-thirds"
      = f.govuk_password_field :password, label: { size: "s" }, width: "two-thirds"

      = f.govuk_submit t("buttons.continue"), classes: "govuk-!-margin-bottom-0"

    %hr.govuk-section-break.govuk-section-break--l.govuk-section-break--visible
    %h2.govuk-heading-m= t(".existing_account.title")
    %p.govuk-body= t(".existing_account.content_html", link_to: govuk_link_to(t(".existing_account.link"), new_jobseeker_session_path))

  .govuk-grid-column-one-third
    .account-sidebar
      %h2.account-sidebar__heading= t(".assistance.heading")
      %p.govuk-body-s= t(".assistance.content_html", link_to: govuk_link_to(t(".assistance.link"), new_identifications_path))
