- if @vacancy.present?
  - content_for :page_title_prefix, page_title_prefix(@vacancy, @form, t('jobs.job_location'))
- else
  - content_for :page_title_prefix, "#{@form.errors.present? ? 'Error: ' : ''}#{t('jobs.job_location')} — #{t('jobs.create_a_job_title_no_org')}"

= render 'hiring_staff/vacancies/vacancy_form_partials/heading'

- if @vacancy.present? && @vacancy&.state != 'create'
  = render 'hiring_staff/vacancies/vacancy_form_partials/cancel_and_return_link'
- else
  = link_to t('buttons.back'), job_location_organisation_job_path, class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @form, url: @form_submission_url, html: { method: @form_submission_url_method } do |f|
      = f.govuk_error_summary

      %h2.govuk-heading-l
        = t('jobs.job_location')

      = render 'hiring_staff/vacancies/vacancy_form_partials/hidden_state_input', f: f

      = f.govuk_collection_radio_buttons :school_id,
        @school_options,
        :id,
        :name,
        :address,
        legend: { text: t('helpers.fieldset.school_form.job_location_html') }

      = render 'hiring_staff/vacancies/vacancy_form_partials/submit', f: f

  .govuk-grid-column-one-third
    = render(CreateAJobSidebarComponent.new(vacancy: @vacancy))
