.grid-row
  .column-two-thirds
    %h1.heading-large= t('sign_in.organisation.title')

    %p.lede= t('sign_in.organisation.legend')

    = simple_form_for :azure, url: azure_path, method: :post do |f|
      .form-group
        %fieldset
          .form-group
            = f.collection_radio_buttons :urn, schools_to_radio(@schools), :first, :last, item_wrapper_tag: :div, item_wrapper_class: 'multiple-choice'

        = f.submit t('buttons.continue'), class: 'button'
