
%section.govuk-tabs__panel
    %h2.govuk-heading-m= t("jobs.pending_jobs")

    - if presenter.vacancies.any?
        %table{ class: 'vacancies govuk-table govuk-!-margin-top-4' }
            %thead.govuk-table__head
                %tr.govuk-table__row
                    %th.govuk-table__header= table_header_sort_by(t('jobs.job_title'), 'pending', column: 'job_title', sort: @sort)
                    %th.govuk-table__header= table_header_sort_by(t('jobs.date_to_be_posted'), 'pending', column: 'publish_on', sort: @sort)
                    %th.govuk-table__header= table_header_sort_by(t('jobs.expires_on'), 'pending', column: 'expires_on', sort: @sort)
                    %th.govuk-table__header{ colspan: 3}= t('jobs.actions')
            %tbody.govuk-table__body
                - presenter.vacancies.each do |vacancy|
                    = render partial: 'vacancy_pending', locals: { vacancy: vacancy, organisation: presenter.organisation }
    - else
        %p= t("jobs.no_pending_jobs")
