- content_for :page_title_prefix, "Edit description for #{@organisation.name}"

%h1.govuk-heading-l
  Edit description for
  = @organisation.name

= form_for @organisation, url: organisation_path do |form|

  - if @organisation.errors.any?
    %div.govuk-error-summary{ role: "alert", 'aria-labelledby' => "school-error-heading", tabindex: '-1' }
      %h2.govuk-error-summary__title#school-error-heading
        There was an error saving the description

  - description_class = 'form-group-error' if @organisation.errors[:description].any?
  %div.govuk-form-group{ class: description_class }
    = form.label :description, class: 'govuk-label' do
      Description
      = content_tag 'span', @organisation.errors[:description].join(', '), class: 'govuk-error-message' if @organisation.errors[:description].any?
    = form.text_area :description, class: 'govuk-textarea govuk-!-width-three-quarters', rows: 5

  %button.govuk-button{ type: 'submit' } Save
