- content_for :page_title_prefix, @organisation.name

.school.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-l{ class: 'govuk-!-margin-bottom-1' }
      = t('schools.jobs.index', organisation: @organisation.name)
    - if @multiple_organisations
      - if AuthenticationFallback.enabled?
        = link_to t('sign_in.organisation.change'), auth_email_change_organisation_path, class: 'govuk-link'
      - else
        = link_to t('sign_in.organisation.change'), auth_dfe_callback_path, class: 'govuk-link'

  .govuk-grid-column-full
    .govuk-form-group
      - if @organisation.vacancies.active.any?
        .dashboard-header
          = link_to t('buttons.create_job'), new_organisation_job_path, class: 'govuk-button govuk-!-margin-bottom-0 govuk-!-margin-top-0'
        .overflow-scroll
          = render partial: 'vacancies', locals: { organisation: @organisation, vacancies: @vacancies }
      - else
        = render partial: 'no_vacancies', locals: { organisation: @organisation }

  = render(HiringStaff::SchoolOverviewComponent.new(organisation: @organisation))
