- content_for :page_title_prefix, @organisation.name

.school.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-l{ class: 'govuk-!-margin-bottom-2' }
      = t('schools.jobs.index', organisation: @organisation.name)
    - if @multiple_organisations
      - if AuthenticationFallback.enabled?
        = link_to t('sign_in.organisation.change'), auth_email_change_organisation_path, class: 'govuk-link'
      - else
        = link_to t('sign_in.organisation.change'), auth_dfe_callback_path, class: 'govuk-link'

  .govuk-grid-column-full
    .govuk-form-group.create-a-job
      - if @organisation.vacancies.active.any?
        = link_to t('buttons.create_job'), new_organisation_job_path, class: 'govuk-button govuk-!-margin-bottom-0 govuk-!-margin-top-0'
        .overflow-scroll
          = render partial: 'vacancies', locals: { organisation: @organisation, vacancies: @vacancies }
      - else
        = render partial: 'no_vacancies', locals: { organisation: @organisation }

.govuk-grid-row
  .govuk-grid-column-full
    %table.check-your-answers.govuk-table
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{ colspan: "2" }
            %h2.govuk-heading-m
              = t('schools.info', organisation: @organisation.name)
          %th.govuk-table__header
      %tbody.govuk-table__body
        %tr.govuk-table__row
          %td.govuk-table__cell
            %strong.strong= t('schools.description')
          %td.govuk-table__cell
            = @organisation.description.presence || 'Not provided'
          %td.govuk-table__cell.change-answer
            = link_to edit_organisation_path, class: 'govuk-link' do
              = t('buttons.change')
              %span.govuk-visually-hidden
                description
        %tr.govuk-table__row
          %td.govuk-table__cell
            %strong.strong= t('schools.address')
          %td.govuk-table__cell
            = @organisation.full_address
          %td.govuk-table__cell
        %tr.govuk-table__row
          %td.govuk-table__cell
            %strong.strong= t('schools.school_age')
          %td.govuk-table__cell
            = @organisation.age_range
          %td.govuk-table__cell
        %tr.govuk-table__row
          %td.govuk-table__cell
            %strong.strong= t('schools.type')
          %td.govuk-table__cell
            = @organisation.school_type.label
          %td.govuk-table__cell
        %tr.govuk-table__row
          %td.govuk-table__cell
            %strong.strong Website
          %td.govuk-table__cell
            = link_to("#{@organisation.name} website (opens in a new window)", @organisation.url, class: 'govuk-link wordwrap', target: '_blank')
          %td.govuk-table__cell
