- content_for :page_title_prefix, @organisation.name

.school.govuk-grid-row
  %h1.govuk-heading-l.govuk-grid-column-two-thirds.inline-block{ class: 'govuk-!-margin-bottom-1' }
    = t('schools.jobs.index', organisation: @organisation.name)
  - if @organisation.is_a?(School) && @organisation.all_vacancies.active.any?
    .govuk-grid-column-one-third
      = link_to t("buttons.create_job"), new_organisation_job_path, class: "govuk-button govuk-!-margin-bottom-0 govuk-!-margin-top-0 float-right"
  - if @multiple_organisations && @organisation.is_a?(School)
    .govuk-grid-column-full
      - if AuthenticationFallback.enabled?
        = link_to t('sign_in.organisation.change'), auth_email_change_organisation_path, class: 'govuk-link'
      - else
        = link_to t('sign_in.organisation.change'), auth_dfe_callback_path, class: 'govuk-link'
  .govuk-grid-column-full
    .govuk-grid-row{ class: "govuk-!-margin-top-6" }
      = render(HiringStaff::VacanciesComponent.new(organisation: @organisation, sort: @sort, selected_type: @selected_type, filters: @filters, filters_form: @managed_organisations_form))
      = render(HiringStaff::NoVacanciesComponent.new(organisation: @organisation))

    = render(HiringStaff::SchoolOverviewComponent.new(organisation: @organisation))
