%section#school-overview.govuk-tabs__panel.no-border-override
  %h3.govuk-heading-l
    = t('schools.school_overview')
  %table.govuk-table
    %tbody.govuk-table__body
      %tr.govuk-table__row
        %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
          = t('schools.type')
        %td.govuk-table__cell
          = organisation_type(organisation: @vacancy.parent_organisation, with_age_range: false)
      %tr.govuk-table__row
        %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
          = t('schools.phase')
        %td.govuk-table__cell
          = school_phase(@vacancy.parent_organisation)
      %tr.govuk-table__row
        %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
          = t('schools.school_size')
        %td.govuk-table__cell
          = school_size(@vacancy.parent_organisation)
      %tr.govuk-table__row
        %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
          = t('schools.age_range')
        %td.govuk-table__cell
          = age_range(@vacancy.parent_organisation)
      %tr.govuk-table__row
        %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
          = t('schools.ofsted_report')
        - if ofsted_report(@vacancy.parent_organisation).present?
          %td.govuk-table__cell
            = link_to(t('schools.view_ofsted_report'), ofsted_report(@vacancy.parent_organisation), class: 'govuk-link wordwrap', target: '_blank')
        - else
          %td.govuk-table__cell
            = t('schools.no_information')
      %tr.govuk-table__row
        %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
          = t('schools.website')
        %td.govuk-table__cell
          = link_to("#{@vacancy.parent_organisation.name} website (opens in a new window)", @vacancy.parent_organisation.url, class: 'govuk-link link-wrap', target: '_blank')
      - if @vacancy.contact_email.present?
        %tr.govuk-table__row
          %td.govuk-table__cell{ class: "govuk-!-font-weight-bold" }
            = t('jobs.contact_email')
          %td.govuk-table__cell
            = mail_to @vacancy.contact_email, @vacancy.contact_email, class: 'govuk-link link-wrap', subject: t('jobs.contact_email_subject', job: @vacancy.job_title), body: t('jobs.contact_email_body', url: job_url(@vacancy))

  - if @vacancy.about_school.present?
    %h4.govuk-heading-s
      = t('schools.info', organisation: @vacancy.parent_organisation.name)
    %p= vacancy_or_organisation_description(@vacancy)

  - if @vacancy.school_visits.present?
    %h4.govuk-heading-s
      = t('jobs.school_visits_heading', school: @vacancy.parent_organisation.name)
    %p= @vacancy.school_visits

  %h4.govuk-heading-s
    = t('schools.school_location')
  %p= full_address(@vacancy.parent_organisation)

  - if @vacancy.parent_organisation.geolocation
    %div{ id: 'map_zoom', role: 'presentation', aria: { hidden: 'true', label: t('schools.map_aria_label') },  }
    = render partial: '/vacancies/school', formats: [:js], locals: { name: @vacancy.parent_organisation.name,
                                                          lat: @vacancy.parent_organisation.geolocation.x,
                                                          lng: @vacancy.parent_organisation.geolocation.y }

    %script{async: true, defer: true, src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap"}
