- content_for :page_title_prefix, "#{@job_specification_form.errors.present? ? 'Error: ' : ''}#{t('jobs.job_details')} — #{t('jobs.create_a_job', school: current_school.name)}"
= render 'hiring_staff/vacancies/vacancy_form_partials/title'

= simple_form_for @job_specification_form, action: :post, url: job_specification_school_job_path(school_id: current_school.id) do |f|

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render 'hiring_staff/vacancies/error_messages', errors: @job_specification_form.errors

      %h2.govuk-heading-l
        = t('jobs.job_details')

      .govuk-character-count{ "data-module": "govuk-character-count", "data-maxlength": 100 }
        = f.input :job_title,
                  label: t('jobs.job_title'),
                  hint: t('jobs.form_hints.job_title'),
                  wrapper_html: { id: 'job_title' },
                  input_html: { class: 'govuk-js-character-count' },
                  required: true
        %span#job_specification_form_job_title-info.govuk-hint.govuk-character-count__message{ "aria-live": "polite" }
          You can enter up to 100 characters
      = f.input :job_roles,
                as: :check_boxes,
                wrapper: :checkboxes,
                label: t('jobs.job_roles'),
                hint: t('jobs.form_hints.job_role'),
                wrapper_html: { id: 'job_role' },
                collection: job_role_options,
                required: true
      = f.input :subject_id,
                wrapper: 'select',
                label: t('jobs.main_subject'),
                hint: t('jobs.form_hints.subject'),
                wrapper_html: { id: 'main_subject' },
                collection: subject_options,
                required: false

      #other_subjects
        = f.input :first_supporting_subject_id,
                  wrapper: 'select',
                  label: t('jobs.first_supporting_subject'),
                  hint: t('jobs.form_hints.supporting_subject'),
                  wrapper_html: { id: 'first_supporting_subject' },
                  collection: subject_options,
                  required: false
        = f.input :second_supporting_subject_id,
                  wrapper: 'select',
                  label: t('jobs.second_supporting_subject'),
                  hint: t('jobs.form_hints.supporting_subject'),
                  wrapper_html: { id: 'second_supporting_subject' },
                  collection: subject_options,
                  required: false

      = f.input :working_patterns,
                as: :check_boxes,
                wrapper: :checkboxes,
                label: t('jobs.working_patterns'),
                hint: t('jobs.form_hints.working_patterns'),
                wrapper_html: { id: 'working_patterns' },
                collection: working_pattern_options,
                required: true

      %div.govuk-form-group#starts_on
        = f.gov_uk_date_field :starts_on,
                              legend_options: { page_heading: false, class: "govuk-label" }

      %div.govuk-form-group#ends_on
        = f.gov_uk_date_field :ends_on,
                              legend_options: { page_heading: false, class: "govuk-label" }

      = f.button :submit, t('buttons.save_and_continue')
    .govuk-grid-column-one-third
      = render 'hiring_staff/vacancies/sidebar'
