- if @vacancy.present?
  - content_for :page_title_prefix, page_title_prefix(@vacancy, @form, t('jobs.job_details'))
- else
  - content_for :page_title_prefix, "#{@form.errors.present? ? 'Error: ' : ''}#{t('jobs.job_details')} — #{t('jobs.create_a_job_title', organisation: current_organisation.name)}"

= render HiringStaff::VacancyFormPageHeadingComponent.new(@vacancy, session[:vacancy_attributes])
- if @vacancy.present? && @vacancy&.state != 'create'
  = render 'hiring_staff/vacancies/vacancy_form_partials/cancel_and_return_link'
- else
  = link_to t('buttons.back'), @previous_step_path, class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @form, url: @form_submission_url, html: { method: @form_submission_url_method } do |f|
      = f.govuk_error_summary

      %h2.govuk-heading-l= t('jobs.job_details')

      = render 'hiring_staff/vacancies/vacancy_form_partials/hidden_state_input', f: f

      .govuk-character-count{ "data-module": "govuk-character-count", "data-maxlength": 100 }
        = f.govuk_text_field :job_title,
          id: 'job_specification_form_job_title',
          label: { size: 's' },
          class: 'govuk-input string required govuk-js-character-count',
          required: true
        %span#job_specification_form_job_title-info.govuk-hint.govuk-character-count__message{ "aria-live": "polite" }
          You can enter up to 100 characters

      = f.govuk_collection_check_boxes :job_roles, job_role_options, :last, :first

      = f.govuk_collection_radio_buttons :suitable_for_nqt, %w[yes no], :to_s, :capitalize

      = f.govuk_fieldset legend: { text: t('helpers.legend.job_specification_form.subjects') } do

        %label{ for: 'job-specification-form-subject-search' }
          %span.govuk-visually-hidden Subject filter
        -# This heinous translation is temporary while we wait for a GOVUKDesignSystemFormBuilder issue to be resolved
        %span.govuk-hint#job-specification-form-subjects-hint
          =t('helpers.hint.job_specification_form.subjects_temporary')

        %div{ class: 'govuk-!-margin-bottom-6' }
          = render 'shared/checkbox_group', classes: 'checkbox-label__bold', f: f, search: true, scroll: true, attribute_name: :subjects, options: subject_options, value_method: :first, text_method: :first, hint_method: :last, small: true

      = f.govuk_collection_check_boxes :working_patterns, working_pattern_options, :last, :first

      = render 'hiring_staff/vacancies/vacancy_form_partials/submit', f: f

  .govuk-grid-column-one-third
    = render(HiringStaff::SidebarComponent.new(vacancy: @vacancy))
