- if @vacancy.present?
  - content_for :page_title_prefix, page_title_prefix(@vacancy, @job_specification_form, t('jobs.job_details'))
- else
  - content_for :page_title_prefix, "#{@job_specification_form.errors.present? ? 'Error: ' : ''}#{t('jobs.job_details')} — #{t('jobs.create_a_job_title', organisation: current_organisation.name)}"

= render 'hiring_staff/vacancies/vacancy_form_partials/heading'

- if @vacancy.present? && @vacancy&.state != 'create'
  = link_to t('buttons.cancel_and_return'), edit_organisation_job_path(@vacancy.id), class: 'govuk-back-link'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @job_specification_form, url: @job_specification_url, html: { method: @job_specification_url_method } do |f|
      = f.govuk_error_summary

      %h2.govuk-heading-l
        = t('jobs.job_details')

      = render 'hiring_staff/vacancies/vacancy_form_partials/hidden_state_input', f: f

      .govuk-character-count{ "data-module": "govuk-character-count", "data-maxlength": 100 }
        = f.govuk_text_field :job_title,
          id: 'job_specification_form_job_title',
          label: { text: t('helpers.fieldset.job_specification_form.job_title_html'), size: 's' },
          hint_text: t('helpers.hint.job_specification_form.job_title'),
          class: 'govuk-input string required govuk-js-character-count',
          required: true
        %span#job_specification_form_job_title-info.govuk-hint.govuk-character-count__message{ "aria-live": "polite" }
          You can enter up to 100 characters

      = f.govuk_collection_check_boxes :job_roles,
        job_role_options,
        :itself,
        :itself,
        legend: { text: t('helpers.fieldset.job_specification_form.job_roles') },
        hint_text: t('helpers.hint.job_specification_form.job_roles')

      = f.govuk_fieldset legend: { text: t('helpers.fieldset.job_specification_form.subjects') } do

        %label{ for: 'job-specification-form-subject-search' }
          %span.govuk-visually-hidden
            Subject filter
        %span.govuk-hint#job-specification-form-subjects-hint
          =t('helpers.hint.job_specification_form.subjects_hint')
        .checkboxes-with-scroll__filter.js-checkbox.display-none
          %input.govuk-input#job-specification-form-subject-search{ type: 'text', 'aria-describedby': 'job-specification-form-subjects-hint', name: 'subject-search' }

        = f.govuk_collection_check_boxes :subjects,
          subject_options,
          :first,
          :first,
          :last,
          small: true,
          classes: 'checkboxes-with-scroll subjects-options js-disabled-border'

      = f.govuk_collection_check_boxes :working_patterns,
        working_pattern_options,
        :last,
        :first,
        legend: { text: t('helpers.fieldset.job_specification_form.working_pattern_html') },
        hint_text: t('helpers.hint.job_specification_form.working_patterns')

      = render 'hiring_staff/vacancies/vacancy_form_partials/submit', f: f

  .govuk-grid-column-one-third
    - unless @vacancy&.published? || @vacancy&.state == 'copy'
      = render 'hiring_staff/vacancies/sidebar'
