%tr.govuk-table__row.vacancy[vacancy]
  %td.govuk-table__cell= govuk_link_to(vacancy.job_title, organisation_job_path(vacancy.id), class: 'view-vacancy-link')
  - if organisation.is_a?(SchoolGroup)
    %td.govuk-table__cell#vacancy_location= vacancy.readable_job_location
  %td.govuk-table__cell= vacancy.created_at
  %td.govuk-table__cell= vacancy.updated_at
  %td.govuk-table__cell= govuk_link_to(t('jobs.edit_link'), organisation_job_review_path(vacancy.id, edit_draft: true))
  %td.govuk-table__cell= govuk_link_to(t('jobs.delete_link'), organisation_job_path(id: vacancy.id), method: :delete, data: { confirm: t('jobs.are_you_sure', job_title: vacancy.job_title) })
