= render 'hiring_staff/vacancies/section_tag', section: 'job_summary'
= render 'hiring_staff/vacancies/error_tag', attributes: [:job_summary, :about_school], section: 'job_summary'

%h2.govuk-heading-m.app-task-list__section#job_summary_heading
  %span.app-task-list__section-number= edit_vacancy_section_number(:job_summary, current_organisation)
  = t('jobs.job_summary')
  = link_to t('buttons.change'), organisation_job_job_summary_path(@vacancy.id), class: 'govuk-link change-button', 'aria-label': t('jobs.aria_labels.change_job_summary')

%dl.app-check-your-answers.app-check-your-answers--short

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question.first-question#job_summary
      %h4.govuk-heading-s= t('jobs.job_summary')
    %dd.app-check-your-answers__answer.first-question= @vacancy.job_summary

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#about_school
      %h4.govuk-heading-s= t('jobs.about_school', school: @vacancy.organisation.name)
    %dd.app-check-your-answers__answer= @vacancy.about_school
