%h2.govuk-heading-m.mb0
  = t('jobs.job_specification')

.govuk-body-s.mb1
  = link_to edit_school_job_job_specification_path(@vacancy.id), class: 'govuk-link', 'aria-label': t('jobs.aria_labels.change_job_specification') do
    Change
    %span.govuk-visually-hidden the job specification

%dl.app-check-your-answers.app-check-your-answers--short

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.job_title')
    %dd.app-check-your-answers__answer
      = @vacancy.job_title
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'job_title'), 'aria-label': t('jobs.aria_labels.change_job_title'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.description')
    %dd.app-check-your-answers__answer
      = @vacancy.job_description
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'job_description'), 'aria-label': t('jobs.aria_labels.change_job_description'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.main_subject')
    %dd.app-check-your-answers__answer
      = @vacancy.main_subject
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'main_subject'), 'aria-label': t('jobs.aria_labels.change_main_subject'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.first_supporting_subject')
    %dd.app-check-your-answers__answer
      = @vacancy.first_supporting_subject
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'first_supporting_subject'), 'aria-label': t('jobs.aria_labels.change_first_supporting_subject'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.second_supporting_subject')
    %dd.app-check-your-answers__answer
      = @vacancy.second_supporting_subject
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'second_supporting_subject'), 'aria-label': t('jobs.aria_labels.change_second_supporting_subject'), class: 'govuk-link'

  - if @vacancy.working_patterns?
    .app-check-your-answers__contents
      %dt.app-check-your-answers__question
        = t('jobs.working_patterns')
      %dd.app-check-your-answers__answer
        = @vacancy.working_patterns
      %dd.app-check-your-answers__change
        = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'working_patterns'), 'aria-label': t('jobs.aria_labels.change_working_patterns'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.pay_scale')
    %dd.app-check-your-answers__answer
      =@vacancy.pay_scale_range
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'pay_scale_range'), 'aria-label': t('jobs.aria_labels.change_pay_scale'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.salary_range')
    %dd.app-check-your-answers__answer
      = @vacancy.salary_range("to")
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'salary_range'), 'aria-label': t('jobs.aria_labels.change_salary_range'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.newly_qualified_teacher')
    %dd.app-check-your-answers__answer
      = @vacancy.newly_qualified_teacher
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'newly_qualified_teacher'), 'aria-label': t('jobs.aria_labels.newly_qualified_teacher'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.benefits')
    %dd.app-check-your-answers__answer
      = @vacancy.benefits
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'benefits'), 'aria-label': t('jobs.aria_labels.change_employee_benefits'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.leadership_level')
    %dd.app-check-your-answers__answer
      - if @vacancy.leadership
        = @vacancy.leadership.title
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'leadership'), 'aria-label': t('jobs.aria_labels.change_leadership_level'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.starts_on')
    %dd.app-check-your-answers__answer
      = format_date @vacancy.starts_on
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'starts_on'), 'aria-label': t('jobs.aria_labels.change_expected_start_date'), class: 'govuk-link'

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.ends_on')
    %dd.app-check-your-answers__answer
      = format_date @vacancy.ends_on
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id, anchor: 'ends_on'), 'aria-label': t('jobs.aria_labels.change_end_date'), class: 'govuk-link'
