%h2.govuk-heading-m.app-task-list__section#job_details_heading
  %span.app-task-list__section-number 4.
  = t('jobs.application_details')
  = link_to t('buttons.change'), school_job_application_details_path(@vacancy.id), class: 'govuk-link change-button', 'aria-label': t('jobs.aria_labels.change_application_details')

%dl.app-check-your-answers.app-check-your-answers--short

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question.first-question#contact_email
      %h4.govuk-heading-s= t('jobs.contact_email')
    %dd.app-check-your-answers__answer.first-question
      =mail_to 'Job contact email', @vacancy.contact_email, class: 'govuk-link', 'aria-label': t('jobs.aria_labels.contact_email_link', email: @vacancy.contact_email)

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#application_link
      %h4.govuk-heading-s= t('jobs.application_link')
    %dd.app-check-your-answers__answer
      = link_to @vacancy.application_link, class: 'govuk-link', 'aria-label': t('jobs.aria_labels.application_link_url', url: @vacancy.application_link) do
        %span.govuk-body-m.govuk-link= t('jobs.application_link_url')
        %br
        %span.govuk-body-s.govuk-link= @vacancy.application_link

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#publish_on
      %h4.govuk-heading-s= t('jobs.publication_date')
    %dd.app-check-your-answers__answer= format_date @vacancy.publish_on

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#expires_on
      %h4.govuk-heading-s= t('jobs.application_deadline')
    %dd.app-check-your-answers__answer
      = format_date @vacancy.expires_on
      = t('jobs.time_at') unless @vacancy.expiry_time.nil?
      = format_time @vacancy.expiry_time
