%h2.govuk-heading-m.app-task-list__section#job_details_heading
  %span.app-task-list__section-number 1.
  = t('jobs.job_details')
  = link_to t('buttons.change'), school_job_job_specification_path(@vacancy.id), class: 'govuk-link change-button', 'aria-label': t('jobs.aria_labels.change_job_details')
  - unless @vacancy.job_roles&.any? && !missing_subjects?(@vacancy)
    %strong.govuk-tag.notification-tag
      = t('jobs.notification_labels.new')

%dl.app-check-your-answers.app-check-your-answers--short

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question.first-question#job_title
      %h4.govuk-heading-s= t('jobs.job_title')
    %dd.app-check-your-answers__answer.first-question= @vacancy.job_title

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#job_roles
      %h4.govuk-heading-s= t('jobs.job_roles')
    %dd.app-check-your-answers__answer= @vacancy.show_job_roles

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#subjects
      %h4.govuk-heading-s= t('jobs.subjects')
    %dd.app-check-your-answers__answer= @vacancy.show_subjects

  - if @vacancy.working_patterns?
    .app-check-your-answers__contents
      %dt.app-check-your-answers__question#working_patterns
        %h4.govuk-heading-s= t('jobs.working_patterns')
      %dd.app-check-your-answers__answer= @vacancy.working_patterns
