%h2.govuk-heading-m.mb0#pay_package_heading
  = t('jobs.pay_package')
  
.govuk.body-s.mb1#change-pay-package
  = link_to school_job_pay_package_path(@vacancy.id, change: true), class: 'govuk-link', 'aria-label': t('jobs.aria_labels.pay_package') do
    Change
    %span.govuk-visually-hidden the pay package

%dl.app-check-your-answers.app-check-your-answers--short

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.salary')
    %dd.app-check-your-answers__answer
      = @vacancy.salary
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), school_job_pay_package_path(@vacancy.id, change: true, anchor: 'pay-package-form-salary-field'), 'aria-label': t('jobs.aria_labels.change_salary'), class: 'govuk-link'
    
  .app-check-your-answers__contents
    %dt.app-check-your-answers__question
      = t('jobs.benefits')
    %dd.app-check-your-answers__answer
      = @vacancy.benefits
    %dd.app-check-your-answers__change
      = link_to t('buttons.change'), school_job_pay_package_path(@vacancy.id, change: true, anchor: 'pay-package-form-benefits-field'), 'aria-label': t('jobs.aria_labels.benefits'), class: 'govuk-link'
    