%h2.govuk-heading-m.app-task-list__section#job_details_heading
  %span.app-task-list__section-number 1.
  = t('jobs.job_details')
  - if @vacancy.published?
    = link_to t('buttons.change'), edit_school_job_job_specification_path(@vacancy.id), class: 'govuk-link change-button', 'aria-label': t('jobs.aria_labels.change_job_details')
  - else
    = link_to t('buttons.change'), job_specification_school_job_path, class: 'govuk-link change-button', 'aria-label': t('jobs.aria_labels.change_job_details')
  - unless @vacancy.job_roles&.any?
    .notification-tag
      %strong.govuk-tag.app-task-list__task-completed
        = t('jobs.notification_labels.new')

%dl.app-check-your-answers.app-check-your-answers--short

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question.first-question#job_title
      %h4.govuk-heading-s= t('jobs.job_title')
    %dd.app-check-your-answers__answer.first-question= @vacancy.job_title

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#job_roles
      %h4.govuk-heading-s= t('jobs.job_roles')
    %dd.app-check-your-answers__answer= @vacancy.show_job_roles

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#subject
      %h4.govuk-heading-s= t('jobs.subjects')
    %dd.app-check-your-answers__answer= @vacancy.all_subjects

  - if @vacancy.working_patterns?
    .app-check-your-answers__contents
      %dt.app-check-your-answers__question#working_patterns
        %h4.govuk-heading-s= t('jobs.working_patterns')
      %dd.app-check-your-answers__answer= @vacancy.working_patterns

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#starts_on
      %h4.govuk-heading-s= t('jobs.starts_on')
    %dd.app-check-your-answers__answer= @vacancy.starts_on

  .app-check-your-answers__contents
    %dt.app-check-your-answers__question#ends_on
      %h4.govuk-heading-s= t('jobs.ends_on')
    %dd.app-check-your-answers__answer= @vacancy.ends_on

