- content_for :page_title_prefix, "#{@copy_form.errors.present? ? 'Error: ' : ''}Copy a job for #{@school.name}"

%h1.govuk-heading-l
  = t('jobs.copy_page_title', job_title: @copy_form.vacancy.job_title.downcase)
  %span.govuk-caption-l
    Step 1 of 2

= render 'hiring_staff/vacancies/error_messages', errors: @copy_form.errors
= simple_form_for @copy_form, html: { class: 'copy-form' }, action: :post, url: school_job_copy_path do |f|
  %h2.govuk-heading-m
    = t('jobs.job_specification')

  .govuk-grid-row
    .govuk-grid-column-one-half
      = f.input :job_title,
                label: t('jobs.job_title'),
                hint: t('jobs.form_hints.job_title'),
                wrapper_html: {id: 'job_title'},
                input_html: {class: 'govuk-input'},
                required: true

      %div.govuk-form-group#starts_on
        = f.gov_uk_date_field :starts_on,
                              legend_text: "#{t('jobs.starts_on')} (optional)",
                              legend_class: 'govuk-label',
                              form_hint_text: t('jobs.form_hints.start_date',
                                                date: l(Date.today + 3.months, format: :hinttext))
      %div.govuk-form-group#ends_on
        = f.gov_uk_date_field :ends_on,
                              legend_text: "#{t('jobs.ends_on')} (optional)",
                              legend_class: 'govuk-label',
                              form_hint_text: t('jobs.form_hints.end_date',
                                                date: l(Date.today + 6.months, format: :hinttext))
      %h2.govuk-heading-m
        = t('jobs.application_details')

      %div.govuk-form-group#publish_on
        = f.gov_uk_date_field :publish_on,
                              legend_text: t('jobs.publication_date'),
                              legend_class: 'govuk-label',
                              form_hint_text: t('jobs.form_hints.publication_date',
                                              date: l(Date.today, format: :hinttext))

      %div.govuk-form-group#expires_on
        = f.gov_uk_date_field :expires_on,
                              legend_text: t('jobs.deadline_date'),
                              legend_class: 'govuk-label',
                              form_hint_text: t('jobs.form_hints.deadline_date',
                                                date: l(Date.today + 2.months, format: :hinttext))

      = f.button :submit, t('buttons.save_and_continue')
