- content_for :page_title_prefix, "#{@copy_form.errors.present? ? 'Error: ' : ''}Copy a job for #{current_school.name}"

%h1.govuk-heading-l
  = t('jobs.copy_page_title', job_title: @copy_form.vacancy.job_title.downcase)
  %span.govuk-caption-l
    Step 1 of 2

= simple_form_for @copy_form, html: { class: 'copy-form' }, action: :post, url: school_job_copy_path do |f|
  %h2.govuk-heading-m
    = t('jobs.job_details')

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render 'hiring_staff/vacancies/error_messages', errors: @copy_form.errors
      = f.input :job_title,
                label: t('jobs.job_title'),
                hint: t('jobs.form_hints.job_title'),
                wrapper_html: { id: 'job_title' },
                input_html: { class: 'govuk-input' },
                required: true
      - if @copy_form.vacancy.job_role.none?
        = f.input :job_role,
                  as: :check_boxes,
                  wrapper: :checkboxes,
                  label: t('jobs.job_role'),
                  hint: t('jobs.form_hints.job_role'),
                  wrapper_html: { id: 'job_role' },
                  collection: job_role_options,
                  required: true

      %div.govuk-form-group#starts_on
        = f.gov_uk_date_field :starts_on,
                              legend_options: { page_heading: false, class: "govuk-label" }

      %div.govuk-form-group#ends_on
        = f.gov_uk_date_field :ends_on,
                              legend_options: { page_heading: false, class: "govuk-label" }

      %h2.govuk-heading-m
        = t('jobs.application_details')

      %div.govuk-form-group#publish_on
        = f.gov_uk_date_field :publish_on,
                              legend_options: { page_heading: false, class: "govuk-label" }

      %div.govuk-form-group#expires_on
        = f.gov_uk_date_field :expires_on,
                              legend_options: { page_heading: false, class: "govuk-label" }

      = render 'hiring_staff/vacancies/expiry_time_field', f: f, form: @copy_form

      = f.button :submit, t('buttons.save_and_continue')
