- content_for :page_title_prefix, "#{@copy_form.errors.present? ? 'Error: ' : ''}Copy a job for #{current_organisation.name}"

%h1.govuk-heading-m= t('jobs.copy_job_title', job_title: @copy_form.vacancy.job_title)

= link_to t('buttons.cancel_copy'), organisation_path, class: 'govuk-back-link govuk-!-margin-bottom-5'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @copy_form, url: organisation_job_copy_path, data: { vacancy_state: 'copy' } do |f|
      = f.govuk_error_summary

      %h2.govuk-heading-l= t('jobs.new_job_listing_details')

      = render 'hiring_staff/vacancies/vacancy_form_partials/hidden_state_input', f: f, copy: true

      .govuk-character-count{ "data-module": "govuk-character-count", "data-maxlength": 100 }
        = f.govuk_text_field :job_title, id: 'copy_form_job_title', label: { size: 's' },
          class: 'govuk-input string required govuk-js-character-count',
          required: true
        %span#copy_form_job_title-info.govuk-hint.govuk-character-count__message{ "aria-live": "polite" }
          You can enter up to 100 characters

      = f.govuk_date_field :publish_on

      = f.govuk_date_field :expires_on

      = render 'hiring_staff/vacancies/expiry_time_field', f: f

      = f.govuk_date_field :starts_on

      = f.govuk_submit classes: 'govuk-!-margin-bottom-5'

    = link_to t('buttons.cancel_copy'), organisation_path, class: 'govuk-link govuk-link--no-visited-state govuk-!-font-size-19'
