- content_for :page_title_prefix, "#{@copy_form.errors.present? ? 'Error: ' : ''}Copy a job for #{current_school.name}"

%h1.govuk-heading-l
  = t('jobs.copy_page_title', job_title: @copy_form.vacancy.job_title.downcase)
  %span.govuk-caption-l
    Step 1 of 2

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @copy_form, url: school_job_copy_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f|
      = f.govuk_error_summary t('jobs.errors_present')

      %h2.govuk-heading-m
        = t('jobs.job_details')

      .govuk-character-count{ "data-module": "govuk-character-count", "data-maxlength": 100 }
        = f.govuk_text_field :job_title,
          id: 'copy_form_job_title',
          label: { text: t('helpers.fieldset.job_specification_form.job_title_html'), size: 's' },
          hint_text: t('helpers.hint.job_specification_form.job_title'),
          class: 'govuk-input string required govuk-js-character-count',
          required: true
        %span#copy_form_job_title-info.govuk-hint.govuk-character-count__message{ "aria-live": "polite" }
          You can enter up to 100 characters

      - unless @vacancy.job_roles.present?
        = f.govuk_collection_check_boxes :job_roles,
          job_role_options,
          :itself,
          :itself,
          legend: { text: t('helpers.fieldset.job_specification_form.job_roles_html'), size: 's' },
          hint_text: t('helpers.hint.job_specification_form.job_roles')

      = f.govuk_date_field :starts_on,
        legend: { text: t('helpers.fieldset.job_specification_form.starts_on'), size: 's' },
        hint_text: t('helpers.hint.job_specification_form.starts_on')

      = f.govuk_date_field :ends_on,
        legend: { text: t('helpers.fieldset.job_specification_form.ends_on'), size: 's' },
        hint_text: t('helpers.hint.job_specification_form.ends_on')

      - unless @vacancy.about_school.present?
        %h2.govuk-heading-m
        = t('jobs.job_summary')

        = f.govuk_text_area :about_school,
          label: { text: t('helpers.fieldset.job_summary_form.about_school_html', school: current_school.name), size: 's' },
          hint_text: t('helpers.hint.job_summary_form.about_school'),
          value: @vacancy.about_school.presence || @vacancy.school.description.presence.to_s,
          rows: 10,
          required: true

      %h2.govuk-heading-m
        = t('jobs.application_details')

      = f.govuk_date_field :publish_on,
        legend: { text: t('helpers.fieldset.application_details_form.publish_on_html'), size: 's' },
        hint_text: t('helpers.hint.application_details_form.publish_on')

      = f.govuk_date_field :expires_on,
        legend: { text: t('helpers.fieldset.application_details_form.expires_on_html'), size: 's' },
        hint_text: t('helpers.hint.application_details_form.expires_on')

      = render 'hiring_staff/vacancies/expiry_time_field', f: f

      = f.govuk_submit t('buttons.save_and_continue')
