- content_for :page_title_prefix do
  = t('sign_in.title')

%h1.govuk-heading-l
  = t('sign_in.title')
.govuk-grid-row
  .govuk-grid-column-two-thirds
    = simple_form_for :identifications, url: identifications_path, :defaults => { :input_html => { :class => "text" } }, method: :post do |f|
      .govuk-form-group
        %p= t('sign_in.intro')
        %p= t('sign_in.guidance', email: mail_to('teaching.vacancies@education.gov.uk', nil, class: 'govuk-link')).html_safe
        = f.submit t('sign_in.link'), class: 'govuk-button'
