- content_for :page_title_prefix, t('sign_in.title')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-l= t('sign_in.title')

    %p= t('pages.home.signin.description')

    = render 'hiring_staff/identifications/signin'

    %hr.govuk-section-break.govuk-section-break--l.govuk-section-break--visible

    %h2.govuk-heading-m= t('.request_account_title')

    %p= t('.request_account_html', mail_to: mail_to(t('help.email'), t('help.email'), class: 'govuk-link'))
