- content_for :page_title_prefix do
  = t('sign_in.title')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    - if ENV['FEATURE_SIGN_IN_ALERT'].to_s == "true"
      .govuk-error-summary{ aria: { labelledby: "error-summary-title" }, role: "alert", tabindex: "-1" }
        %h2.govuk-error-summary__title
          = t('.you_might_have_problems_signing_in')
        .govuk-error-summary__body
          = t('.some_of_our_users')

    %h1.govuk-heading-l= t('sign_in.title')

    %p= t('pages.home.signin.description')

    = render 'hiring_staff/identifications/signin'

    %hr.govuk-section-break.govuk-section-break--l.govuk-section-break--visible

    %h2.govuk-heading-m= t('.request_account_title')

    %p= t('.request_account_html', mail_to: mail_to(t('help.email'), t('help.email'), class: 'govuk-link'))
