- content_for :head do
  = render partial: 'shared/gtag'
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags

- content_for :header_class do
  with-proposition

- content_for :page_title do
  #{content_for :page_title_prefix} — #{t('app.title')}

- content_for :cookie_message do
  %p Teaching Jobs uses cookies to make the site simpler. #{link_to 'Find out more about how we use cookies', page_path('cookies')}

- content_for :proposition_header do
  .header-proposition
    .content
      %a.js-header-toggle.menu{ href: '#proposition-links' }
        = t('app.menu')

      %nav#proposition-menu
        %a#proposition-name{ href: '/' }
          = t('app.title')
        %ul#proposition-links
          - if authenticated?
            %li= link_to t('nav.school_page_link'), school_path(school: current_school), class: active_link_class(school_path)
            %li= link_to t('nav.sign_out'), sessions_path, method: :delete
          - else
            %li= link_to t('nav.sign_in'), new_sessions_path

- content_for :content do
  %main#content{ role: 'main', tabindex: -1 }
    .phase-banner
      %p
        %strong.phase-tag
          BETA
        %span
          This is a new service - #{link_to 'your feedback', 'https://www.surveymonkey.co.uk/r/FV5YF9Q'} will help us to improve it.

    - flash.each do |name, msg|
      %div{class: "flash #{name}"}
        %span= msg
    = yield

- content_for :footer_top do
  %p
    Problems using this service? Email
    = mail_to I18n.t('help.email')
    for support.

- content_for :footer_support_links do
  %h2.visuallyhidden Support links
  %ul
    %li=link_to 'Cookies', page_path('cookies')
    %li=link_to 'Privacy policy', page_path('privacy-policy')
    %li=link_to 'Terms and Conditions', page_path('terms-and-conditions')


= render file: 'layouts/govuk_template'
